<template>
<app-frame>
    <app-layout>
        <app-layout-section>
            <app-card
                title="What is AIFap?">
                <app-card-section>
                    <p>
                        AIFap is a platform which indexes and recommends porn.
                        Posts are sourced from Reddit, and the recommendations are
                        powered by your own likes and dislikes.
                        The more your rate, the better our recommendations will get.
                    </p>
                    <p>
                        The project was started in the wake of the shutdown of BetterFap,
                        the original ML-powered porn platform.
                    </p>
                    <p>
                        The platform is developed by anonymous individuals interested in improving porn using machine learning.
                        We are not associated in any way with the BetterFap team.
                    </p>
                </app-card-section>
                <app-card-section
                    title="Contact">
                    You can contact us by:
                    <ul>
                        <li>
                            Emailing
                            <a href="mailto:aifapdeveloper@gmail.com">
                                aifapdeveloper@gmail.com
                            </a>
                        </li>
                        <li>
                            Joining our discord using this link:
                            <a href="https://discord.gg/5f3bsDd">
                                https://discord.gg/5f3bsDd
                            </a>
                        </li>
                    </ul>
                </app-card-section>
            </app-card>
        </app-layout-section>
        <app-layout-section>
            <app-card
                sectioned
                title="Donations & running costs">
                We are not currently asking for donations. Once the project
                progresses further and running costs increase, we will ask 
                users to contribute. We intend to do this in a transparent way, 
                communicating our running costs and the impact of donations clearly.
            </app-card>
        </app-layout-section>
    </app-layout>
</app-frame>
</template>

<script>
export default {
    components: {
    }
}
</script>