<template>
<app-page
    fixed-width
    title="Sign in">
    <app-layout>
        <app-layout-section>
            <app-card
                sectioned>
                <form @submit.prevent="signin">
                    <app-form-layout>
                        <app-text-field
                            v-model="username"
                            label="Username"/>
                        <app-text-field
                            v-model="password"
                            label="Password"
                            type="password"/>
                        <app-checkbox
                            label="Remember me"
                            v-model="remember"/>
                        <app-button
                            type="submit"
                            primary
                            @click="signin">
                            Sign in
                        </app-button>
                        &nbsp;
                        <router-link
                            :to="{name: 'Signup'}">
                            Don't have an account? Register to get started.
                        </router-link>
                    </app-form-layout>
                </form>
            </app-card>
        </app-layout-section>
    </app-layout>
</app-page>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';
import session from '@/http/session';

export default {
    components: {
    },
    data() {
        return {
            submitting: false,
            
            username: '',
            password: '',
            remember: false,
        };
    },
    methods: {
        async signin() {
            if (this.submitting) {
                return;
            }
                
            this.submitting = true;
            try {
                var res = await api.post('/account/login', {
                    username: this.username,
                    password: this.password,
                    remember: this.remember,
                });
            } catch (e) {
                this.submitting = false;
                if (e.response && e.response.status == 422) {
                    var errorBag = e.response.data.errors;
                    alert.showAlert(Object.values(errorBag)[0][0]);
                } else {
                    throw e;
                }
            }
            
            this.submitting = false;
            if (res.data.success) {
                alert.showAlert('Successfully logged in.');
                session.refreshUser();
                this.$router.push({name: 'Homepage'});
            } else {
                alert.showAlert('Couldn\'t login. Please make sure your username & password are correct and try again.');
            }
        },
    },
}
</script>