<template>
<app-frame>
    <app-layout>
        <app-layout-section>
            <div class="AIF-NotFound">
                <div class="AIF-NotFound__Illustration">
                    <img :src="imgAifConfused"/>
                </div>
                <div class="AIF-NotFound__Content">
                    <div class="AIF-NotFound__Title">
                        Not Found
                    </div>
                    <div class="AIF-NotFound__Message">
                    </div>
                </div>
            </div>
        </app-layout-section>
    </app-layout>
</app-frame>
</template>

<script>
import imgAifConfused from '@/images/aif_confused.png';

export default {
    data() {
        return {
            imgAifConfused,
        };
    },
};
</script>

<style lang="scss">
.AIF-NotFound {
    width: 100%;
    height: 100%;
}
</style>