<template>
<app-page
    fixed-width
    title="Register">
    <app-layout>
        <app-layout-section>
            <app-card
                sectioned>
                <form @submit.prevent="signup">
                    <app-form-layout>
                        <app-text-field
                            v-model="username"
                            label="Username"/>
                        <app-text-field
                            v-model="password"
                            label="Password"
                            type="password"/>
                        <div>
                            <p>Default gender filters (you can change this at any time)</p>
                            <gender-filter
                                v-model="genders"/>
                        </div>
                        <div>
                            <p>Default media filters (you can change this at any time)</p>
                            <media-filter
                                v-model="media"/>
                        </div>
                        <div>
                            <p>Default art style filters (you can change this at any time)</p>
                            <artstyle-filter
                                v-model="artstyles"/>
                        </div>
                        <app-button
                            type="submit"
                            primary
                            @click="signup">
                            Sign up
                        </app-button>
                        &nbsp;
                        <router-link
                            :to="{name: 'Login'}">
                            Already have an account? Sign in.
                        </router-link>
                    </app-form-layout>
                </form>
            </app-card>
        </app-layout-section>
    </app-layout>
</app-page>
</template>

<script>
import GenderFilter from '@/components/GenderFilter';
import MediaFilter from '@/components/MediaFilter';
import ArtstyleFilter from '@/components/ArtstyleFilter';

import api from '@/http/api';
import alert from '@/services/alert';
import session from '@/http/session';

export default {
    components: {
        GenderFilter,
        MediaFilter,
        ArtstyleFilter,
    },
    data() {
        return {
            submitting: false,
            
            username: '',
            password: '',
            genders: [
                'solo-women',
                'solo-men',
                'straight',
                'gay',
                'lesbian',
                'transexual',
                'unknown',
            ],
            media: [
                'image',
                'animated',
                'video',
                'audio',
                'text',
            ],
            artstyles: [
                'real-life',
                'hentai',
                '3d',
            ],
        };
    },
    methods: {
        async signup() {
            if (this.submitting) {
                return; 
            }
            this.submitting = true;
            try {
                var res = await api.post('/account/signup', {
                    username: this.username,
                    password: this.password,
                    filters: {
                        gender: this.genders,
                        media: this.media,
                        artstyle: this.artstyles,
                    }
                });
            } catch (e) {
                if (e.response && e.response.status == 422) {
                    var errorBag = e.response.data.errors;
                    alert.showAlert(Object.values(errorBag)[0][0]);
                } else {
                    throw e;
                }
            }
            
            if (res.data.success) {
                alert.showAlert('Successfully logged in.');
                session.refreshUser();
                this.$router.push({name: 'FeedPopular'});
            } else {
                alert.showAlert('Couldn\'t signup. Please try again.');
            }
            this.submitting = false;
        },
    },
}
</script>