<template>
<app-page
    no-padding
    :class="{
        'AIF-Viewer': 1,
        'AIF-Viewer--fullscreen': fullscreen,
    }">
    <template v-if="currentPost && currentPost.flagged">
        <p>Flagged.</p>
    </template>
    <post-viewer
        :style="{ display: (currentPost && currentPost.flagged) ? 'none' : '' }"
        v-touch:swipe.right="prevPost"
        v-touch:swipe.left="nextPost"
        :show-video-controls="settings && settings.show_video_controls"
        :loading="loading"
        :post="currentPost"
        :fullscreen="fullscreen"
        :blacklisted="isBlacklisted && !blacklistDismissed"
        :muted="!settings.play_sound_by_default"
        @dismiss-blacklist="blacklistDismissed = true"
        @next="nextPost"
        @prev="prevPost">
        <div 
            @click="controlsPopupOpen = true"
            class="AIF-Viewer__ControlsShortcut">
            <i class="fal fa-fw fa-gamepad"></i>
        </div>
    </post-viewer>
    <post-information
        v-if="!settings.use_old_viewer && currentPost"
        v-touch:swipe.right="prevPost"
        v-touch:swipe.left="nextPost"
        :left-handed="settings.left_hand_controls"
        :post="currentPost"
        :rating="rating"
        :watch-later-entry="watchLaterEntry"
        :session="session"
        :display-title="!settings.hide_titles"
        @next="nextPost"
        @prev="prevPost"
        @rate="onRate"
        @watch-later="onWatchLater"
        @flag="onFlag"
        @amend="onAmend"
        @manage-tags="onManageTags"
        @add-to-list="onAddToList"/>
    <app-layout v-if="session && settings.use_old_viewer">
        <app-layout-section>
            <app-button
                style="display:none"
                v-shortkey="{wasd: ['space']}"
                @shortkey.native="scrollToggle"
                @click="scrollToggle">
                <i class="fal fa-fw fa-heart"></i>
            </app-button>
            <app-button
                style="display:none"
                v-shortkey="{wasd: ['a'], arrows: ['arrowleft']}"
                @shortkey.native="prevPost"
                @click="prevPost">
                <i class="fal fa-fw fa-heart"></i>
            </app-button>
            <app-button
                style="display:none"
                v-shortkey="{wasd: ['d'], arrows: ['arrowright']}"
                @shortkey.native="nextPost"
                @click="nextPost">
                <i class="fal fa-fw fa-heart"></i>
            </app-button>
            <app-split collapse-mobile fixed>
                <post-card
                    v-if="currentPost"
                    v-touch:swipe.right="prevPost"
                    v-touch:swipe.left="nextPost"
                    :post="currentPost"
                    :rating="rating"
                    :watch-later-entry="watchLaterEntry"
                    @rate="onRate"
                    @watch-later="onWatchLater"
                    @flag="onFlag"
                    @amend="onAmend"/>
                <app-card
                    v-touch:swipe.right="prevPost"
                    v-touch:swipe.left="nextPost"
                    sectioned
                    title="Feed session">
                    <p>
                        Viewing feed '{{ session.feedType }}'
                    </p>
                    <br>
                    <p>
                        Filters:
                        <br>
                        <gender-filter
                            :value="session.filters.gender_type"/>
                        <br>
                        <media-filter
                            :value="session.filters.media_type"/>
                        <br>
                        <artstyle-filter
                            :value="session.filters.artstyle_type"/>
                    </p>
                </app-card>
            </app-split>
        </app-layout-section>
    </app-layout>
    
    <app-button
        style="display:none"
        v-shortkey="{wasd: ['f'], arrows: ['+']}"
        @shortkey.native="fullscreenToggle"
        @click="fullscreenToggle">
        Fullscreen
    </app-button>
    
    <popup-amend
        :current-type-gender="currentPost && currentPost.type_gender"
        :current-type-artstyle="currentPost && currentPost.type_artstyle"
        :open="amendPopupOpen"
        @close="amendPopupOpen = false"
        @amend="onAmendComplete"/>
    <popup-flag
        :open="flagPopupOpen"
        @close="flagPopupOpen = false"
        @flag="onFlagComplete"/>
    <popup-manage-tags
        :current-tags="currentPost && currentPost.tags"
        :open="manageTagsPopupOpen"
        @close="manageTagsPopupOpen = false"
        @change-tags="onChangeTags"/>
    <popup-controls
        :open="controlsPopupOpen"
        @close="controlsPopupOpen = false"/>
    <popup-add-to-list
        :lists="savedLists"
        :open="addToListPopupOpen"
        :post="addToListPost"
        @close="addToListPopupOpen = false"/>
</app-page>
</template>

<script>
import _ from 'lodash';
import Vue from 'vue';
import upperFirst from 'lodash/upperFirst'

import api from '@/http/api';
import httpSession from '@/http/session';
import viewedPosts from '@/services/viewedPosts';
import feedSessions from '@/services/feedSessions';
import alert from '@/services/alert';

import PostViewer from '@/components/PostViewer';
import PostDetails from '@/components/PostDetails';
import PostCard from '@/components/PostCard';
import GenderFilter from '@/components/GenderFilter';
import MediaFilter from '@/components/MediaFilter';
import ArtstyleFilter from '@/components/ArtstyleFilter';
import PostInformation from '@/components/PostInformation';

import PopupControls from '@/components/PopupControls';
import PopupFlag from '@/components/PopupFlag';
import PopupAmend from '@/components/PopupAmend';
import PopupManageTags from '@/components/PopupManageTags';
import PopupAddToList from '@/components/PopupAddToList';

export default {
    components: {
        PostViewer,
        PostDetails,
        PostCard,
        GenderFilter,
        MediaFilter,
        ArtstyleFilter,
        PopupFlag,
        PopupAmend,
        PopupControls,
        PopupManageTags,
        PopupAddToList,
        PostInformation,
    },
    data() {
        return {
            loading: true,
            session: null,
            settings: {},
            blacklistedSubs: [],
            blacklistedTags: [],
            trust: null,
            
            posts: [],
            canNext: false,
            canPrev: false,
            
            rating: null,
            watchLaterEntry: null,
            viewed: false,
            
            scrolledToInfo: false,
            fullscreen: false,
            blacklistDismissed: false,
            
            savedLists: [],
            addToListPost: null,
            addToListPopupOpen: false,
            
            flagPopupOpen: false,
            amendPopupOpen: false,
            controlsPopupOpen: false,
            manageTagsPopupOpen: false,
        };
    },
    computed: {
        keymap() {
            return {
            };
        },
        currentPost() {
            if (!this.session || this.session.position >= this.posts.length) {
                return null;
            }
            return this.posts[this.session.position];
        },
        isBlacklisted() {
            if (!this.currentPost) {
                return false;
            }
            
            if (this.blacklistedSubs.indexOf(this.currentPost.subreddit_id) > -1) {
                return true;
            }
            
            for (let tag of this.currentPost.tags) {
                if (this.blacklistedTags.indexOf(tag.id) > -1) {
                    return true;
                }
            }
            return false;
        },
    },
    watch: {
        '$route': function() {
            this.initialize()
        },
    },
    mounted() {
        this.initialize();
    },
    methods: {
        async initialize() {
            this.loading = true;
            var sessionId = this.$route.params.session;
            var page = this.$route.params.page;
            var position = this.$route.params.position;
            var postId = this.$route.params.post;
            
            httpSession.getSettings().then(s => {
                this.settings = s;
            });
            
            httpSession.getContentPrefs().then(prefs => {
                this.blacklistedSubs = prefs.blacklisted_subreddits.map(sub => sub.id);
                this.blacklistedTags = prefs.blacklisted_tags.map(tag => tag.id);
            });
            
            api.get('/saved_lists').then(res => {
                this.savedLists = res.data.saved_lists;
            });
            
            var res = await api.get('/account/trust');
            this.trust = res.data.trust;
            
            this.session = await feedSessions.getSession(sessionId);
            if (!this.session && postId) {
                var session = await feedSessions.getSinglePostSession(postId);
                session.index();
                console.log('recreating sessin w single post', {session});
                this.$router.replace({
                    name: 'Viewer',
                    params: {
                        session: session.id,
                        page: session.page,
                        position: session.position,
                        post: postId,
                    },
                });
                return;
            }
            this.initialLoad(page, position);
        },
        onChangePost() {
            this.rating = null;
            if (this.currentPost.ratings && this.currentPost.ratings.length > 0) {
                this.rating = this.currentPost.ratings[0];
            } else {
                this.rating = null;
            }
            if (this.currentPost.watch_later_entries && this.currentPost.watch_later_entries.length > 0) {
                this.watchLaterEntry = this.currentPost.watch_later_entries[0];
            } else {
                this.watchLaterEntry = null;
            }
            if (!this.currentPost.views || this.currentPost.views.length <= 0) {
                viewedPosts.markViewed(this.currentPost.id);
            } 
            this.viewed = true;
            viewedPosts.markViewed(this.currentPost.id, true);
            this.blacklistDismissed = false;
            
            var url = this.$router.resolve({
                name: 'Viewer',
                params: {
                    session: this.session.id,
                    page: this.session.page,
                    position: this.session.position,
                    post: this.currentPost.id,
                },
            }).href;
            window.history.pushState({}, null, url)
        },
        async initialLoad(page, position) {
            this.loading = true;
            var posts = await this.session.index(page, position);
            if (posts) {
                this.posts = posts;
                this.onChangePost();
            } else {
                alert.showAlert('No posts in this feed.');
            }
            this.loading = false;
        },
        async nextPage() {
            this.loading = true;
            var posts = await this.session.nextPage();
            if (posts && posts.length > 0) {
                this.posts = posts;
            } else {
                await this.prevPage();
                alert.showAlert('Reached end of feed.');
            }
            this.loading = false;
            this.onChangePost();
        },
        async prevPage() {
            this.loading = true;
            var posts = await this.session.prevPage();
            if (posts && posts.length > 0) {
                this.posts = posts;
            } else {
                alert.showAlert('Reached start of feed.');
            }
            this.loading = false;
            this.onChangePost();
        },
        nextPost: _.throttle(function() {
            if (this.loading) {
                return;
            }
            if (this.session.position >= this.posts.length - 1) {
                this.nextPage();
                return;
            }
            this.session.position++;
            this.onChangePost();
        }, 150),
        prevPost: _.throttle(function() {
            if (this.loading) {
                return;
            }
            if (this.session.position <= 0) {
                this.prevPage();
                return;
            }
            this.session.position--;
            this.onChangePost();
        }, 150),
        
        
        async onRate(rating) {
            if (this.rating && this.rating.type == rating) {
                rating = 'neutral';
            }
            
            var post = this.currentPost;
            
            var res = await api.post('posts/' + post.id + '/rate', {
                rating,
            });
            
            if (!res.data.success) {
                if (res.data.message) {
                    alert.showAlert(res.data.message);
                } else {
                    alert.showAlert('Could not rate that post.');
                }
                return;
            }
            
            this.rating = res.data.rating;
            if (this.rating) {
                alert.showAlert(upperFirst(this.rating.type) + 'd! Keep rating to improve recommendations.', 1000);
                post.ratings = [this.rating];
            } else {
                alert.showAlert('Removed your rating from this post.', 1000);
                post.ratings = [];
            }
            this.onChangePost();
        },
        
        onManageTags() {
            for (let level of this.trust.levels) {
                if (level.achieved) {
                    for (let unlock of level.unlocks) {
                        if (unlock.key == 'tag-posts') {
                            this.manageTagsPopupOpen = true;
                            return;
                        }
                    }
                }
            }
            alert.showAlert('You don\'t have a high enough Trust level to tag posts yet. View your trust in your profile.');
        },
        async onChangeTags({ tags }) {
            var res = await api.post('posts/' + this.currentPost.id + '/tag', {
                tags
            });
            
            if (res.data.success) {
                if (res.data.tags) {
                    this.currentPost.tags = res.data.tags;
                }
                alert.showAlert('Post tagged. Thank you!');
                this.manageTagsPopupOpen = false;
            } else {
                if (res.data.message) {
                    alert.showAlert(res.data.message);
                } else {
                    alert.showAlert('Couldn\'t amend that post.');
                }
            }
        },
        
        onAmend() {
            this.amendPopupOpen = true;
        },
        async onAmendComplete({ typeGender, typeArtstyle }) {
            var res = await api.post('posts/' + this.currentPost.id + '/amend', {
                type_gender: typeGender,
                type_artstyle: typeArtstyle,
            });
            
            if (res.data.success) {
                if (res.data.amend.type_gender) {
                    this.currentPost.type_gender = res.data.amend.type_gender;
                }
                if (res.data.amend.type_artstyle) {
                    this.currentPost.type_artstyle = res.data.amend.type_artstyle;
                }
                alert.showAlert('Post amended. Thank you!');
                this.amendPopupOpen = false;
            } else {
                if (res.data.message) {
                    alert.showAlert(res.data.message);
                } else {
                    alert.showAlert('Couldn\'t amend that post.');
                }
            }
        },
        
        onAddToList() {
            this.addToListPopupOpen = true;
            this.addToListPost = this.currentPost;
        },
        async onAddToListComplete({ list_id }) {
            var res = await api.post('saved_lists/' + list_id + '/posts/' + this.currentPost.id);
            if (res.data.success) {
                if (res.data.message) {
                    alert.showAlert(res.data.message);
                }
                this.addToListPopupOpen = false;
            } else {
                alert.showAlert('Couldn\'t add post to that list.');
            }
        },
        
        onFlag() {
            this.flagPopupOpen = true;
        },
        async onFlagComplete({ type, message }) {
            var res = await api.post('posts/' + this.currentPost.id + '/flag', {
                type,
                message,
            });
            
            if (res.data.success) {
                this.currentPost.flagged = true;
                this.nextPost();
                alert.showAlert('Post flagged. Thank you!');
                this.flagPopupOpen = false;
            } else {
                if (res.data.message) {
                    alert.showAlert(res.data.message);
                } else {
                    alert.showAlert('Could not rate that post.');
                }
                alert.showAlert('Couldn\'t flag that post.');
            }
        },
        async onWatchLater() {
            var post = this.currentPost;
            var res = await api.post('posts/' + post.id + '/watchlater', {
                include: !this.watchLaterEntry,
            });
            
            if (!res.data.success) {
                if (res.data.message) {
                    alert.showAlert(res.data.message);
                } else {
                    alert.showAlert('Could not rate that post.');
                }
                return;
            }
            
            this.watchLaterEntry = res.data.entry;
            if (this.watchLaterEntry) {
                post.watch_later_entries = [this.watchLaterEntry];
                alert.showAlert('Added to your watch later feed in \'My stuff\'!');
            } else {
                post.watch_later_entries = [];
                alert.showAlert('Removed from your watch later feed.');
            }
            this.onChangePost();
        },
        scrollToggle() {
            if (this.scrolledToInfo) {
                window.scrollTo(0, 0);
            } else {
                window.scrollTo(0, document.body.scrollHeight);
            }
            this.scrolledToInfo = !this.scrolledToInfo;
            return false;
        },
        async fullscreenToggle() {
            this.fullscreen = !this.fullscreen;
            
            if (document.fullscreenElement && !this.fullscreen) {
                document.exitFullscreen();
            } 
            if (!document.fullscreenElement && this.fullscreen) {
                try { 
                    await this.$el.requestFullscreen();
                } catch (e) {
                    console.log(e);
                    alert.showAlert('Error entering fullscreen mode. Please check you\'ve allowed us permission.');
                }
            }
        },
        preventDefault(callback) {
            return (e) => {
                e.preventDefault();
                callback();
            };
        },
    },
}
</script>

<style lang="scss">
.AIF-Viewer {

    &__ControlsShortcut {
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 3rem;
        cursor: pointer;
        
        transition: color 0.2s;
        
        color: rgba(255,255,255,0.2);
        &:hover {
            color: rgba(255,255,255,0.8);
        }
        
        @media screen and (max-width: 939px) {
            display: none;
        }
    }
    
    &__PageFrame {
        min-height: 100%;
    }
    
}
</style>
