<template>
<div class="AIF-ArtstyleFilter">
    <app-toggle-button
        title="Real-life"
        :active="isActive('real-life')"
        @click="toggle('real-life')">
        <icon-artstyle-reallife/>
    </app-toggle-button>
    <app-toggle-button
        title="Art, hentai, comic, etc."
        :active="isActive('hentai')"
        @click="toggle('hentai')">
        <icon-artstyle-hentai/>
    </app-toggle-button>
    <app-toggle-button
        title="3D, Source film maker, etc."
        :active="isActive('3d')"
        @click="toggle('3d')">
        <icon-artstyle-3-d/>
    </app-toggle-button>
</div>
</template>


<script>
import _ from 'lodash';

export default {
    model: {
        prop: 'value',
        'event': 'change',
    },
    props: {
        value: [Array, String],
        single: Boolean,
    },
    methods: {
        isActive(choice) {
            if (this.single) {
                return this.value == choice;
            }
            return _.includes(this.value, choice);
        },
        toggle(choice) {
            if (this.isActive(choice)) {
                if (this.single) {
                    this.$emit('change', null);
                } else {
                    this.$emit('change', _.difference(this.value, [choice]));
                }
            } else {
                if (this.single) {
                    this.$emit('change', choice);
                } else {
                    this.$emit('change', _.union(this.value, [choice]));
                }
            }
        },
    },
};
</script>



<style lang="scss">
.AIF-ArtstyleFilter {
    display: inline-block;
    
    .AIF-AppToggleButton {
        border-color: #00aaaa;
        color: #00aaaa;
    }
}
</style>