<script>
import Vue from 'vue';

function loadScript(src, cb) {
  var script = document.createElement('script');
  script.async = true;
  script.src = src;

  script.onerror = function() {
    cb(new Error("Failed to load" + src));
  };

  script.onload = function() {
    cb();
  };

  document.getElementsByTagName("head")[0].appendChild(script);
}

window.adsbyjuicy = window.adsbyjuicy || []

function loadAd(adid, adwidth, adheight, parent) {
    console.log('loadAd', adid);
	var el = document.createElement('ins');
    el.id = adid;
    el.dataset.width = adwidth;
    el.dataset.height = adheight;
   	parent.appendChild(el);
    
    window.adsbyjuicy.length = 0;
    window.adsbyjuicy.push({
    	adzone: adid
    });
    
    loadScript('https://adserver.juicyads.com/js/jads.js', () => {});
}


export default {
    render(createElement) {
        return createElement('div', {
            'class': {
                'AIF-BannerAd': 1,
            }
        });
    },
    props: {
        adid: String,
        width: String,
        height: String,
        ignoreWidth: Boolean,
    },
    methods: {
        runAd() {
            loadAd(this.adid, this.ignoreWidth ? null : this.width, this.height, this.$el);
        }
    },
    mounted() {
        console.log('mounted ad', {adid: this.adid, width: this.width});
        this.runAd();
    }
}
</script>

<style lang="scss">
.AIF-BannerAd {
    display: flex;
    justify-content: center;
    align-items: center;
    
    iframe {
        width: 100%;
    }
}
</style>