<template>
<app-overlay
    :open="open"
    @close="onClose"
    class="AIF-ControlsOverlay">
    <strong>
        CONTROLS
    </strong>
    <p>
        <span class="AIF-ControlsOverlay__Action">
            Play/pause  &mdash;
        </span>
        <span>Click image</span>&nbsp;&nbsp;<span>Tap image</span>
        <br>
        <br>
        <span class="AIF-ControlsOverlay__Action">
            Previous post &mdash;
        </span>
        <key>A</key> <key><i class="fal fa-fw fa-arrow-left"></i></key> &nbsp;&nbsp;<span>Swipe left</span>
        <br>
        <span class="AIF-ControlsOverlay__Action">
            Next post &mdash;
        </span>
        <key>D</key> <key><i class="fal fa-fw fa-arrow-right"></i></key> &nbsp;&nbsp;<span>Swipe right</span>
        <br>
        <br>
        <span class="AIF-ControlsOverlay__Action">
            Love post &mdash;
        </span>
        <key>2</key> <key>PageUp</key>
        <br>
        <span class="AIF-ControlsOverlay__Action">
            Like post &mdash;
        </span>
        <key>W</key> <key><i class="fal fa-fw fa-arrow-up"></i></key>
        <br>
        <span class="AIF-ControlsOverlay__Action">
            Dislike post &mdash;
        </span>
        <key>S</key> <key><i class="fal fa-fw fa-arrow-down"></i></key>
        <br>
        <span class="AIF-ControlsOverlay__Action">
            Hate post &mdash;
        </span>
        <key>X</key> <key>PageDown</key>
        <br>
        <br>
        <span class="AIF-ControlsOverlay__Action">
            Watch later &mdash;
        </span>
        <key>O</key> <key>Home</key>
        <br>
        <br>
        <span class="AIF-ControlsOverlay__Action">
            Flag post&mdash;
        </span>
        <key>P</key> <key>Del</key>
        
    </p>
</app-overlay>
</template>

<script>
export default {
    props: {
        open: Boolean,
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
    },
};
</script>

<style lang="scss">
.AIF-ControlsOverlay {
    &__Action {
        display: inline-block;
        width: 12rem;
        text-align: right;
    }
    key {
        width: 1.5rem;
        display: inline-block;
    }
}
</style>