<template>
<div class="AIF-FeedViewError">
    <app-banner
        v-if="error == 'not_enough_ratings'"
        title="Not enough ratings"
        warning>
        <div class="AIF-FeedViewError__Split">
            <img 
                class="AIF-FeedViewError__Image"
                style="height: 80px;"
                :src="imgConfused"/>
            <div class="AIF-FeedViewError__Content">
                <p>You haven't made enough ratings yet for us to start understanding your preferences.</p>
                <p>Please rate some more posts from New or Popular and then refresh the feed (<i class="fal fa-fw fa-sync"></i>).</p>
            </div>
        </div>
    </app-banner>
    <app-banner
        v-else
        title="Unknown error"
        error>
        Got the following error while refreshing the feed: '{{ error }}'.
        <br>
        Please try again.
    </app-banner>
</div>
</template>

<script>
import imgConfused from '@/images/aif_confused.png';

export default {
    props: {
        error: String,
    },
    data() {
        return {
            imgConfused,
        };
    },
};
</script>


<style lang="scss">
.AIF-FeedViewError {
    &__Split {
        display: flex;
        align-items: center;
    }
    &__Content {
        flex-grow: 1;
    }
    &__Image {
        margin-right: 1rem;
        padding: 0.5rem;
        display: block;
        object-fit: contain;
    }
}
</style>