<template>
<app-layout>
    <app-layout-section>
        <app-card
            :title="title">
            <app-card-section>
                <slot name="description"></slot>
            </app-card-section>
            <slot name="sessionControls" 
                :session="session" 
                :setSessionParams="setSessionParams"
                :refresh="refresh">
            </slot>
            <app-card-section v-if="session && allowManualRefresh">
                <app-button
                    primary
                    :disabled="refreshing"
                    @click="refresh">
                    {{ refreshLabel }}
                    <i class="fal fa-fw fa-sync"></i>
                </app-button>
                &nbsp;
                <app-text subdued>
                    Last refresh: {{ session.refreshedAt | fromNow }}
                </app-text>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <app-layout-section v-if="session">
        <div class="AIF-FeedView__Filters">
            <div class="AIF-FeedView__FiltersMain">
                Filters:
                &nbsp;
                &nbsp;
                <gender-filter
                    v-model="session.filters.gender_type"/>
                &nbsp;
                &nbsp;
                <media-filter
                    v-model="session.filters.media_type"/>
                &nbsp;
                &nbsp;
                <artstyle-filter
                    v-model="session.filters.artstyle_type"/>
            </div>
            <div class="AIF-FeedView__FiltersAdditional">
                <label v-if="showViewedFilter">
                    <input 
                        type="checkbox"
                        :value="true"
                        :checked="session.params.show_viewed"
                        @click="() => setSessionParams('show_viewed', !session.params.show_viewed)">
                    Show viewed
                </label>
                <template v-if="showSortFilter">
                    &nbsp;
                    &nbsp;
                    Sort:
                    &nbsp;
                    <select
                        :value="session.params.sort"
                        @change="e => setSessionParams('sort', e.target.value)">
                        <option 
                            v-for="order in sortOrders"
                            :value="order.value">
                            {{ order.label }}
                        </option>
                    </select>
                </template>
            </div>
        </div>
    </app-layout-section>
    <app-layout-section>
        <feed-banner-ad/>
    </app-layout-section>
    <slot name="abovePosts"
        v-if="session"
        :session="session" 
        :setSessionParams="setSessionParams"
        :refresh="refresh">
    </slot>
    <app-layout-section style="position: relative"
        v-if="session">
        <transition name="fade" v-if="refreshing">
            <loading-recommendations style="animation-speed: 0.3s;"/>
        </transition>
        <feed-view-never-refreshed
            v-if="neverRefreshed"/>
        <feed-view-error
            v-if="session && session.error"
            :error="session.error"/>
        <post-list
            v-if="!neverRefreshed && ((posts && posts.length > 0) || !session.error)"
            :posts="posts"
            @play="onPlay"
            @load-more="onLoadMore"
            :loading="loading"
            :can-load-more="canLoadMore"
            :can-remove="canRemove"
            @remove="onRemove"
            @add-to-list="onAddToList"
            :feed-icon="feedIcon"
            :score-icon="scoreIcon"
            :show-debug="settings.show_feed_debug"
            :make-play-route="makePlayRoute"
            :display-titles="!settings.hide_titles"/>
    </app-layout-section>
    <popup-add-to-list
        :lists="savedLists"
        :open="addToListPopupOpen"
        :post="addToListPost"
        @close="addToListPopupOpen = false"/>
</app-layout>
</template>

<script>
import api from '@/http/api';
import session from '@/http/session';
import feedSessions from '@/services/feedSessions';
import alert from '@/services/alert';

import PostViewer from '@/components/PostViewer';
import PostDetails from '@/components/PostDetails';
import PostCard from '@/components/PostCard';
import PostList from '@/components/PostList';
import GenderFilter from '@/components/GenderFilter';
import MediaFilter from '@/components/MediaFilter';
import ArtstyleFilter from '@/components/ArtstyleFilter';

import PopupAddToList from '@/components/PopupAddToList';

import LoadingRecommendations from '@/components/LoadingRecommendations';
import FeedViewNeverRefreshed from '@/components/FeedViewNeverRefreshed';
import FeedViewError from '@/components/FeedViewError';

import BannerAd from '@/components/BannerAd';
import FeedBannerAd from '@/components/FeedBannerAd';

export default {
    components: {
        PostViewer,
        PostDetails,
        PostCard,
        PostList,
        GenderFilter,
        MediaFilter,
        ArtstyleFilter,
        LoadingRecommendations,
        FeedViewNeverRefreshed,
        FeedViewError,
        PopupAddToList,
        BannerAd,
        FeedBannerAd,
    },
    props: {
        title: String,
        createSession: Function,
        refreshOnInit: Boolean,
        allowManualRefresh: Boolean,
        
        showViewedFilter: Boolean,
        showSortFilter: Boolean,
        sortOrders: Array,
        
        canRemove: Boolean,
        
        refreshLabel: {
            type: String,
            default: 'Refresh feed',
        },
        scoreLabel: {
            type: String,
            default: 'Score',
        },
        feedIcon: {
            type: String,
            default: 'question',
        },
        scoreIcon: {
            type: String,
            default: 'heart',
        },
    },
    data() {
        return {
            loading: false,
            canLoadMore: true,
            refreshing: true,
            session: null,
            
            settings: null,
            
            posts: [],
            
            savedLists: [],
            addToListPost: null,
            addToListPopupOpen: false,
        };
    },
    computed: {
        neverRefreshed() {
            return !this.refreshing && !this.loading && !this.session.refreshedAt;
        },
    },
    watch: {
        'session.filters': {
            deep: true,
            handler() {
                if (this.loading) {
                    return;
                }
                this.refresh();
            }
        },
        '$route': function() {
            this.initialize();
        },
    },
    mounted() {
        this.initialize();
        
    },
    methods: {
        onRemove(post) {
            this.$emit('remove', post);
        },
        onAddToList(post) {
            this.addToListPopupOpen = true;
            this.addToListPost = post;
        },
        async setSessionParams(key, value) {
            if (this.loading) {
                return;
            }
            this.session.params[key] = value;
            this.refresh();
        },
        async initialize() {
            session.getSettings().then(s => {
                this.settings = s;
            });
            
            api.get('/saved_lists').then(res => {
                this.savedLists = res.data.saved_lists;
            });
            
            this.session = await this.createSession();
            if (this.refreshOnInit) {
                this.refresh();
            } else {
                this.index();
            }
        },
        async index() {
            if (this.loading) {
                return; 
            }
            try {
                this.loading = true;
                var posts = await this.session.index();
                this.posts = posts;
                this.loading = false;
                this.refreshing = false;
                this.canLoadMore = true;
            } catch (e) {
                this.loading = false;
                this.refreshing = false;
                throw e;
            }
        },
        async refresh() {
            if (this.loading) {
                return; 
            }
            try { 
                this.refreshing = true;
                this.loading = true;
                var posts = await this.session.refresh();
                this.posts = posts;
                this.loading = false;
                this.refreshing = false;
                this.canLoadMore = true;
            } catch (e) {
                this.loading = false;
                this.refreshing = false;
                throw e;
            }
        },
        async onLoadMore() {
            if (this.loading) {
                return; 
            }
            try {
                this.loading = true;
                var posts = await this.session.nextPage();
                if (posts && posts.length > 0) {
                    this.posts = this.posts.concat(posts);
                } else {
                    await this.session.prevPage();
                    alert.showAlert('Reached end of feed.');
                    this.canLoadMore = false;
                }
                this.loading = false;
            } catch (e) {
                this.loading = false;
                this.refreshing = false;
                throw e;
            }
        },
        makePlayRoute(post) {
            return {
                name:'Viewer',
                params: {
                    session: this.session.id,
                    page: post._pagination.page,
                    position: post._pagination.position,
                    post: post.id,
                },
            };
        },
        onPlay({ post, newTab }) {
            var route = this.makePlayRoute(post);
            if (newTab) {
                window.open(this.$router.resolve(route).href);
            } else {
                this.$router.push(route);
            }
        }
    },
}
</script>

<style lang="scss">
.AIF-FeedView {
    &__Filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__FiltersMain {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    &__FiltersAdditional {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
    }
}
</style>