<template>
<div class="AIF-FeedViewNeverRefreshed">
    <div class="AIF-FeedViewNeverRefreshed__Content">
        <div class="AIF-FeedViewNeverRefreshed__Icon">
            <i class="fal fa-fw fa-arrow-up"></i>
            <i class="fal fa-fw fa-sync"></i>
        </div>
        <div class="AIF-FeedViewNeverRefrehsed__Message">
            Hit the refresh button to generate this feed.
        </div>
    </div>
</div>
</template>

<script>
</script>

<style lang="scss">
.AIF-FeedViewNeverRefreshed {
    display: flex;
    padding: 4rem;
    
    &__Content {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__Icon {
        font-size: 8rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    &__Message {
    }
}
</style>