<template>
<div class="AIF-FeedBannerAd"
    :testcolumns="columns">
    <template v-if="type == 'nativead'">
        <banner-ad
            key="1"
            v-if="columns < 3"
            adid="773727"
            width="616"
            height="352"
            ignore-width/>
        <banner-ad
            key="2"
            v-if="columns == 3"
            adid="773728"
            width="924"
            height="352"
            ignore-width/>
        <banner-ad
            key="3"
            v-if="columns == 4"
            adid="773729"
            width="1232"
            height="352"
            ignore-width/>
        <banner-ad
            key="4"
            v-if="columns > 4"
            adid="773730"
            width="1540"
            height="352"
            ignore-width/>
    </template>
    <template v-if="type == 'billboard'">
        <banner-ad
            :key="5"
            adid="773739"
            width="908"
            height="270"
            ignore-width/>
    </template>
    <template v-if="type == 'leaderboard'">
        <banner-ad
            :key="5"
            adid="773740"
            width="728"
            height="102"
            ignore-width/>
    </template>
</div>
</template>

<script>
import BannerAd from '@/components/BannerAd';

export default {
    components: {
        BannerAd,
    },
    data() {
        return {
            resizeTrigger: 0,
        };
    },
    computed: {
        columns() {
            var test = this.resizeTrigger ? 0 : 0;
            
            if (!this.$el) {
                return 1;
            }
            var cols = Number((this.$el.clientWidth / 300).toFixed(0)) + test;
            return cols;
        },
        type() {
            return this.choose([
                'leaderboard',
                'nativead',
                'billboard',
            ]);
        },
    },
    mounted() {
        window.addEventListener('resize', () => {
            this.resizeTrigger++;
        });
        this.resizeTrigger++;
    },
    methods: {
        choose(choices) {
            var index = Math.floor(Math.random() * choices.length);
            return choices[index];
        },
    }
};
</script>
    
<style lang="scss">
.AIF-FeedBannerAd {
    iframe {
        width: 100;
    }
}
</style>