<template>
<div class="AIF-GenderFilter">
    <app-toggle-button
        title="Solo women"
        :active="isActive('solo-women')"
        @click="toggle('solo-women')">
        <icon-solo-women class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">F</span>
    </app-toggle-button>
    <app-toggle-button
        title="Solo men"
        :active="isActive('solo-men')"
        @click="toggle('solo-men')">
        <icon-solo-men class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">M</span>
    </app-toggle-button>
    <app-toggle-button
        title="Women with Men"
        :active="isActive('straight')"
        @click="toggle('straight')">
        <icon-hetero class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">FM</span>
    </app-toggle-button>
    <app-toggle-button
        title="Women with Women"
        :active="isActive('lesbian')"
        @click="toggle('lesbian')">
        <icon-lesbian class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">FF</span>
    </app-toggle-button>
    <app-toggle-button
        title="Men with Men"
        :active="isActive('gay')"
        @click="toggle('gay')">
        <icon-gay class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">MM</span>
    </app-toggle-button>
    <app-toggle-button
        title="Transgendered"
        :active="isActive('transexual')"
        @click="toggle('transexual')">
        <icon-transexual class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">T</span>
    </app-toggle-button>
    <app-toggle-button
        title="Posts we haven't worked out the orientation of yet."
        :active="isActive('unknown')"
        @click="toggle('unknown')">
        <icon-gender-unknown class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">?</span>
    </app-toggle-button>
</div>
</template>


<script>
import _ from 'lodash';

export default {
    model: {
        prop: 'value',
        'event': 'change',
    },
    props: {
        value: [Array, String],
        single: Boolean,
    },
    methods: {
        isActive(choice) {
            if (this.single) {
                return this.value == choice;
            }
            return _.includes(this.value, choice);
        },
        toggle(choice) {
            if (this.isActive(choice)) {
                if (this.single) {
                    this.$emit('change', null);
                } else {
                    this.$emit('change', _.difference(this.value, [choice]));
                }
            } else {
                if (this.single) {
                    this.$emit('change', choice);
                } else {
                    this.$emit('change', _.union(this.value, [choice]));
                }
            }
        },
    },
};
</script>

<style lang="scss">
.AIF-GenderFilter {
    display: inline-block;
}


.AIF-App--colorblindMode {
    .AIF-AppToggleButton.AIF-AppButton {
        border-color: #ff0000;
        border-width: 2px;
        filter: none;
        color: red;
        text-decoration: line-through;
    }
    .AIF-AppToggleButton.AIF-AppButton:not(.AIF-AppToggleButton--active) {
        i {
            color: #ff0000 !important;
        }
    }
    .AIF-AppToggleButton.AIF-AppToggleButton--active {
        border-color: #00ff00;
        color: white;
        text-decoration: none;
    }
}
</style>
