<template>
<div class="AIF-GenderFilter">
    <app-toggle-button
        title="Solo women"
        :active="isActive('solo-women')"
        @click="toggle('solo-women')">
        <icon-solo-women class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">F</span>
    </app-toggle-button>
    <app-toggle-button
        title="Solo men"
        :active="isActive('solo-men')"
        @click="toggle('solo-men')">
        <icon-solo-men class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">M</span>
    </app-toggle-button>
    <app-toggle-button
        title="Women with Men"
        :active="isActive('straight')"
        @click="toggle('straight')">
        <icon-hetero class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">FM</span>
    </app-toggle-button>
    <app-toggle-button
        title="Women with Women"
        :active="isActive('lesbian')"
        @click="toggle('lesbian')">
        <icon-lesbian class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">FF</span>
    </app-toggle-button>
    <app-toggle-button
        title="Men with Men"
        :active="isActive('gay')"
        @click="toggle('gay')">
        <icon-gay class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">MM</span>
    </app-toggle-button>
    <app-toggle-button
        title="Transgendered"
        :active="isActive('transexual')"
        @click="toggle('transexual')">
        <icon-transexual class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">T</span>
    </app-toggle-button>
    <app-toggle-button
        title="Posts we haven't worked out the orientation of yet."
        :active="isActive('unknown')"
        @click="toggle('unknown')">
        <icon-gender-unknown class="AIF-ColorBlind__Hide"/>
        <span class="AIF-ColorBlind__Show">?</span>
    </app-toggle-button>
</div>
</template>