<template>
<div class="AIF-MainHeader">
    <div class="AIF-MainHeader__Container">
        <div class="AIF-MainHeader__Nav">
            <div class="AIF-MainHeader__Brand"
                @click="$router.push({name: 'Homepage'})">
                <icon-brand class="AIF-MainHeader__BrandIcon"/>
                AIFap 
                <span class="AIF-MainHeader__BrandHighlight">
                    beta
                </span>
                <span class="AIF-MainHeader__Version">
                    ver. {{ newVersion.replace('./', '').replace('.txt', '') }}
                </span>
            </div>
            <template v-if="user">
                <router-link 
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'FeedRecommendationsAggregate'}">
                    Porn!
                </router-link>
                <router-link 
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'LikedLoved'}">
                    My stuff
                </router-link>
                <router-link 
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'ProfileAccount'}">
                    Profile
                </router-link>
                <router-link 
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'BfImporter'}">
                    Import from BF
                </router-link>
                <router-link
                    v-if="user.moderator"
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'ModSubreddits'}">
                    Moderation
                </router-link>
            </template>
            <template v-else>
                <router-link
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'Login'}">
                    Login
                </router-link>
                <router-link
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'Signup'}">
                    Signup
                </router-link>
            </template>
            <router-link
                class="AIF-MainHeader__NavItem"
                :to="{name: 'AboutUs'}">
                About
            </router-link>
        </div>
        <template v-if="user">
            <div class="AIF-MainHeader__SearchDrawer">
                <global-search/>
            </div>
        </template>
        <a 
            @click="mobileNavOpen = !mobileNavOpen"
            class="AIF-MainHeader__MenuToggle">
            <i class="fal fa-fw fa-bars"></i>
        </a>
    </div>
    <transition name="fade">
        <div 
            v-if="mobileNavOpen"
            style="animation-duration: 0.2s"
            :class="{
                'AIF-MainHeader__MobileNav': 1,
            }">
            <template v-if="user">
                <router-link 
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'FeedRecommendationsAggregate'}">
                    Porn!
                </router-link>
                <router-link 
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'LikedLoved'}">
                    My stuff
                </router-link>
                <router-link 
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'ProfileAccount'}">
                    Profile
                </router-link>
                <router-link 
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'BfImporter'}">
                    Import from BF
                </router-link>
            </template>
            <template v-else>
                <router-link
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'Login'}">
                    Login
                </router-link>
                <router-link
                    class="AIF-MainHeader__NavItem"
                    :to="{name: 'Signup'}">
                    Signup
                </router-link>
            </template>
            <router-link
                class="AIF-MainHeader__NavItem"
                :to="{name: 'AboutUs'}">
                About
            </router-link>
        </div>
    </transition>
</div>
</template>


<script>
var newVersion = null;
const versions = (ctx => {
    let keys = ctx.keys().reverse();
    newVersion = keys[0];
})(require.context('@/versions/', true, /.*/));

import session from '@/http/session';
import GlobalSearch from './GlobalSearch';

import santaHat from '@/images/santa_hat.svg';

export default {
    components: {
        GlobalSearch,
    },
    data() {
        return {
            user: null,
            newVersion,
            
            mobileNavOpen: false,
            
            santaHat,
        };
    },
    async mounted() {
        this.user = await session.getUser();
        session.on('update', async () => {
            this.user = await session.getUser();
        });
    },
}
</script>


<style lang="scss">
.AIF-MainHeader {
    background: #111;
    
    position: relative;
    
    z-index: 2;
    
    /*
    &::before {
        position: absolute;
        width: 100%;
        bottom: -0.2rem;
        background: linear-gradient(to right, var(--brand-color-dark), var(--brand-alt-color-dark));
        height: 0.2rem;
        content: '';
    }
    */
    
    &__Container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        
        flex-wrap: wrap;
    }
    
    &__Version {
        position: absolute;
        font-size: 1rem;
        right: 2rem;
        bottom: -1rem;
        color: #666;
        
        display: none;
    }
    
    &__Nav {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    &__NavItem {
        margin: 0.5rem;
        padding: 1rem;
        background: #222;
        color: white;
        text-decoration: none;
    }
    
    &__Brand {
        font-size: 2rem;
        padding: 0;
        margin-right: 2rem;
        
        display: flex;
        cursor: pointer;
        
        position: relative;
    }
    
    &__BrandIcon {
        margin-right: 1rem;
    }
    
    &__BrandHat {
        position: absolute;
        height: 2.3rem;
        left: -1.3rem;
        top: -1.1rem;
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    
    
    &__BrandHighlight {
        margin-left: 0.2rem;
        color: #ff00ff;
        font-weight: 300;
        font-size: 1.3rem;
    }
        
    
    &__MenuToggle {
        display: none;
        margin: 0.5rem;
        padding: 1rem;
        background: #222;
        cursor: pointer;
    }
    
    &__SearchDrawer {
        flex-grow: 1;
        margin: 0.5rem;
    }
    
    &__MobileNav {
        display: none;
        flex-direction: column;
        position: absolute;
        background: #111;
        overflow: hidden;
        width: 100%;
        z-index: 99;
    }
    
    
    @media screen and (max-width: 880px) {
        .AIF-MainHeader__Nav {
            min-height: 5rem;
            justify-content: center;
        }
        
        .AIF-MainHeader__NavItem {
            display: none;
        }
        
        .AIF-MainHeader__MenuToggle {
            display: block;
        }
        
        .AIF-MainHeader__Nav {
            width: 100%;
        }
        
        .AIF-MainHeader__MobileNav {
            display: flex;
            .AIF-MainHeader__NavItem {
                display: block;
            }
        }
        
    }
}
</style>


