<template>
<div class="AIF-MediaFilter">
    <app-toggle-button
        title="Image"
        :active="isActive('image')"
        @click="toggle('image')">
        <icon-media-image/>
    </app-toggle-button>
    <app-toggle-button
        title="Animated"
        :active="isActive('animated')"
        @click="toggle('animated')">
        <icon-media-animated/>
    </app-toggle-button>
    <app-toggle-button
        title="Video"
        :active="isActive('video')"
        @click="toggle('video')">
        <icon-media-video/>
    </app-toggle-button>
    <app-toggle-button
        title="Audio"
        :active="isActive('audio')"
        @click="toggle('audio')">
        <icon-media-audio/>
    </app-toggle-button>
    <app-toggle-button
        title="Text"
        :active="isActive('text')"
        @click="toggle('text')">
        <icon-media-text/>
    </app-toggle-button>
</div>
</template>


<script>
import _ from 'lodash';

export default {
    model: {
        prop: 'value',
        'event': 'change',
    },
    props: {
        value: Array,
    },
    methods: {
        isActive(choice) {
            return _.includes(this.value, choice);
        },
        toggle(choice) {
            if (this.isActive(choice)) {
                this.$emit('change', _.difference(this.value, [choice]));
            } else {
                this.$emit('change', _.union(this.value, [choice]));
            }
        },
    },
};
</script>




<style lang="scss">
.AIF-MediaFilter {
    display: inline-block;
    
    .AIF-AppToggleButton {
        border-color: #aaaa00;
        color: #aaaa00;
    }
}
</style>