<template>
<app-popup
    backdrop
    title="Add to list"
    :open="open"
    @close="onClose">
    <app-card-section>
        <div class="AIF-PopupAddToList__Lists">
            <div 
                v-for="list in lists"
                class="AIF-PopupAddToList__List">
                <app-checkbox
                    :value="isInList(list)"
                    @change="v => onToggleList(list, v)"/>
                <div>
                    {{ list.title }}
                </div>
            </div>
        </div>
    </app-card-section>
</app-popup>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

export default {
    props: {
        open: {
            type: Boolean,
            default: true,
        },
        lists: Array,
        post: Object,
    },
    data() {
        return {
            listId: null,
            lists: [],
        };
    },
    watch: {
        lists() {
            if (!this.lists || this.lists.length < 1) {
                this.listId = null;
            } else {
                this.listId = this.lists[0].id;
            }
        },
        async open() {
            if (!this.open) {
                return;
            }
            
            var res = await api.get('/saved_lists/context/' + this.post.id);
            this.lists = res.data.saved_lists;
        },
    },
    computed: {
    },
    methods: {
        isInList(list) {
            return list.posts && list.posts.length > 0;
        },
        onClose() {
            this.$emit('close');
        },
        onAddToList() {
            this.$emit('add-to-list', {
                list_id: this.listId,
            });
        },
        onToggleList(list, included) {
            if (included) {
                this.addToList(list.id);
            } else {
                this.removeFromList(list.id);
            }
        },
        async addToList(list_id) {
            var res = await api.post('saved_lists/' + list_id + '/posts/' + this.post.id);
            if (res.data.success) {
                if (res.data.message) {
                    alert.showAlert(res.data.message);
                }
                this.addToListPopupOpen = false;
            } else {
                alert.showAlert('Couldn\'t add post to that list.');
            }
        },
        async removeFromList(list_id) {
            var res = await api.post(`/saved_lists/${list_id}/posts/${this.post.id}/delete`, {});
            if (res.data.success) {
                if (res.data.message) {
                    alert.showAlert(res.data.message);
                }
                this.addToListPopupOpen = false;
            } else {
                alert.showAlert('Couldn\'t remove post to that list.');
            }
        },
    },
};
</script>


<style lang="scss">
.AIF-PopupAddToList {
    &__Lists {
        display: flex;
        flex-direction: column;
        
        max-height: 40rem;
        overflow-y: auto;
    }
    &__List {
        padding: 0.5rem;
        display: flex;
        
    }
}
</style>