<template>
<app-popup
    backdrop
    title="Edit tag"
    :open="open"
    @close="onClose">
    <app-card-section>
        <app-form-layout>
            <label>
                NS
            </label>
            <br>
            <select
                v-model="newTag.namespace">
                <option
                    :value="null">
                    (No namespace)
                </option>
                <option
                    v-for="ns in namespaces"
                    :value="ns.id">
                    {{ ns.key }}
                </option>
            </select>
            <app-text-field
                label="Key"
                v-model="newTag.key"/>
            <app-text-field
                label="Description"
                v-model="newTag.description"/>
        </app-form-layout>
    </app-card-section>
    <app-card-section>
        {{ newTag }}
    </app-card-section>
    <app-card-section>
        <app-button
            :disabled="!true"
            @click="onComplete">
            Save
        </app-button>  
    </app-card-section>
</app-popup>
</template>

<script>
import _ from 'lodash';
import api from '@/http/api';
import TagBadge from './TagBadge';

export default {
    components: {
        TagBadge,
    },
    props: {
        open: {
            type: Boolean,
            default: true,
        },
        tag: Object,
        namespaces: Array,
    },
    data() {
        return {
            newTag: {
                namespace: null,
                key: null,
                description: null,
                aliases: [],
                defaultSubs: [],
                autoTitleTags: [],
            },
        };
    },
    watch: {
        open() {
            if (this.open && this.tag) {
                this.newTag.namespace = null;
                if (this.tag.tag_namespace) {
                    this.newTag.namespace = this.tag.tag_namespace.id;
                }
                
                this.newTag.aliases = [];
                for (let alias of this.tag.aliases) {
                    this.newTag.aliases.push(alias.key);
                }
                
                this.newTag.defaultSubs = [];
                for (let defaultSub of this.tag.default_subreddits) {
                    this.newTag.defaultSubs.push(defaultSub.id);
                }
                
                this.newTag.autoTitleTags = [];
                for (let autoTitle of this.tag.auto_title_tags) {
                    this.newTag.autoTitleTags.push(autoTitle.pattern);
                }
                
                this.newTag.key = this.tag.key;
                this.newTag.description = this.tag.description;
            }
        },
    },
    computed: {
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
        onComplete() {
            this.$emit('complete', {
            });
        },
    },
};
</script>
