<template>
<app-popup
    backdrop
    title="Flag post"
    :open="open"
    @close="onClose">
    <app-card-section
        title="Flagging rules">
        <app-split>
            <div>
                <p>DO flag:</p>
                <ul>
                    <li>Broken links</li>
                    <li>Illegal or banned content.</li>
                    <li>Completely non-erotic content (e.g. generic memes)</li>
                </ul>
            </div>
            <div>
                <p>DO NOT flag:</p>
                <ul>
                    <li>Posts we can't display yet.</li>
                    <li>Potentially erotic non-nude content (e.g. kinky cosplay, /r/bulges, /r/kpopfap)</li>
                    <li>Posts you just dislike (rate them instead)</li>
                </ul>
            </div>
        </app-split>
    </app-card-section>
    <app-card-section>
        <p>
            Flagged posts are not factored into your recommendations, so please don't
            flag something just because you dislike it. Give it a dislike or hate rating
            instead.
        </p>
    </app-card-section>
    <app-card-section
        title="Reason for flagging">
        <select
            v-shortkey.avoid
            v-model="type">
            <option :value="null">Please select...</option>
            <option value="broken_link">Broken link</option>
            <option value="banned_content">Illegal or banned content</option>
            <option value="not_porn">Completely non-erotic content</option>
            <option value="copyright">I am the copyright holder of this content</option>
            <option value="other">Other</option>
        </select>
    </app-card-section>
    <app-card-section v-if="type == 'other'">
        <p>
            Please describe why you believe this post should be flagged:
        </p>
        <app-text-field
            :value="message"
            @input="v => message = v"/>
    </app-card-section>
    <app-card-section v-if="type != 'copyright'">
        <app-button
            :disabled="!canFlag"
            @click="onFlag">
            Flag post
        </app-button>  
    </app-card-section>
    <app-card-section v-if="type == 'copyright'">
        <app-button 
            @click="onDmca">
            View our DMCA process
        </app-button>
    </app-card-section>
</app-popup>
</template>

<script>
export default {
    props: {
        open: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            type: null,
            message: null,
        };
    },
    computed: {
        canFlag() {
            return this.type && (this.type != 'other' || this.message) && this.type != 'copyright';
        },
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
        onFlag() {
            if (!this.canFlag) {
                return;
            }
            
            this.$emit('flag', {
                type: this.type,
                message: this.message,
            });
        },
        onDmca() {
            this.$emit('close');
            this.$router.push({name: 'LegalDmca'});
        },
    },
};
</script>
