<template>
<app-popup
    class="AIF-PopupBitcoinDonate"
    backdrop
    title="Donate via Bitcoin"
    :open="open"
    @close="onClose">
    <app-card-section
        title="What is Bitcoin?">
        <p>
            Bitcoin is a crytocurrency used to send payments securely 
            without relying on centralized payment authorities like
            Visa or Mastercard.
        </p>
        <p>
            To get started, you'll need to have a Bitcoin wallet.
            Check out 
            <app-plain-link
                href="https://bitpay.com/pay-with-bitcoin">
                BitPay's getting started guide
            </app-plain-link>
            for more information.
        </p>
    </app-card-section>
    <app-card-section
        title="BTC Wallet Address">
        <div class="AIF-PopupBitcoinDonate__Qrcode">
            <vue-qr
                :text="link"/>
        </div>
        <div class="AIF-PopupBitcoinDonate__Address">
            {{ address }}
        </div>
        <app-button
            link
            :href="link"
            primary>
            Open with wallet
        </app-button>
    </app-card-section>
    <app-card-section>
        <p>
            Thank you for supporting us. 
        </p>
    </app-card-section>
</app-popup>
</template>

<script>
import VueQr from 'vue-qr';

export default {
    components: {
        VueQr,
    },
    props: {
        open: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            address: '1QFjSptGwKVdXHRHNgxdCcjLsBVwLEangD',
        };
    },
    computed: {
        canFlag() {
            return this.type && (this.type != 'other' || this.message) && this.type != 'copyright';
        },
        link() {
            return 'bitcoin:' + this.address + '?label=Donation&message=Thank+you+for+your+support!';
        },
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
        onFlag() {
            if (!this.canFlag) {
                return;
            }
            
            this.$emit('flag', {
                type: this.type,
                message: this.message,
            });
        },
        onDmca() {
            this.$emit('close');
            this.$router.push({name: 'LegalDmca'});
        },
    },
};
</script>


<style lang="scss">
.AIF-PopupBitcoinDonate {
    &__Qrcode {
        display: flex;
        justify-content: center;
    }
    
    &__Address {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        border: 1px dashed white;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
    }
}
</style>