<template>
<app-popup
    backdrop
    title="Manage tags"
    :open="open"
    @close="onClose">
    <app-card-section>
        <p>
            Tags for this post: <app-text subdued>(click to remove)</app-text>
        </p>
        <tag-badge
            v-for="tag in tags"
            :key="tag.id"
            :tag="tag"
            raise-click-event
            @click="removeTag(tag)"/>
    </app-card-section>
    <app-card-section>
        <app-text-field
            ref="searchField"
            :value="query"
            @input="v => query = v"
            submittable
            @submit="addActiveResult"
            @key-down="onSearchKeyDown"
            placeholder="Search to add tags..."/>
        <table 
            v-if="newResults && newResults.length > 0"
            style="width: 100%;margin-top:1rem;">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    v-for="tag in newResults"
                    :style="{background: (tag == activeResult) ? 'rgba(255,0,255,0.3)' : null}">
                    <td>
                        <tag-badge
                            :tag="tag"/>
                    </td>
                    <td v-html="formatDescription(tag.description)">
                    </td>
                    <td>
                        <app-button
                            @click="addTag(tag)">
                            Add tag
                        </app-button>
                    </td>
                </tr>
                <tr v-if="!results || results.length < 1">
                    <td colspan="3">
                        No results
                    </td>
                </tr>
            </tbody>
        </table>
        <small v-if="newResults && newResults.length > 0">
            Tip: Use arrow keys to pick tag and enter to add.
        </small>
        <small v-else>
            Tip: Use ctrl-enter to save and close.
        </small>
    </app-card-section>
    <app-card-section>
        <app-button
            :disabled="!true"
            @click="onChangeTags">
            Change tags
        </app-button>  
    </app-card-section>
</app-popup>
</template>

<script>
import _ from 'lodash';
import api from '@/http/api';
import TagBadge from './TagBadge';

export default {
    components: {
        TagBadge,
    },
    props: {
        open: {
            type: Boolean,
            default: true,
        },
        currentTags: Array,
    },
    data() {
        return {
            tags: [],
            results: [],
            query: '',
            activeResult: null,
        };
    },
    watch: {
        open() {
            if (this.open && this.currentTags) {
                this.tags = this.currentTags.slice(0);
                this.$nextTick(() => {
                    this.$refs.searchField.focus();
                });
            }
        },
        query: _.debounce(async function() {
            if (!this.query) {
                this.results = [];
                return;
            }
            
            var res = await api.get('/tags/search', {
                params: {
                    query: this.query,
                },
            });
            
            this.results = res.data.results;
        }, 400),
    },
    computed: {
        newResults() {
            if (!this.results || this.results.length == 0) {
                return [];
            }
            
            var r =  this.results.filter(tag => {
                return !this.hasTag(tag);
            });
            
            this.activeResult = null;
            if (r.length > 0) {
                this.activeResult = r[0];
            }
            return r;
        },
    },
    methods: {
        removeTag(tag) {
            var tags = [];
            for (let t of this.tags) {
                if (t != tag) {
                    tags.push(t);
                }
            }
            this.tags = tags;
        },
        addTag(tag) {
            var tags = this.tags;
            for (let t of tags) {
                if (t.id == tag.id) {
                    return;
                }
            }
            tags.push(tag);
            this.tags = tags;
            this.query = '';
            this.results = [];
        },
        addActiveResult() {
            if (!this.activeResult) {
                return;
            }
            this.addTag(this.activeResult);
        },
        hasTag(tag) {
            for (let t of this.tags) {
                if (t.id == tag.id) {
                    return true;
                }
            }
            return false;
        },
        onClose() {
            this.$emit('close');
        },
        onChangeTags() {
            this.$emit('change-tags', {
                tags: this.tags,
            });
        },
        onSearchKeyDown({ctrlKey, key}) {
            if (ctrlKey && key == 'Enter') {
                return this.onChangeTags();
            }
            if (this.newResults.length < 0) {
                return;
            }
            
            var delta = 0;
            if (key == 'ArrowDown') {
                delta = 1;
            } else if (key == 'ArrowUp') {
                delta = -1;
            } else {
                return;
            }
            
            var oldIndex = this.newResults.indexOf(this.activeResult);
            var newIndex = oldIndex + delta;
            
            if (newIndex >= 0 && newIndex < this.newResults.length) {
                var newActive = this.newResults[newIndex];
                this.activeResult = newActive;
            }
        },
        formatDescription(str) {
            str = _.escape(str);
            str = str.replace('{', '<span class="AIF-PopupManageTags__DescriptionHighlight">')
                     .replace('}', '</span>');
                     console.log({str});
            return str;
        },
    },
};
</script>

<style lang="scss">
.AIF-PopupManageTags {
    &__DescriptionHighlight {
        background: yellow;
        color: black;
        padding: 0 2px;
    }
}
</style>
