<template>
<app-popup
    backdrop
    title="Amend post"
    :open="open"
    @close="onClose">
    <app-card-section
        title="Gender-type rules">
        <app-split :columns="2">
            <div>
                <strong>Solo-women</strong>: Only contains 1 women.
            </div>
            <div>
                <strong>Solo-man</strong>: Only contains 1 man.
            </div>
        </app-split>
        <br>
        <app-split :columns="3">
            <div>
                <strong>Straight</strong>: Contains men and women doing heteroexual stuff.
            </div>
            <div>
                <strong>Gay</strong>: Contains more than one man doing homosexual stuff.
            </div>
            <div>
                <strong>Lesbian</strong>: Contains more than one women doing homosexual stuff.
            </div>
        </app-split>
        <br>
        <p>
            <strong>Transexual</strong>: Contains at least one non-binary person. 
            See tooltip for more info on what this includes:
            <i class="fal fa-info-circle" title="Any content containing someone non-binary is considered 'transexual' for the purposes of categorization. This includes trans, intersex, feminine 'traps', futanari, etc. These rules are defined based on the type of content someone using  AIFap might be looking for, and are not intended to accurately and  precisely identify the gender of the people in the content. We don't  expect there's any categorization system that could accurately  represent the extent of human sexuality, so we've settled on keeping things simple.
            "></i>
        </p>
        <small>
            <p>
            </p>
        </small>
    </app-card-section>
    <app-card-section
        title="Artstyle-type rules">
        <p>
            <strong>Real-life</strong>: Anything shot with a camera.
        </p>
        <p>
            <strong>Hentai</strong>: Anything drawn by hand or digitally.
            Includes western-style comics.
        </p>
        <p>
            <strong>3D</strong>: Anything rendered in 3D.
            Includes SFM and photorealistic renders.
        </p>
    </app-card-section>
    <app-card-section
        title="Corrected gender type">
        <gender-filter
            single
            v-model="typeGender"/>
    </app-card-section>
    <app-card-section
        title="Corrected artstyle type">
        <artstyle-filter
            single
            v-model="typeArtstyle"/>
    </app-card-section>
    <app-card-section>
        <app-button
            :disabled="!canAmend"
            @click="onAmend">
            Amend post
        </app-button>  
    </app-card-section>
</app-popup>
</template>

<script>
import GenderFilter from './GenderFilter';
import ArtstyleFilter from './ArtstyleFilter';

export default {
    components: {
        GenderFilter,
        ArtstyleFilter,
    },
    props: {
        open: {
            type: Boolean,
            default: true,
        },
        currentTypeGender: String,
        currentTypeArtstyle: String,
    },
    data() {
        return {
            typeGender: null,
            typeArtstyle: null,
        };
    },
    watch: {
        open() {
            if (this.open && this.currentTypeGender) {
                this.typeGender = this.currentTypeGender;
            }
            if (this.open && this.currentTypeArtstyle) {
                this.typeArtstyle = this.currentTypeArtstyle;
            }
        },
    },
    computed: {
        canAmend() {
            return (this.typeGender && this.typeGender != this.currentTypeGender) ||
                   (this.typeArtstyle && this.typeArtstyle != this.currentTypeArtstyle);
        },
    },
    methods: {
        onClose() {
            this.$emit('close');
        },
        onAmend() {
            if (!this.onAmend) {
                return;
            }
            
            this.$emit('amend', {
                typeGender: this.typeGender,
                typeArtstyle: this.typeArtstyle,
            });
        },
    },
};
</script>
