<template>
<app-card
    class="AIF-PostCard"
    sectioned
    :title="post.title">
    <div class="AIF-PostCard__Split">
        <div class="AIF-PostCard__SplitLeft">
            <post-details
                :post="post"/>
        </div>
        <div class="AIF-PostCard__SplitRight">
            <div class="AIF-PostCard__ButtonRow">
                <app-button
                    title="Love"
                    :primary="isLoved"
                    v-shortkey="{wasd: ['2'], arrows: ['pageup']}"
                    @shortkey.native="e => onRate('love')"
                    @click="onRate('love')">
                    <i class="fal fa-fw fa-heart"></i>
                </app-button>
                <app-button
                    title="Like"
                    :primary="isLiked"
                    v-shortkey="{wasd: ['w'], arrows: ['arrowup']}"
                    @shortkey.native="e => onRate('like')"
                    @click="onRate('like')">
                    <i class="fal fa-fw fa-thumbs-up"></i>
                </app-button>
                <app-button
                    title="Dislike"
                    :primary="isDisliked"
                    v-shortkey="{wasd: ['s'], arrows: ['arrowdown']}"
                    @shortkey.native="e => onRate('dislike')"
                    @click="onRate('dislike')">
                    <i class="fal fa-fw fa-thumbs-down"></i>
                </app-button>
                <app-button
                    title="Hate"
                    :primary="isHated"
                    v-shortkey="{wasd: ['x'], arrows: ['pagedown']}"
                    @shortkey.native="e => onRate('hate')"
                    @click="onRate('hate')">
                    <i class="fal fa-fw fa-skull"></i>
                </app-button>
            </div>
            <div class="AIF-PostCard__ButtonRow">
                <app-button
                    title="Watch Later"
                    :primary="isWatchLater"
                    v-shortkey="{wasd: ['o'], arrows: ['end']}"
                    @shortkey.native="e => onWatchLater()"
                    @click="onWatchLater">
                    <i class="fal fa-fw fa-bookmark"></i> 
                    Watch later
                </app-button>
            </div>
            <div class="AIF-PostCard__ButtonRow">
                <app-button
                    title="Amend"
                    v-shortkey="{wasd: ['0'], arrows: ['home']}"
                    @shortkey.native="e => onAmendPost()"
                    @click="onAmendPost">
                    <i class="fal fa-fw fa-edit"></i> 
                    Amend
                </app-button>
                <app-button
                    @click="onFlag"
                    v-shortkey="{wasd: ['p'], arrows: ['del']}"
                    @shortkey.native="e => onFlag()">
                    <i class="fal fa-fw fa-flag"></i>
                    Flag
                </app-button>
            </div>
        </div>
    </div>
</app-card>
</template>

<script>
import PostDetails from './PostDetails';

export default {
    components: {
        PostDetails,
    },
    props: {
        post: Object,
        rating: Object,
        watchLaterEntry: Object,
    },
    computed: {
        isLoved() {
            return this.rating && this.rating.type == 'love';
        },
        isLiked() {
            return this.rating && this.rating.type == 'like';
        },
        isDisliked() {
            return this.rating && this.rating.type == 'dislike';
        },
        isHated() {
            return this.rating && this.rating.type == 'hate';
        },
        isWatchLater() {
            return this.watchLaterEntry;
        },
    },
    methods: {
        onRate(rating) {
            this.$emit('rate', rating);
        },
        onWatchLater() {
            this.$emit('watch-later');
        },
        onFlag() {
            this.$emit('flag');
        },
        onAmendPost() {
            this.$emit('amend');
        },
    },
};
</script>

<style lang="scss">
.AIF-PostCard {
    &__Split {
        width: 100%;
        display: flex;
        margin: -0.5rem;
        
        @media screen and (max-width: 500px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
    
    &__SplitLeft,
    &__SplitRight {
        width: 50%;
        padding: 0.5rem;
        
        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }
    
    &__ButtonRow {
        &:first-child {
            margin-top: -0.5rem;
        }
        
        + .AIF-PostCard__ButtonRow {
            margin-top: 0.5rem;
        }
    }
}
</style>