<template>
<div class="AIF-PostInformationAdditional">
    <span v-if="recStrategy == 'CollabUserV1'">
        Recommended because people like you enjoy this.
    </span>
    <span v-if="recStrategy == 'ContentNewV1'">
        Recommended because this is similar to things you've liked in the past.
    </span>
    <span v-if="recScore">
        We're {{ recScore.toFixed(0) }}% sure you'll enjoy this.
    </span>
</div>
</template>

<script>
export default {
    props: {
        post: Object,
    },
    computed: {
        recStrategy() {
            if (!this.post || !this.post.recommendation_results) {
                return null;
            }
            return this.post.recommendation_results[0].recommendation_set.strategy_name;
        },
        recScore() {
            if (!this.post || !this.post.recommendation_results) {
                return null;
            }
            return this.post.recommendation_results[0].score / 10000;
        }
    }
};
</script>

<style lang="scss">
.AIF-PostInformationAdditional {
    color: #ccc;
}
</style>