<template>
<div class="AIF-PostInformation">
    <div :class="{
            'AIF-PostInformation__MobileNav': 1,
            'AIF-PostInformation__MobileNav--leftHanded': leftHanded,
        }">
        <app-button
            subdued
            title="Prev"
            v-shortkey="{wasd: ['a'], arrows: ['arrowleft']}"
            @shortkey.native="e => onPrev()"
            @click="onPrev">
            <i class="fal fa-fw fa-chevron-left"></i> 
        </app-button>
        <app-button
            subdued
            title="Love"
            :primary="isLoved"
            :subdued="!isLoved"
            v-shortkey="{wasd: ['2'], arrows: ['pageup']}"
            @shortkey.native="e => onRate('love')"
            @click="onRate('love')">
            <i class="fal fa-fw fa-heart"></i>
        </app-button>
        <app-button
            subdued
            title="Like"
            :primary="isLiked"
            :subdued="!isLiked"
            v-shortkey="{wasd: ['w'], arrows: ['arrowup']}"
            @shortkey.native="e => onRate('like')"
            @click="onRate('like')">
            <i class="fal fa-fw fa-thumbs-up"></i>
        </app-button>
        <app-button
            subdued
            title="Dislike"
            :primary="isDisliked"
            :subdued="!isDisliked"
            v-shortkey="{wasd: ['s'], arrows: ['arrowdown']}"
            @shortkey.native="e => onRate('dislike')"
            @click="onRate('dislike')">
            <i class="fal fa-fw fa-thumbs-down"></i>
        </app-button>
        <app-button
            title="Hate"
            :primary="isHated"
            :subdued="!isHated"
            v-shortkey="{wasd: ['x'], arrows: ['pagedown']}"
            @shortkey.native="e => onRate('hate')"
            @click="onRate('hate')">
            <i class="fal fa-fw fa-skull"></i>
        </app-button>
        <app-button
            title="Watch Later"
            :primary="isWatchLater"
            :subdued="!isWatchLater"
            v-shortkey="{wasd: ['o'], arrows: ['end']}"
            @shortkey.native="e => onWatchLater()"
            @click="onWatchLater">
            <i class="fal fa-fw fa-bookmark"></i> 
        </app-button>
        <app-button
            subdued
            title="Next"
            v-shortkey="{wasd: ['d'], arrows: ['arrowright']}"
            @shortkey.native="e => onNext()"
            @click="onNext">
            <i class="fal fa-fw fa-chevron-right"></i> 
        </app-button>
    </div>
    <div class="AIF-PostInformation__Header">
        <app-page-container class="AIF-PostInformation__HeaderContainer">
            <div class="AIF-PostInformation__Topbar">
                <div class="AIF-PostInformation__TopbarLeft AIF-PostInformation__IdentifiersGroup AIF-PostInformation__IdentifiersGroup--vertical">
                    <div class="AIF-PostInformation__Title">
                        <div class="AIF-PostInformation__TitleTooltip">
                            <div class="AIF-PostInformation__TitleTooltipContent">
                                {{ post.title }}
                            </div>
                        </div>
                        <div v-if="displayTitle" class="AIF-PostInformation__TitleContent">
                            {{ post.title }}
                        </div>
                        <div v-else class="AIF-PostInformation__Title">
                            <i class="fal fa-fw fa-info"></i>
                        </div>
                    </div>
                    <div class="AIF-PostInformation__Tags">
                        <div class="AIF-PostInformation__TagsContainer">
                            <tag-badge
                                class="AIF-PostInformation__Tag"
                                v-for="tag in post.tags"
                                :key="tag.id"
                                :tag="tag"/>
                        </div>
                        <app-text
                            v-if="!post.tags || post.tags.length == 0"
                            style="font-size: 1rem;"
                            subdued>
                            Not tagged yet.
                        </app-text>
                        &nbsp;
                        <app-button
                            plain
                            title="Manage tags"
                            v-shortkey="{wasd: ['t'], arrows: ['insert']}"
                            @shortkey.native="e => onManageTags()"
                            @click="onManageTags">
                            <i class="fal fa-fw fa-tags"></i> 
                        </app-button>
                    </div>
                </div>
                <div class="AIF-PostInformation__TopbarCenter AIF-PostInformation__Main">
                    <div class="AIF-PostInformation__MainLeft">
                        <subreddit-badge
                            :id="post.subreddit_id"
                            :title="post.subreddit_title"/>
                    </div>
                    <div class="AIF-PostInformation__MainCenter AIF-PostInformation__Types">
                        <div class="AIF-PostInformation__Type">
                            <gender-type-icon 
                                class="AIF-ColorBlind__Hide"
                                :type="post.type_gender"/>
                            <span class="AIF-ColorBlind__Show" style="font-size: 1.4rem;font-weight: bold;">
                                {{ ({
                                    'solo-women': 'F',
                                    'solo-men': 'M',
                                    'straight': 'FM',
                                    'gay': 'MM',
                                    'lesbian': 'FF',
                                    'transexual': 'T',
                                    'unknown': '?',
                                }[post.type_gender]) }}
                            </span>
                        </div>
                        <div class="AIF-PostInformation__Type">
                            <media-type-icon 
                                style="color: #aaaa00;"
                                :type="post.type_media"/>
                        </div>
                        <div class="AIF-PostInformation__Type">
                            <artstyle-type-icon 
                                style="color: #00aaaa;"
                                :type="post.type_artstyle"/>
                        </div>
                    </div>
                    <div class="AIF-PostInformation__MainRight AIF-PostInformation__Actions AIF-PostInformation__Actions--small">
                        <app-button
                            subdued
                            title="Amend"
                            v-shortkey="{wasd: ['y'], arrows: ['home']}"
                            @shortkey.native="e => onAmendPost()"
                            @click="onAmendPost">
                            <i class="fal fa-fw fa-edit"></i> 
                        </app-button>
                        <app-button
                            subdued
                            @click="onFlag"
                            v-shortkey="{wasd: ['p'], arrows: ['del']}"
                            @shortkey.native="e => onFlag()">
                            <i class="fal fa-fw fa-flag"></i>
                        </app-button>
                    </div>
                </div>
                <div class="AIF-PostInformation__TopbarRight">
                    <div class="AIF-PostInformation__Rating">
                        <app-button
                            title="Love"
                            :primary="isLoved"
                            :subdued="isLiked || isDisliked || isHated"
                            v-shortkey="{wasd: ['2'], arrows: ['pageup']}"
                            @shortkey.native="e => onRate('love')"
                            @click="onRate('love')">
                            <i class="fal fa-fw fa-heart"></i>
                        </app-button>
                        <app-button
                            title="Like"
                            :primary="isLiked"
                            :subdued="isLoved || isDisliked || isHated"
                            v-shortkey="{wasd: ['w'], arrows: ['arrowup']}"
                            @shortkey.native="e => onRate('like')"
                            @click="onRate('like')">
                            <i class="fal fa-fw fa-thumbs-up"></i>
                        </app-button>
                        <app-button
                            title="Dislike"
                            :primary="isDisliked"
                            :subdued="isLoved || isLiked || isHated"
                            v-shortkey="{wasd: ['s'], arrows: ['arrowdown']}"
                            @shortkey.native="e => onRate('dislike')"
                            @click="onRate('dislike')">
                            <i class="fal fa-fw fa-thumbs-down"></i>
                        </app-button>
                        <app-button
                            title="Hate"
                            :primary="isHated"
                            :subdued="isLoved || isLiked || isDisliked"
                            v-shortkey="{wasd: ['x'], arrows: ['pagedown']}"
                            @shortkey.native="e => onRate('hate')"
                            @click="onRate('hate')">
                            <i class="fal fa-fw fa-skull"></i>
                        </app-button>
                    </div>
                </div>
            </div>
        </app-page-container>
    </div>
    <div 
        v-if="post.recommendation_results"
        class="AIF-PostInformation__Additional">
        <app-page-container>
            <post-information-additional
                :post="post"/>
        </app-page-container>
    </div>
    <div class="AIF-PostInformation__Subheader">
        <app-page-container class="AIF-PostInformation__SubheaderContainer">
            <div class="AIF-PostInformation__Actions">
                <app-button
                    subdued
                    title="Prev"
                    v-shortkey="{wasd: ['a'], arrows: ['arrowleft']}"
                    @shortkey.native="e => onPrev()"
                    @click="onPrev">
                    <i class="fal fa-fw fa-chevron-left"></i> 
                </app-button>
                <app-button
                    subdued
                    title="Next"
                    v-shortkey="{wasd: ['d'], arrows: ['arrowright']}"
                    @shortkey.native="e => onNext()"
                    @click="onNext">
                    <i class="fal fa-fw fa-chevron-right"></i> 
                </app-button>
                <div class="AIF-PostInformation__FeedInfo">
                    Viewing feed '{{ session.feedType }}'.
                </div>
            </div>
            <div class="AIF-PostInformation__Actions">
                <!--
                <app-button
                    subdued
                    title="Info"
                    v-shortkey="{wasd: ['space']}"
                    @shortkey.native="e => onInfo()"
                    @click="onInfo">
                    <i class="fal fa-fw fa-info-circle"></i> 
                    Info
                </app-button>
                -->
                <app-button
                    subdued
                    title="Source"
                    link
                    :url="post.media_url"
                    target="_blank">
                    <i class="fal fa-fw fa-link"></i> 
                    Source
                </app-button>
                <app-button
                    subdued
                    title="Reddit"
                    link
                    :url="'https://www.reddit.com' + this.post.permalink"
                    target="_blank">
                    <i class="fal fa-fw fa-external-link-alt"></i> 
                    Reddit
                </app-button>
                <app-button
                    title="Watch Later"
                    :primary="isWatchLater"
                    :subdued="!isWatchLater"
                    v-shortkey="{wasd: ['o'], arrows: ['end']}"
                    @shortkey.native="e => onWatchLater()"
                    @click="onWatchLater">
                    <i class="fal fa-fw fa-bookmark"></i> 
                    Watch later
                </app-button>
                <app-button
                    title="Add to list"
                    subdued
                    @click="onAddToList">
                    <i class="fal fa-fw fa-plus"></i> 
                    Add to list
                </app-button>
            </div>
        </app-page-container>
    </div>
</div>
</template>

<script>
import GenderTypeIcon from './icons/GenderTypeIcon';
import MediaTypeIcon from './icons/MediaTypeIcon';
import ArtstyleTypeIcon from './icons/ArtstyleTypeIcon';

import TagBadge from './TagBadge';
import SubredditBadge from './SubredditBadge';
import PostInformationAdditional from './PostInformationAdditional';

export default {
    components: {
        GenderTypeIcon,
        MediaTypeIcon,
        ArtstyleTypeIcon,
        TagBadge,
        SubredditBadge,
        PostInformationAdditional,
    },
    props: {
        post: Object,
        session: Object,
        rating: Object,
        watchLaterEntry: Object,
        leftHanded: Boolean,
        displayTitle: {
            type: Boolean,
            default: true,
        },
    },
    computed: {
        isLoved() {
            return this.rating && this.rating.type == 'love';
        },
        isLiked() {
            return this.rating && this.rating.type == 'like';
        },
        isDisliked() {
            return this.rating && this.rating.type == 'dislike';
        },
        isHated() {
            return this.rating && this.rating.type == 'hate';
        },
        isWatchLater() {
            return this.watchLaterEntry;
        },
    },
    methods: {
        onNext() {
            this.$emit('next');
        },
        onPrev() {
            this.$emit('prev');
        },
        onRate(rating) {
            this.$emit('rate', rating);
        },
        onWatchLater() {
            this.$emit('watch-later');
        },
        onFlag() {
            this.$emit('flag');
        },
        onAmendPost() {
            this.$emit('amend');
        },
        onManageTags() {
            this.$emit('manage-tags');
        },
        onAddToList() {
            this.$emit('add-to-list');
        },
        navigateSubreddit() {
            this.$router.push({
                name: 'FeedSubreddit',
                params: {
                    id: this.post.subreddit_id,
                    slug: this.post.subreddit_title,
                },
            });
        },
    },
};
</script>

<style lang="scss">
.AIF-PostInformation {
    &__Header {
        background: #090909;
        padding: 1rem;
    }
    &__HeaderContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &__Separator {
        height: 2rem;
        border-left: 1px solid #333;
    }
    
    &__Subheader {
        padding: 1rem;
        background: linear-gradient(to bottom, #111, #222);
    }
    &__Additional {
        padding: 1rem;
        background: #111;
        font-size: 1rem;
    }
    &__SubheaderContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &__FeedInfo {
        margin-left: 1rem;
        color: #999;
    }
    
    &__Actions {
        display: flex;
        align-items: center;
        
        .AIF-AppButton {
            + .AIF-AppButton {
                margin-left: 1rem;
            }
        }
        
        &--small {
            .AIF-AppButton {
                padding: 0.5rem;
            }
        }
    }
    
    &__Rating {
        margin: 0 1rem;
        margin-left: auto;
        display: flex;
        
        .AIF-AppButton {
            + .AIF-AppButton {
                margin-left: 1rem;
            }
        }
    }
    
    &__Identifiers {
        flex-grow: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    &__Topbar {
        flex-grow: 1;
        justify-content: center;
        
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 1rem;
        
        &Left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        &Center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &Right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    
    &__Main {
        flex-grow: 1;
        justify-content: center;
        
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 1rem;
        
        &Left {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        &Center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &Right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
    
    &__IdentifiersGroup {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 30rem;
        flex-shrink: 1;
        
        &--vertical {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    
    &__Tags {
        display: flex;
        margin-top: 0.3rem;
        max-width: 100%;
    }
    
    &__TagsContainer {
    }
    
    &__Tag {
        margin-right: 0.5rem;
        color: white;
    }
    
    &__Title {
        font-weight: bold;
        margin-right: 1rem;
        white-space: nowrap;
        max-width: 100%;
        
        position: relative;
        
        &:hover .AIF-PostInformation__TitleTooltip {
            display: flex;
        }
    }
    
    &__TitleContent {
        font-weight: bold;
        margin-right: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }
    
    &__TitleTooltip {
        display: none;
        position: absolute;
        top: -0.5rem;
        background: white;
        z-index: 1;
    }
    &__TitleTooltipContent {
        background: black;
        position: absolute;
        bottom: 100%;
        color: white;
        white-space: nowrap;
        padding: 0.5rem;
        border: 1px solid #999;
        border-radius: 0.5rem;
    }
    
    &__Subreddit {
        cursor: pointer;
        font-size: 1.2rem;
        background: #222;
        padding: 0.2rem 0.8rem;
        
        border: 1px solid #333;
        border-radius: 999px;
        
        &:hover {
            border-color: #444;
        }
    }
    
    &__Types {
        display: flex;
    }
    
    &__Type {
        font-size: 2rem;
        + .AIF-PostInformation__Type {
            margin-left: 0.5rem;
            
        }
    }
    
    &__MobileNav {
        display: none;
        position: fixed;
        left: 0;
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.8;
        
        &--leftHanded {
            left: auto;
            right: 0;
        }
    }
    
    
    @media screen and (max-width: 939px) {
        .AIF-PostInformation__Topbar {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        
        .AIF-PostInformation__Rating {
            display: none;
        }
        
        .AIF-PostInformation__MobileNav {
            display: flex;
        }
    }
    
    @media screen and (max-width: 620px) {
        .AIF-PostInformation__TopbarLeft {
            align-items: center;
        }
    }
    
}
</style>