<template>
<div :class="{
        'AIF-PostList': 1,
        'AIF-PostList--preview': preview,
    }">
    <div class="AIF-PostList__Items">
        <post-list-item
            v-for="post in posts"
            :key="post.id"
            :preview="preview"
            :post="post"
            :play-url="makePlayRoute ? $router.resolve(makePlayRoute(post)).href : null"
            :score-label="scoreLabel"
            :show-debug="showDebug"
            :feed-icon="feedIcon"
            :score-icon="scoreIcon"
            :display-title="displayTitles"
            :can-remove="canRemove"
            :blacklisted="isBlacklisted(post)"
            @play="options => onPlay(post, options)"
            @remove="onRemove(post)"
            @add-to-list="onAddToList(post)"/>
    </div>
    <post-list-loading-indicator
        v-if="canLoadMore"
        :loading="loading"/>
</div>
</template>


<script>
import session from '@/http/session';

import PostListItem from './PostListItem';
import PostListLoadingIndicator from './PostListLoadingIndicator';

const LOAD_TRIGGER_PADDING = 500;

export default {
    components: {
        PostListItem,
        PostListLoadingIndicator,
    },
    data() {
        return {
            blacklistedSubs: [],
            blacklistedTags: [],
        };
    },
    props: {
        posts: Array,
        canLoadMore: {
            type: Boolean,
            default: true,
        },
        loading: Boolean,
        makePlayRoute: Function,
        scoreLabel: String,
        showDebug: Boolean,
        feedIcon: {
            type: String,
            default: 'question',
        },
        scoreIcon: {
            type: String,
            default: 'heart',
        },
        preview: Boolean,
        displayTitles: {
            type: Boolean,
            default: true,
        },
        canRemove: Boolean,
    },
    mounted() {
        this.loadContentPrefs();
    },
    methods: {
        onPlay(post, options) {
            this.$emit('play', {
                ...options,
                post,
            });
        },
        onRemove(post) {
            this.$emit('remove', post);
        },
        onLoadMore() {
            this.$emit('load-more');
        },
        onAddToList(post) {
            this.$emit('add-to-list', post);
        },
        handleScroll(e) {
            if (!this.canLoadMore || this.loading) {
                return;
            }
            
            var bounds = this.$el.getBoundingClientRect()
            var distanceFromBottom = bounds.bottom - window.innerHeight;
            
            if (distanceFromBottom < LOAD_TRIGGER_PADDING) {
                this.onLoadMore();
            }
        },
        isBlacklisted(post) {
            if (this.blacklistedSubs.indexOf(post.subreddit_id) > -1) {
                return true;
            }
            
            for (let tag of post.tags) {
                if (this.blacklistedTags.indexOf(tag.id) > -1) {
                    return true;
                }
            }
            return false;
        },
        async loadContentPrefs() {
            var contentPrefs = await session.getContentPrefs();
            this.blacklistedSubs = contentPrefs.blacklisted_subreddits.map(sub => sub.id);
            this.blacklistedTags = contentPrefs.blacklisted_tags.map(tag => tag.id);
        },
    },
    created() {
        window.addEventListener('scroll', this.handleScroll, {passive: true});
    },
    destroyed() {
        window.removeEventListener('scroll', this.handleScroll, {passive: true});
    }
};
</script>

<style lang="scss">
.AIF-PostList {
    &__Items {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        
        @media screen and (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    &__LoadMore {
        padding: 1rem 0;
        
        .AIF-AppButton {
            width: 100%;
            padding: 10rem;
        }
    }
    
    
    &--preview {
        .AIF-PostList__Items {
            grid-template-columns: repeat(auto-fit, 100px);
            grid-template-rows: 1fr 0 0 0 0 0 0 0 0 0;
            grid-gap: 0 1rem;
        }
    }
}
</style>