<template>
<div class="AIF-PostListLoadingIndicator">
    <div class="AIF-PostListLoadingIndicator__Content">
        <div class="AIF-PostListLoadingIndicator__Icon">
            <span class="fa-stack">
                <svg 
                    aria-hidden="true" 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 512 512" 
                    class="fa-stack-1x fa-1x AIF-PostListLoadingIndicator__IconRotator">
                    <path fill="currentColor" d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" class=""></path>
                </svg>
                <i class="AIF-PostListLoadingIndicator__IconRotator fa fa-stack-2x fa-fw fa-spin"></i>
                <i class="AIF-PostListLoadingIndicator__IconHeart fa fa-stack-1x fa-fw fa-heart"></i>
            </span>
        </div>
        <div class="AIF-PostListLoadingIndicator__Message">
            More porn!
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
    },
};
</script>

<style lang="scss">
.AIF-PostListLoadingIndicator {
    height: 20rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent, #11001185);
    
    &__Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    
    &__Message {
        height: 0;
        margin-top: 1rem;
        margin-bottom: -1rem;
        font-size: 1rem;
        color: #999;
    }
    
    .fa-stack {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__IconHeart {
        color: #ff00ff;
    }
    &__IconRotator {
        color: #00ffff;
        display: inline-block;
        height: 2em;
        overflow: visible;
        
        animation: fa-spin 0.5s infinite linear;
    }
}
</style>