<template>
<div 
    :class="{
        'AIF-PostViewer': 1,
        'AIF-PostViewer--fullscreen': fullscreen,
        'AIF-PostViewer--blacklisted': blacklisted,
    }">
    <div
        :style="{height: containerHeight}"
        class="AIF-PostViewer__Content">
        <transition name="fade">
            <post-viewer-loading
                style="animation-duration: 0.3s"
                v-if="buffering === true || loading"
                :base-message="buffering ? 'Buffering video...' : 'More porn!'"/>
        </transition>
        <post-viewer-image
            v-if="!loading && displayAsImage"
            :src="directUrl"/>
        <post-viewer-video
            v-if="!loading && displayAsVideo"
            :show-video-controls="showVideoControls"
            @buffering="onBuffering"
            @buffered="onBuffered"
            :muted="muted"
            :src="directUrl"/>
        <post-viewer-embed
            v-if="!loading && displayAsEmbed"
            :src="embedUrl"/>
            
        <post-viewer-unsupported
            v-if="post && (post.type_media == 'text' || (!loading && !displayAsImage && !displayAsVideo && !displayAsEmbed))"
            :post="post"/>
        <slot></slot>
    </div>
    <div class="AIF-PostViewer__BlacklistMessage">
        <i class="fal fa-fw fa-eye-slash"></i>
        <p>Blocked by your blacklist.</p>
        <app-button
            small
            @click="dismissBlacklist">
            Show content
        </app-button>
    </div>
</div>
</template>

<script>
import Vue from 'vue';
import compat from '@/compat';
import videoEmebds from '@/services/videoEmbeds';
import alert from '@/services/alert';

import PostViewerLoading from './PostViewerLoading';
import PostViewerImage from './PostViewerImage';
import PostViewerVideo from './PostViewerVideo';
import PostViewerEmbed from './PostViewerEmbed';
import PostViewerUnsupported from './PostViewerUnsupported';

export default {
    components: {
        PostViewerLoading,
        PostViewerImage,
        PostViewerVideo,
        PostViewerUnsupported,
        PostViewerEmbed,
    },
    data() {
        return {
            directUrl: null,
            displayingImage: false,
            
            buffering: false,
            containerHeight: 0,
        };
    },
    props: {
        post: Object,
        loading: Boolean,
        
        showVideoControls: Boolean,
        fullscreen: Boolean,
        muted: Boolean,
        
        blacklisted: Boolean,
    },
    computed: {
        displayAsImage() {
            if (!this.post) {
                return false;
            }
            return this.post.type_media == 'image' || (!this.displayAsVideo && this.post.media_url.indexOf('.gif') != -1);
        },
        displayAsVideo() {
            if (!this.post) {
                return false;
            }
            return this.post.media_url.indexOf('gfycat.com/') != -1
                || this.directUrl.indexOf('.mp4') != -1;
        },
        displayAsEmbed() {
            if (!this.post) {
                return false;
            }
            return this.post.type_media == 'video' && this.embedUrl != null
        },
        embedUrl() {
            return videoEmebds.getIframeSrc(this.directUrl);
        },
    },
    watch: {
        post() {
            this.sizeContentBox();
            this.resolveDirectUrl();
        },
        directUrl() {
            this.buffering = false;
            /**
             * Works around a bug in Chrome where a memory leak happens
             * if you keep changing an images src. 
             * This forces Vue to recreate the image element every time.
             */
            this.displayingImage = false;
            Vue.nextTick(() => {
                this.displayingImage = true;
            });
        },
        async fullscreen() {
            this.sizeContentBox();
        },
    },
    mounted() {
        window.addEventListener('resize', () => {
            this.sizeContentBox();
        });
        this.sizeContentBox();
    },
    methods: {
        dismissBlacklist() {
            this.$emit('dismiss-blacklist');
        },
        resolveDirectUrl() {
            if (!this.post) {
                return null;
            }
            var url = this.post.media_url;
            
            if (url.indexOf('.gifv') != -1) {
                return this.directUrl = url.replace('.gifv', '.mp4');
            }
            
            if (url.indexOf('imgur.com/gallery/') != -1) {
                return this.directUrl = url.replace(/^https?:\/\/imgur.com\/gallery\/(.*)/, 'https://i.imgur.com/$1.jpg');
            }
            if (url.indexOf('imgur.com/') != -1) {
                return this.directUrl = url.replace(/^https?:\/\/imgur.com\/(.*)/, 'https://i.imgur.com/$1.jpg');
            }
            
            if (!compat.supportsVideoType('webm') && this.post.media_url.indexOf('gfycat.com/') != -1) {
                url = url.replace('.webm', '.mp4');
            }
            
            this.directUrl = url;
        },
        previousPost() {
            this.$emit('prev');
        },
        nextPost() {
            this.$emit('next');
        },
        sizeContentBox() {
            if (this.fullscreen) {
                this.containerHeight = window.innerHeight + 'px';
                return;
            }
            
            var factor = 0.8;
            if (window.innerWidth < 768) {
                factor = 0.6;
            }
            var min = window.innerHeight * factor;
            
            var desired = 0;
            
            var footer = document.querySelector('.AIF-PostInformation__Header');
            if (footer) {
                var footerHeight = footer.clientHeight;
                desired = window.innerHeight - footerHeight;
                console.log('resizing', {footer, desired, min});
            }
            
            var actual = Math.max(min, desired);
            this.containerHeight = actual + 'px';
        },
        openSourceUrl() {
            window.open(this.post.media_url);
        },
        togglePlay() {
            if (this.$refs.video.paused) {
                this.$refs.video.play();
            } else {
                this.$refs.video.pause();
            }
        },
        onBuffering() {
            this.buffering = 'deferring';
            setTimeout(() => {
                if (this.buffering === 'deferring') {
                    this.buffering = true;
                }
            }, 500);
        },
        onBuffered() {
            this.buffering = false;
        },
    }
}
</script>


<style lang="scss">
.AIF-PostViewer {
    background: #020202;
    
    .AIF-PostViewer__BlacklistMessage {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        
        i {
            font-size: 4rem;
        }
    }
    
    &--blacklisted {
        .AIF-PostViewer__Content {
            filter: grayscale(1) blur(3rem);
            pointer-events: none;
        }
        .AIF-PostViewer__BlacklistMessage {
            display: flex;
        }
    }
    
    &__Content {
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: relative;
        
        &--typeImage {
        }
    }
    
    &__Image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    &__Video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    &__Notice {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
    }
    &__NoticeBackground {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0, 0.8);
    }
    &__NoticeBox {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &--fullscreen {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 99;
    }
}
</style>