<template>
<div :class="{
        'AIF-PostListItemMenu': 1,
        'AIF-PostListItemMenu--open': open,
    }">
    <div class="AIF-PostListItemMenu__Items">
        <slot></slot>
    </div>
</div>
</template>


<script>
export default {
    props: {
        open: Boolean,
    },
};
</script>

<style lang="scss">
.AIF-PostListItemMenu {
    opacity: 0;
    
    pointer-events: none;
    
    transition: opacity 0.15s ease-in-out;
    
    z-index: 9;
    
    &--open {
        opacity: 1;
        pointer-events: all;
    }
    
    &__Items {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        
        background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6) 33%, rgba(0, 0, 0, 0.9));
        padding: 4rem 1rem;
        overflow-y: auto;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
}
</style>