<template>
<div 
    class="AIF-PostListItemMenuItem"
    @click="onClick">
    <i 
        v-if="icon"
        :class="'fal fa-' + icon + ' fa-fw'">
    </i>
    {{ label }}
</div>
</template>

<script>
export default {
    props: {
        icon: String,
        label: String,
    },
    methods: {
        onClick() {
            this.$emit('click');
        },
    },
};
</script>

<style lang="scss">
.AIF-PostListItemMenuItem {
    padding: 1rem;
    color: #999;
    
    cursor: pointer;
    
    &:hover {
        color: white;
    }
}
</style>
