<template>
<div :class="{
        'AIF-PostListItem': 1,
        'AIF-PostListItem--viewed': isViewed,
        'AIF-PostListItem--preview': preview,
        'AIF-PostListItem--canRemove': canRemove,
        'AIF-PostListItem--interactive': !menuOpen,
        'AIF-PostListItem--blacklisted': blacklisted,
    }"
    v-on-clickaway="() => menuOpen = false">
    <div class="AIF-PostListItem__Remove"
        v-if="canRemove">
        <app-button
            @click="onRemove">
            <i class="fal fa-fw fa-times"></i>
            Remove post
        </app-button>
    </div>
    <post-list-item-header
        :post="post"
        :score-label="scoreLabel"
        :feed-icon="feedIcon"/>
    <div 
        class="AIF-PostListItem__ThumbnailContainer"
        >
        <img 
            v-if="thumbnail"
            :src="thumbnail"
            class="AIF-PostListItem__Thumbnail"/>
        <div 
            v-else
            class="AIF-PostListItem__Thumbnail AIF-PostListItem__Thumbnail--empty">
            No thumbnail yet.
        </div>
        <a 
            class="AIF-PostListItem__ThumbnailOverlay"
            :href="playUrl"
            @click.prevent="onPlay">
        </a>
        <div
            :class="{
                'AIF-PostListItem__PlayIndicator': 1,
                'AIF-PostListItem__PlayIndicator--rated': !isNotRated,
                'AIF-PostListItem__PlayIndicator--unviewed': !isViewed,
                'AIF-PostListItem__PlayIndicator--positive': isLoved,
                'AIF-PostListItem__PlayIndicator--negative': isHated,
            }"
            @click="onPlay">
            <template v-if="!blacklisted">
                <i v-if="isNotRated && !isViewed" class="fal fa-fw fa-play"></i>
                <i v-if="isNotRated && isViewed" class="fal fa-fw fa-check"></i>
                <i v-if="isLoved" class="fal fa-fw fa-heart"></i>
                <i v-if="isLiked" class="fal fa-fw fa-thumbs-up"></i>
                <i v-if="isDisliked" class="fal fa-fw fa-thumbs-down"></i>
                <i v-if="isHated" class="fal fa-fw fa-skull"></i>
            </template>
            <template v-else>
                <i class="fal fa-fw fa-eye-slash"></i>
                <p>Blocked by your blacklist</p>
            </template>
        </div>
        <div 
            :class="{
                'AIF-PostListItem__WatchLaterIndicator': 1,
                'AIF-PostListItem__WatchLaterIndicator--active': isWatchLater,
            }"
            @click="onWatchLaterToggle">
            <i :class="'fa-fw fa-bookmark ' + (isWatchLater ? 'fas' : 'fal')"></i>
        </div>
        <div 
            class="AIF-PostListItem__MenuTrigger"
            @click="menuOpen = !menuOpen">
            <i class="fal fa-fw fa-ellipsis-v"></i>
        </div>
        <div 
            v-if="showDebug"
            class="AIF-PostListItem__Debug">
            <strong>Debugging:</strong>
            <br>
            <p>
<pre>
  RecommendationsV1:
    <template v-if="post.recommendations" v-for="rec in post.recommendations">({{ rec.id }}: {{ rec.score }})</template>
  RecommendationsV2:
    <template v-if="post.recommendation_results" v-for="recResult in post.recommendation_results">({{ recResult.recommendation_set.strategy_name }}#{{ recResult.recommendation_set.id }}: {{ recResult.score }})</template>
  --
  Ratings:
    <template v-if="post.ratings" v-for="rating in post.ratings">({{ rating.id }}: {{ rating.type }})</template>
</pre>
            </p>
        </div>
        <post-list-item-menu
            :open="menuOpen"
            :post="post">
            <post-list-item-menu-item
                icon="book"
                label="Add to list"
                @click="onAddToList"/>
        </post-list-item-menu>
    </div>
    <div class="AIF-PostListItem__ViewedOverlay"></div>
    <post-list-item-footer
        :post="post"
        :score-icon="scoreIcon"
        :display-title="displayTitle"/>
</div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway2';
import api from '@/http/api';
import session from '@/http/session';
import viewedPosts from '@/services/viewedPosts';

import TagBadge from './TagBadge';
import PostListItemHeader from './PostListItemHeader';
import PostListItemFooter from './PostListItemFooter';
import PostListItemMenu from './PostListItemMenu';
import PostListItemMenuItem from './PostListItemMenuItem';

export default {
    mixins: [
        clickaway,
    ],
    components: {
        TagBadge,
        PostListItemHeader,
        PostListItemFooter,
        PostListItemMenu,
        PostListItemMenuItem,
    },
    data() {
        return {
            menuOpen: false,
        };
    },
    props: {
        post: Object,
        playUrl: String,
        scoreLabel: {
            type: String,
            default: 'Score',
        },
        showDebug: Boolean,
        feedIcon: {
            type: String,
            default: 'question',
        },
        scoreIcon: {
            type: String,
            default: 'heart',
        },
        preview: Boolean,
        displayTitle: {
            type: Boolean,
            default: true,
        },
        canRemove: Boolean,
        blacklisted: Boolean,
    },
    computed: {
        thumbnail() {
            if (this.post.type_media == 'image') {
                if (this.post.thumbnail_url) {
                    if (this.post.thumbnail_url.indexOf('imgur.com') > -1
                        && this.post.thumbnail_url.indexOf('.jpg') == -1
                        && this.post.thumbnail_url.indexOf('.png') == -1) {
                        return this.post.thumbnail_url + '.jpg';
                    }
                    return this.post.thumbnail_url;
                }
                if (this.post.media_url) {
                    if (this.post.media_url.indexOf('imgur.com/gallery/') != -1) {
                        return this.post.media_url.replace(/^https?:\/\/imgur.com\/gallery\/(.*)/, 'https://i.imgur.com/$1.jpg');
                    }
                    if (this.post.media_url.indexOf('imgur.com/') != -1) {
                        return this.post.media_url.replace(/^https?:\/\/imgur.com\/(.*)/, 'https://i.imgur.com/$1.jpg');
                    }
                    if (this.post.media_url.indexOf('imgur.com') > -1
                        && this.post.media_url.indexOf('.jpg') == -1
                        && this.post.media_url.indexOf('.png') == -1) {
                            return this.post.media_url + '.jpg';
                    }
                }
                return this.post.media_url;
            }
            if (!this.post.thumbnail_url) {
                if (this.post.type_media == 'animated') {
                    if (this.post.media_url.indexOf('.gifv') != -1) {
                        return this.post.media_url.replace('.gifv', '.gif');
                    }
                    if (this.post.media_url.indexOf('.gif') != -1) {
                        return this.post.media_url;
                    }
                    if (this.post.media_url.indexOf('https://gfycat.com/') === 0) {
                        return this.post.media_url.replace('/gfycat.com/', '/giant.gfycat.com/') + '.gif';
                        
                    }
                } else {
                }
            }
            return this.post.thumbnail_url;
        },
        isViewed() {
            return (this.post.views && this.post.views.length > 0) || viewedPosts.isViewed(this.post.id);
        },
        isNotRated() {
            return !this.post.ratings || this.post.ratings.length == 0;
        },
        isLoved() {
            return this.post.ratings && this.post.ratings.length > 0 && this.post.ratings[0].type == 'love';
        },
        isLiked() {
            return this.post.ratings && this.post.ratings.length > 0 && this.post.ratings[0].type == 'like';
        },
        isDisliked() {
            return this.post.ratings && this.post.ratings.length > 0 && this.post.ratings[0].type == 'dislike';
        },
        isHated() {
            return this.post.ratings && this.post.ratings.length > 0 && this.post.ratings[0].type == 'hate';
        },
        isWatchLater() {
            return this.post.watch_later_entries && this.post.watch_later_entries.length > 0;
        },
    },
    methods: {
        onPlayNewTab(e) {
            if (this.menuOpen) {
                return;
            }
            
            e.preventDefault();
            this.$emit('play', {newTab: true});
            return false;
        },
        onPlay() {
            if (this.menuOpen) {
                return;
            }
            
            this.$emit('play');
        },
        onRemove() {
            if (this.menuOpen) {
                return;
            }
            
            this.$emit('remove');
        },
        onAddToList() {
            this.menuOpen = false;
            this.$emit('add-to-list');
        },
        async onWatchLaterToggle() {
            var res = await api.post('posts/' + this.post.id + '/watchlater', {
                include: !this.isWatchLater,
            });
            
            if (res.data.entry) {
                this.post.watch_later_entries = [res.data.entry];
            } else {
                this.post.watch_later_entries = [];
            }
        },
    },
};
</script>

<style lang="scss">
.AIF-PostListItem {
    display: flex;
    flex-direction: column;
    background: #444;
    border: 1px solid #555;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    
    .AIF-PostListItem__ViewedOverlay {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
        background: rgba(0,0,0,0.3);
    }
    &--viewed {
        background: #222;
        border-color: #111;
        
        .AIF-PostListItem__ViewedOverlay {
            display: block;
        }
    }
    
    &--blacklisted {
        .AIF-PostListItem__Thumbnail {
            filter: grayscale(1) blur(2rem);
        }
        
        .AIF-PostListItemHeader,
        .AIF-PostListItemFooter {
            opacity: 0;
            transition: opacity 0.3s;
        }
        
        &:hover {
            .AIF-PostListItemHeader,
            .AIF-PostListItemFooter {
                opacity: 1;
            }
        }
    }
    
    &:hover {
        border-color: #aaa;
    }
    
    &__ThumbnailContainer {
        height: 320px;
        position: relative;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &--interactive {
        .AIF-PostListItem__ThumbnailContainer {
        cursor: pointer;
        }
    }
    
    &__Thumbnail {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
        
        &--empty {
            background: linear-gradient(to bottom right, #f0f, #0ff);
            
            color: rgba(255,255,255, 0.5);
            font-size: 3rem;
            text-align: center;
            
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    &__ThumbnailOverlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        
        background: rgba(0,0,0,0.4);
    }
    
    &__PlayIndicator {
        position: absolute;
        top: 50%;
        left: 50%;
        pointer-events: none;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(255,255,255, 0.2);
        font-size: 1rem;
        
        transform: translate(-50%, -50%);
        
        i {
            font-size: 6rem;
            color: rgba(255,255,255,0.2);
        }
        
        &--rated {
            i {
            }
        }
        
        &--positive {
            i {
                color: rgba(255, 0, 255, 0.5);
            }
        }
        &--negative {
            i {
                color: rgba(0, 255, 255, 0.5);
            }
        }
        
        &--unviewed {
            i {
            }
        }
    }
    &__WatchLaterIndicator {
        position: absolute;
        top: 0;
        right: 4rem;
        z-index: 1;
        
        padding: 0.5rem;
        
        i {
            font-size: 2.5rem;
            color: rgba(255,255,255,0.5);
            
            &:hover {
                color: rgba(255,255,255,0.9);
            }
        }
    }
    
    &__MenuTrigger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        padding: 0.5rem;
        
        i {
            font-size: 2.5rem;
            color: rgba(255,255,255,0.5);
        }
        
        &:hover {
            i {
                color: rgba(255,255,255,0.9);
            }
        }
    }
    
    &__Debug {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
        
        padding: 0.5rem;
        padding-top: 3rem;
        
        pointer-events: none;
    }
    
    
    &--preview {
        border: none;
        
        .AIF-PostListItemHeader,
        .AIF-PostListItem__Score,
        .AIF-PostListItem__WatchLaterIndicator,
        .AIF-PostListItemFooter__Title {
            display: none;
        }
        
        .AIF-PostListItem__PlayIndicator i {
            font-size: 3rem;
        }
        
        .AIF-PostListItem__ThumbnailContainer {
            height: 120px;
        }
        
        .AIF-PostListItemFooter {
            padding: 0;
            font-size: 1rem;
        }
        
        .AIF-PostListItemFooter__Row {
            justify-content: flex-end;
        }
        
        .AIF-PostListItem__Thumbnail--empty {
            font-size: 1rem;
        }
    }
    
    
    &__Remove {
        position: absolute;
        z-index: 4;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        
        display: none;
    }
    
    &--canRemove {
        &:hover {
            .AIF-PostListItem__Remove {
                display: flex;
            }
            
            .AIF-PostListItemHeader {
                display: none;
            }
        }
    }
}
</style>