<template>
<div class="AIF-PostDetails">
    <div class="AIF-PostDetails__Entry">
        <label class="AIF-PostDetails__Label">
            Gender type
        </label>
        <var class="AIF-PostDetails__Value">
            {{ post.type_gender }}
        </var>
    </div>
    <div class="AIF-PostDetails__Entry">
        <label class="AIF-PostDetails__Label">
            Media type
        </label>
        <var class="AIF-PostDetails__Value">
            {{ post.type_media }}
        </var>
    </div>
    <div class="AIF-PostDetails__Entry">
        <label class="AIF-PostDetails__Label">
            Artstyle type
        </label>
        <var class="AIF-PostDetails__Value">
            {{ post.type_artstyle }}
        </var>
    </div>
    <template v-if="post.subreddit_title != '_unknown'">
        <div class="AIF-PostDetails__Entry">
            <label class="AIF-PostDetails__Label">
                Subreddit
            </label>
            <var class="AIF-PostDetails__Value">
                <a :href="'https://www.reddit.com/r/' + post.subreddit_title" target="_blank">
                    /r/{{ post.subreddit_title }}
                </a>
            </var>
        </div>
        <div class="AIF-PostDetails__Entry">
            <label class="AIF-PostDetails__Label">
                Media
            </label>
            <var class="AIF-PostDetails__Value">
                <a :href="post.media_url" target="_blank">
                    {{ post.media_url }}
                </a>
            </var>
        </div>
        <div class="AIF-PostDetails__Entry">
            <label class="AIF-PostDetails__Label">
                Link
            </label>
            <var class="AIF-PostDetails__Value">
                <a :href="'https://www.reddit.com' + post.permalink" target="_blank">
                    https://www.reddit.com{{ post.permalink }}
                </a>
            </var>
        </div>
        <div class="AIF-PostDetails__Entry">
            <label class="AIF-PostDetails__Label">
                Author
            </label>
            <var class="AIF-PostDetails__Value">
                {{ post.author }}
            </var>
        </div>
    </template>
    <div class="AIF-PostDetails__Entry">
        <label class="AIF-PostDetails__Label">
            ID
        </label>
        <var class="AIF-PostDetails__Value">
            {{ post.id }}
        </var>
    </div>
    <div class="AIF-PostDetails__Entry">
        <label class="AIF-PostDetails__Label">
            Indexed at
        </label>
        <var class="AIF-PostDetails__Value">
            {{ post.created_at }}
        </var>
    </div>
    <div class="AIF-PostDetails__Entry">
        <label class="AIF-PostDetails__Label">
            Posted at
        </label>
        <var class="AIF-PostDetails__Value">
            {{ post.posted_at }}
        </var>
    </div>
</div>
</template>

<script>
export default {
    props: {
        post: Object,
    },
};
</script>

<style lang="scss">
.AIF-PostDetails {
    display: flex;
    flex-direction: column;
    
    &__Entry {
        display: flex;
        border-bottom: 1px solid #666;
        padding: 0.2rem 0;
        
        &:last-child {
            border-bottom: none;
        }
    }    
    
    &__Label {
        display: block;
        min-width: 100px;
    }
    
    &__Value {
        display: block;
        overflow: hidden;
        overflow-text: ellipsis;
    }
}
</style>