<template>
<div class="AIF-SearchInput">
    <div class="AIF-SearchInput__Box">
        <div class="AIF-SearchInput__Terms">
            <div 
                v-for="term in terms"
                class="AIF-SearchInput__Term"
                @click="removeTerm(term)">
                {{ term }}
            </div>
        </div>
        <input
            :placeholder="value ? '' : 'Search...'"
            type="text"
            class="AIF-SearchInput__Input"
            :value="nextTerm"
            @input="onInput"
            @keydown="onKeyDown"/>
    </div>
    <div 
        v-if="suggestions && suggestions.length > 0"
        class="AIF-SearchInput__Suggestions">
        <div 
            v-for="suggestion in suggestions"
            class="AIF-SearchInput__Suggestion"
            @click="addSuggestion(suggestion)">
            <template v-if="suggestion.tag || suggestion.subreddit">
                <span class="AIF-SearchInput__SuggestionPrefix">{{ suggestion.prefix }}</span>
            </template>
            <tag-badge
                v-if="suggestion.tag"
                :tag="suggestion.tag"
                raise-click-event
                @click="addSuggestion(suggestion)"/>
            <subreddit-badge
                v-else-if="suggestion.subreddit"
                :title="suggestion.subreddit.title"
                :id="suggestion.subreddit.id"
                raise-click-event
                @click="addSuggestion(suggestion)"/>
            <template v-else>
                <span class="AIF-SearchInput__SuggestionPrefix">{{ suggestion.prefix }}</span><span class="AIF-SearchInput__SuggestionLabel">{{ suggestion.label }}</span><span class="AIF-SearchInput__SuggestionSuffix">{{ suggestion.suffix }}</span>
            </template>
            <template v-if="suggestion.tag || suggestion.subreddit">
                <span class="AIF-SearchInput__SuggestionSuffix">{{ suggestion.suffix }}</span>
            </template>
        </div>
    </div>
</div>
</template>

<script>
import _ from 'lodash';

import api from '@/http/api';
import TagBadge from './TagBadge';
import SubredditBadge from './SubredditBadge';

export default {
    components: {
        TagBadge,
        SubredditBadge,
    },
    props: {
        value: String,
    },
    data() {
        return {
            nextTerm: '',
            suggestions: [
            ],
        };
    },
    computed: {
        terms() {
            if (!this.value || this.value.length < 1) {
                return [];
            }
            return this.value.match(/(-?(?:\w+\:"[^"]+"|\w+\:\w+|\w+))/gm);
        },
    },
    methods: {
        autocomplete: _.debounce(async function() {
            var res = await api.call('get', '/info/autocomplete', {
                params: {
                    q: this.nextTerm,
                },
            });
            
            this.suggestions = res.data.suggestions;
        }, 300),
        onInput(e) {
            this.nextTerm = e.target.value;
            this.autocomplete();
        },
        onKeyDown(e) {
            console.log({e, key: e.key});
            if (e.key == 'Backspace' && !this.nextTerm) {
                this.removeLastTerm();
                e.preventDefault();
                return false;
            }
            if ((e.key == ' ' || e.key == ',') && this.nextTerm.length > 1) {
                if ((this.nextTerm.match(/\"/g)||[]).length == 1) {
                    return;
                }
                this.addNextTerm();
                e.preventDefault();
                return false;
            }
            if (this.suggestions.length > 0 &&
                (e.key == 'Enter' || e.key == 'Tab') && this.nextTerm.length > 1) {
                this.addSuggestion(this.suggestions[0]);
                e.preventDefault();
                return false;
            }
        },
        addSuggestion(suggestion) {
            this.$emit('change', (this.value || '')+ ' ' + suggestion.term);
            this.nextTerm = '';
            this.suggestions = [];
        },
        addNextTerm() {
            this.$emit('change', (this.value || '') + ' ' + this.nextTerm);
            this.nextTerm = '';
            this.suggestions = [];
        },
        removeLastTerm() {
            var terms = this.terms.slice();
            terms.splice(terms.length - 1, 1);
            this.$emit('change', terms.join(' '));
            this.suggestions = [];
        },
        removeTerm(term) {
            var terms = this.terms.slice();
            terms = terms.filter(str => str != term);
            this.$emit('change', terms.join(' '));
            this.suggestions = [];
        },
    },
};
</script>

<style lang="scss">
.AIF-SearchInput {
    position: relative;
    
    &__Box {
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 0.5rem;
        color: #ccc;
        
        display: flex;
        position: relative;
    }
    
    &__Terms {
        display: flex;
        margin: 1rem;
        margin-right: 0;
    }
    
    &__Term {
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 0.5rem;
        color: #ccc;
        padding: 0.2rem;
        margin-right: 0.5rem;
        white-space: nowrap;
        
        cursor: pointer;
    }
    
    
    &__Input {
        width: 100%;
        border: none;
        background: transparent;
        outline: none;
        color: white;
        padding: 1.3rem 0;
    }
    
    
    &__Suggestions {
        position: absolute;
        z-index: 10;
        background: rgba(23, 21, 24, 0.98);
        border: 1px solid #685f6d;
        width: 100%;
    }
    
    &__Suggestion {
        padding: 1rem;
        border-top: 1px solid rgba(255,255,255,0.05);
        
        cursor: pointer;
        
        &:hover {
            background: rgba(0,0,0,0.3);
        }
        
        &:first-child {
            border-top: none;
        }
    }
    
    &__SuggestionPrefix {
        color: #aaa;
    }
    &__SuggestionSuffix {
        color: #aaa;
    }
}
</style>
    