<template>
<div class="AIF-SiteFooter">
    <div class="AIF-SiteFooter__Copyright">
        Copyright &copy; 2019 AIFap. All rights reserved.
    </div>
    <div class="AIF-SiteFooter__Links">
        <router-link 
            :to="{name: 'LegalPrivacy'}"
            class="AIF-SiteFooter__Link">
            Privacy Policy
        </router-link>
        <router-link 
            :to="{name: 'LegalDmca'}"
            class="AIF-SiteFooter__Link">
            DMCA
        </router-link>
    </div>
</div>
</template>


<style lang="scss">
.AIF-SiteFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999;
    
    margin: 1rem;
    margin-top: auto;
    
    &__Copyright {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
    
    &__Links {
        justify-content: center;
        align-items: center;
    }
    
    &__Link {
        color: #999;
        font-size: 0.8rem;
        text-transform: uppercase;
        text-decoration: none;
        
        + .AIF-SiteFooter__Link {
            margin-left: 1rem;
        }
    }
}
</style>