<template>
<router-link 
    tabindex="0"
    class="AIF-SubredditBadge"
    :to="{name: 'FeedSubreddit', params: {id, slug: title}}"
    :event="raiseClickEvent ? '' : 'click'"
    @click.native="onClick">
    <app-text subdued>r/</app-text>{{ title }}
</router-link>
</template>

<script>
export default {
    props: {
        title: String,
        id: [Number, String],
        raiseClickEvent: Boolean,
    },
    methods: {
        onClick() {
            if (this.raiseClickEvent) {
                this.$emit('click');
                return false;
            }
        },
    },
};
</script>

<style lang="scss">
.AIF-SubredditBadge {
    display: inline-block;
    
    cursor: pointer;
    font-size: 1.1rem;
    background: #222;
    padding: 0.2rem 0.8rem;
    color: #ccc;
    
    border: 1px solid #333;
    border-radius: 999px;
    
    text-decoration: none;
    
    &:hover {
        border-color: #444;
    }
}
</style>