<template>
<app-banner
    info
    title="Support us on Patreon">
    <div>
        <support-us-display
            :needed="500"
            :support="337"/>
    </div>
    <p>
        We're pushing technology further than anyone
        else in the adult industry, but we have a small team and machine 
        learning can be expensive to run.
    </p>
    <p>
        If you like what we do and want to help us continue doing it, please
        consider supporting us by becoming a Patron. 
        Every cent we recieve will go directly to covering 
        our running costs and helping us pursue our goal of creating the 
        best porn recommendation platform on the internet.
    </p>
    <p>
        Thank you for your support.
        <br>
        &mdash; AIFap Developers
    </p>
    <app-button
        primary
        link
        rel="noopener"
        url="https://www.patreon.com/aif?utm_source=aifap.net&utm_medium=banner&utm_campaign=support_banner"
        target="_blank">
        Support us on Patreon
    </app-button>
    <app-button
        @click="popupBitcoinOpen = true">
        Donate via Bitcoin
    </app-button>
    <popup-bitcoin-donate
        :open="popupBitcoinOpen"
        @close="popupBitcoinOpen = false"/>
</app-banner>
</template>

<script>
import PopupBitcoinDonate from './PopupBitcoinDonate';
import SupportUsDisplay from './SupportUsDisplay';

export default {
    components: {
        PopupBitcoinDonate,
        SupportUsDisplay,
    },
    data() {
        return {
            popupBitcoinOpen: false,
        };
    },
};
</script>