<template>
<router-link 
    tabindex="0"
    class="AIF-TagBadge"
    :to="{name: 'FeedTag', params: {id: idReal, key: tagKeyReal}}"
    :event="raiseClickEvent ? '' : 'click'"
    @click.native="onClick">
    <div class="AIF-TagBadge__Tooltip"
        v-if="descriptionReal || (tag && tag.tag_namespace)">
        <div class="AIF-TagBadge__TooltipContent">
            <div
                class="AIF-TagBadge__Description"
                v-html="formatDescription(descriptionReal)">
            </div>
            <div 
                v-if="tag && tag.tag_namespace"
                class="AIF-TagBadge__DescriptionNamespace">
                {{ tag.tag_namespace.key }}
                namespace:
                <span v-html="formatDescription(tag.tag_namespace.description)">
                </span>
            </div>
        </div>
    </div>
    <div class="AIF-TagBadge__Container">
        <template 
            v-if="displayNamespace && tag && tag.tag_namespace">
            <span :class="{
                'AIF-TagBadge__Namespace': 1,
                ['AIF-TagBadge__Namespace--' + tagNamespaceReal]: 1,
            }">
                {{ tag.tag_namespace.shortkey }}
            </span>
            <span class="AIF-TagBadge__Key">
                {{ tagKeyReal }}
            </span>
        </template>
        <span 
            v-else
            class="AIF-TagBadge__Key">
            {{ tagKeyReal }}
        </span>
    </div>
</router-link>
</template>

<script>
import _ from 'lodash';

export default {
    props: {
        id: [Number, String],
        tagKey: String,
        tagNamespace: String,
        description: String,
        raiseClickEvent: Boolean,
        displayNamespace: {
            type: Boolean,
            default: true,
        },
        tag: Object,
    },
    computed: {
        idReal() {
            return this.tag ? this.tag.id : this.id;
        },
        tagKeyReal() {
            return this.tag ? this.tag.key : this.tagKey;
        },
        tagNamespaceReal() {
            return this.tag ? (this.tag.tag_namespace || {}).key : this.tagNamespace;
        },
        descriptionReal() {
            return this.tag ? this.tag.description : this.description;
        },
    },
    methods: {
        onClick() {
            if (this.raiseClickEvent) {
                this.$emit('click');
                return false;
            }
        },
        formatDescription(str) {
            str = _.escape(str);
            str = str.replace('{', '<span class="AIF-TagBadge__DescriptionHighlight">')
                     .replace('}', '</span>');
            return str;
        },
    },
};
</script>

<style lang="scss">
.AIF-TagBadge {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    
    color: white;
    
    &__Container {
        background: #111;
        border: 1px solid #333;
        border-radius: 999px;
        
        display: flex;
        overflow: hidden;
        
        &:hover {
            border-color: #444;
        }
    }
    
    &__Key {
        padding: 0.1rem 0.4rem;
    }
    
    
    &__Namespace {
        padding: 0.1rem 0.4rem 0.1rem 0.5rem;
        margin-right: -0.2rem;
        background: rgba(255, 255, 255, 0.5);
        min-width: 1rem;
        height: 100%;
        display: block;
        color: white;
    }
    &__Namespace--female {
        background: rgba(255, 0, 255, 0.5);
    }
    &__Namespace--male {
        background: rgba(0, 255, 255, 0.5);
    }
    &__Namespace--trans {
        background: linear-gradient(to bottom right, rgba(0, 255, 255, 0.5), rgba(255, 0, 255, 0.5));
    }
    &__Namespace--artist {
        background: rgba(255, 0, 0, 0.5);
    }
    &__Namespace--series {
        background: rgba(255, 0, 0, 0.5);
    }
    &__Namespace--actor {
        background: rgba(255, 0, 0, 0.5);
    }
    &__Namespace--character {
        background: rgba(255, 0, 0, 0.5);
    }
    &__Namespace--language {
        background: rgba(255, 255, 0, 0.5);
    }
    
    &__DescriptionHighlight {
        background: yellow;
        color: black;
        padding: 0 2px;
    }
    
    &__Tooltip {
        display: none;
        position: absolute;
        top: -0.5rem;
        background: white;
        z-index: 1;
    }
    &:hover .AIF-TagBadge__Tooltip {
        display: flex;
    }
    &__TooltipContent {
        background: black;
        position: absolute;
        bottom: 100%;
        color: white;
        white-space: nowrap;
        padding: 0.5rem;
        border: 1px solid #999;
        border-radius: 0.5rem;
    }
    
    
    &__DescriptionNamespace {
        color: #ccc;
    }
}
</style>