<template>
<app-card
    title="Tag explorer"
    class="AIF-TagExplorer">
    <app-card-section>
        <app-text-field
            placeholder="Search..."
            :value="search"
            @input="v => search = v"/>
    </app-card-section>
    <app-card-section>
        <table style="width:100%"
            class="AIF-TagExplorer__Table">
            <thead>
                <tr>
                    <th style="width:0%">Tag</th>
                    <th style="width:80%">Description</th>
                    <th style="width:0%"></th>
                </tr>
            </thead>
            <tbody>
                <template v-for="tag, i in results">
                    <tr>
                        <td>
                            <tag-badge
                                :tag="tag"/>
                        </td>
                        <td>
                            {{ tag.description }}
                        </td>
                        <td>
                            <app-button
                                subdued
                                small
                                link
                                :href="$router.resolve({name: 'FeedSearchAdvanced', query: {q: (tag.tag_namespace ? tag.tag_namespace.key + ':' : '') + tag.key}}).href">
                                <i class="fal fa-fw fa-search"></i>
                                Search
                            </app-button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </app-card-section>
</app-card>
</template>

<script>
import TagBadge from './TagBadge';

export default {
    components: {
        TagBadge,
    },
    props: {
        tags: Array,
    },
    data() {
        return {
            search: null,
        };
    },
    computed: {
        searchKey() {
            var parts = this.search.split(':');
            if (parts.length > 1) {
                return parts[1];
            }
            return this.search;
        },
        searchNamespace() {
            var parts = this.search.split(':');
            if (parts.length > 1) {
                return parts[0];
            }
            return null;
        },
        results() {
            if (!this.tags) {
                return [];
            }
            
            var tags = this.tags.slice().filter(tag => {
                if (this.search) {
                    if (this.searchNamespace) {
                        if (!tag.tag_namespace) {
                            return false;
                        }
                        if (tag.tag_namespace.key.toLowerCase() != this.searchNamespace.toLowerCase()
                            && tag.tag_namespace.shortkey.toLowerCase() != this.searchNamespace.toLowerCase()) {
                            return false;
                        }
                    }
                    if (tag.key.toLowerCase().indexOf(this.searchKey.toLowerCase()) == -1) {
                        return false;
                    }
                }
                return true;
            });
            
            tags.sort((a, b) => {
                return a.key.localeCompare(b.key);
            });
            
            console.log({tags});
            
            return tags;
        },
    },
}
</script>

<style lang="scss">
.AIF-TagExplorer {
    &__Table {
        th, td {
            padding: 0 0.3rem;
        }
    }
}
</style>