<template>
<app-card
    title="Settings">
    <app-card-section
        v-if="settings">
        <app-form-layout>
            <app-checkbox
                v-model="settings.show_video_controls"
                label="Show video controls on animated posts"/>
            <app-checkbox
                v-model="settings.hide_titles"
                label="Hide post titles"/>
            <app-checkbox
                v-model="settings.colorblind_mode"
                label="Colorblind mode"/>
            <app-checkbox
                v-model="settings.left_hand_controls"
                label="On mobile, show rate/navigation controls on the right side of the screen."/>
            <app-checkbox
                v-model="settings.use_old_viewer"
                label="Use the old viewer layout"/>
            <app-checkbox
                v-model="settings.show_feed_debug"
                label="Show debugging information in feeds"/>
            <app-checkbox
                v-model="settings.hide_support_banner"
                label="Hide donation banners."/>
            <app-checkbox
                v-model="settings.play_sound_by_default"
                label="Autoplay audio on animated posts"/>
        </app-form-layout>
    </app-card-section>
    <app-card-section>
        <app-button
            @click="onSaveSettings">
            Save settings
        </app-button>
    </app-card-section>
    <app-card-section>
        <app-text subdued>
            You may need to refresh your browser for settings changes to take effect.
        </app-text>
    </app-card-section>
</app-card>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

export default {
    data() {
        return {
            settings: null,
        };
    },
    async mounted() {
        var res = await api.get('/account/settings');
        this.settings = res.data.settings;
    },
    methods: {
        async onSaveSettings() {
            var res = await api.post('/account/settings', {
                settings: this.settings,
            });
            this.settings = res.data.settings;
            alert.showAlert('Settings saved.');
            
            session.refreshSettings();
        },
    },
};
</script>