<template>
<app-card
    title="Progression">
    <app-card-section
        v-for="channel in progression.channels"
        :key="channel.name"
        :title="channel.name">
        {{ channel }}
    </app-card-section>
</app-card>
</template>

<script>
import api from '@/http/api';
import session from '@/http/session';
import viewedPosts from '@/services/viewedPosts';
import alert from '@/services/alert';

export default {
    data() {
        return {
            progression: null,
        };
    },
    async mounted() {
        var res = await api.get('/account/progression');
        this.progression = res.data.progression;
    },
};
</script>