<template>
<app-card
    class="AIF-UserTrust"
    title="Trust">
    <app-card-section>
        <p>
            <strong>
                Your current trust: {{ trust }}
                <i class="fal fa-fw fa-shield-alt"></i>
            </strong>
            ({{ currentLevel.name }})
        </p>
        <app-split
            :columns="2"
            collapse-mobile>
            <div>
                <p>
                    <em>Trust</em> is a measure of your contributions to AIFap.
                    You earn Trust whenever you contribute to the site by amending posts,
                    using the tagging system, etc. As your Trust increases, you'll gain
                    new Trust Levels, which will unlock new ways you can help contribute
                    to and improve the site.
                </p>
                <p>
                    Increase your Trust by making positive contributions to the site,
                    like helping us identify the correct gender-type on posts that
                    couldn't be identified automatically.
                </p>
            </div>
            <div>
                <p>
                    Your Trust Level doesn't have any impact on your access to the site 
                    or your recommendations. It only affects what types of contributions
                    you're able to make, and the tools that are available to you.
                </p>
                <p>
                    Your Trust decreases
                    if the community or AIFap admins revert your contributions, or if
                    your account gets penalized for bad behavior. If your Trust Level drops too 
                    low, you'll be unable to contribute to the site.
                </p>
            </div>
        </app-split>
    </app-card-section>
    <app-card-section
        title="Trust level">
        <user-trust-level-display
            :trust="trust"
            :levels="levels"/>
    </app-card-section>
    <app-card-section
        title="Recent trust changes">
        <table style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Action
                    </th>
                    <th>
                        Change
                    </th>
                    <th>
                        New Trust
                    </th>
                    <th>
                        Timestamp
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="entry in recentActions">
                    <td>
                        {{ actions[entry.action].title }} 
                        <app-text subdued>
                            &mdash;
                            {{ actions[entry.action].description }}
                        </app-text>
                    </td>
                    <td>
                        <app-text
                            :positive="entry.trust_change > 0"
                            :negative="entry.trust_change < 0">
                            {{ entry.trust_change > -1 ? '+' : '' }}{{ entry.trust_change }}
                        </app-text>
                    </td>
                    <td>
                        {{ entry.new_trust }}
                    </td>
                    <td>
                        {{ entry.created_at|fromNow }} 
                    </td>
                </tr>
            </tbody>
        </table>
    </app-card-section>
</app-card>
</template>

<script>
import api from '@/http/api';
import session from '@/http/session';
import viewedPosts from '@/services/viewedPosts';
import alert from '@/services/alert';

import UserTrustLevelDisplay from './UserTrustLevelDisplay';

export default {
    components: {
        UserTrustLevelDisplay,
    },
    data() {
        return {
            trust: null,
            levels: null,
            recentActions: null,
            actions: [],
        };
    },
    computed: {
        currentLevel() {
            var last = null;
            for (let level of this.levels) {
                if (level.achieved) {
                    last = level;
                } else {
                    return last;
                }
            }
            return last;
        },
    },
    async mounted() {
        var res = await api.get('/account/trust');
        var profile = res.data.trust;
        this.trust = profile.trust;
        this.levels = profile.levels;
        this.recentActions = profile.recentActions;
        this.actions = profile.actions;
    },
};
</script>

<style lang="scss">
.AIF-UserTrust {
    ul {
        padding-left: 2rem;
        margin-top: 2rem;
    }
}
</style>