<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="Amends">
            <app-card-section>
                View and revert recent amends.
                Reverting will change the post back to the old values, regardless of if they've been changed again since.
            </app-card-section>
            <app-card-section>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Post</th>
                            <th>Thumb</th>
                            <th>User</th>
                            <th>Sub</th>
                            <th>Gender-type</th>
                            <th>Artstyle-type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="amend, i in amends">
                            <tr v-if="i > 0 && (i % 10 == 0)">
                                <th>ID</th>
                                <th>Post</th>
                                <th>Thumb</th>
                                <th>User</th>
                                <th>Sub</th>
                                <th>Gender-type</th>
                                <th>Artstyle-type</th>
                                <th>Actions</th>
                            </tr>
                            <tr
                                :style="{
                                    textDecoration: amend.reverted ? 'line-through' : null,
                                    color: amend.reverted ? 'red' : null,
                                }">
                                <td>{{ amend.id }}</td>
                                <td style="width: 30%">
                                    <a 
                                        :href="amend.post.media_url"
                                        target="_blank">
                                        {{ amend.post.title }}
                                    </a>
                                </td>
                                <td>
                                    <img 
                                        style="max-width:100%; max-height: 100px;"
                                        :src="amend.post.thumbnail_url || amend.post.media_url"/>
                                </td>
                                <td>{{ amend.user.username }}</td>
                                <td>
                                    <subreddit-badge
                                        :id="amend.post.subreddit_id"
                                        :title="amend.post.subreddit_title"/>
                                </td>
                                <td>
                                    {{ amend.old_type_gender }}
                                    <br>
                                    <i class="fal fa-arrow-down"></i>
                                    <br>
                                    <app-text :positive="amend.type_gender != amend.old_type_gender">
                                        {{ amend.type_gender }}
                                    </app-text>
                                </td>
                                <td>
                                    {{ amend.old_type_artstyle }}
                                    <br>
                                    <i class="fal fa-arrow-down"></i>
                                    <br>
                                    <app-text :positive="amend.type_artstyle != amend.old_type_artstyle">
                                        {{ amend.type_artstyle }}
                                    </app-text>
                                </td>
                                <td>
                                    <app-button
                                        @click="onRevert(amend)">
                                        Revert
                                    </app-button>
                                    <br>
                                    <app-button
                                        @click="onAmend(amend.post)">
                                        Re-amend
                                    </app-button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </app-card-section>
            <app-card-section>
                <app-button
                    v-if="page > 1"
                    @click="onPrev">
                    Previous
                </app-button>
                <app-button
                    @click="onNext">
                    Next
                </app-button>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <popup-amend
        :current-type-gender="amendPost && amendPost.type_gender"
        :current-type-artstyle="amendPost && amendPost.type_artstyle"
        :open="amendPopupOpen"
        @close="amendPopupOpen = false"
        @amend="onAmendComplete"/>
</app-layout>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

import SubredditBadge from '@/components/SubredditBadge';
import PopupAmend from '@/components/PopupAmend';

export default {
    components: {
        SubredditBadge,
        PopupAmend,
    },
    data() {
        return {
            amends: null,
            page: 1,
            
            amendPost: null,
            amendPopupOpen: false,
        };
    },
    mounted() {
        this.initialize();
    },
    methods: {
        async initialize() {
            var res = await api.get('/moderation/amends');
            this.amends = res.data.amends;
            this.page = 1;
        },
        async onNext() {
            var res = await api.get('/moderation/amends', {
                params: {
                    page: this.page + 1,
                },
            });
            if (res.data.amends.length) {
                this.amends = res.data.amends;
                this.page++;
            } else {
                alert.showAlert('End of feed');
            }
        },
        async onPrev() {
            var res = await api.get('/moderation/amends', {
                params: {
                    page: this.page - 1,
                },
            });
            if (res.data.amends.length) {
                this.amends = res.data.amends;
                this.page--;
            }
        },
        async onRevert(amend) {
            var res = await api.post('/moderation/amends/' + amend.id + '/revert', {});
            
            Object.assign(amend, res.data.amend);
            
            alert.showAlert('Amend reverted');
        },
        onAmend(post) {
            this.amendPost = post;
            this.amendPopupOpen = true;
        },
        async onAmendComplete({ typeGender, typeArtstyle }) {
            var res = await api.post('posts/' + this.amendPost.id + '/amend', {
                type_gender: typeGender,
                type_artstyle: typeArtstyle,
            });
            
            if (res.data.success) {
                this.initialize();
                alert.showAlert('Post amended. Thank you!');
                this.amendPopupOpen = false;
            } else {
                alert.showAlert('Couldn\'t amend that post.');
            }
        },
    },
};
</script>