<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="Subreddits">
            <app-card-section>
                Area for quickly editing subreddit type hinting.
            </app-card-section>
            <app-card-section>
                <app-text-field
                    placeholder="Filter"
                    :value="search"
                    @input="v => search = v"/>
            </app-card-section>
            <app-card-section>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>
                                Slug
                                <br>
                                <app-text subdued>Fullname</app-text>
                            </th>
                            <th>Gender-type</th>
                            <th>Artstyle-type</th>
                            <th>A. Solo</th>
                            <th>N. Solo</th>
                            <th>A. Wom</th>
                            <th>N. Wom</th>
                            <th>A. Men</th>
                            <th>N. Men</th>
                            <th>A. Str</th>
                            <th>N. Str</th>
                            <th>A. Gay</th>
                            <th>N. Gay</th>
                            <th>A. Les</th>
                            <th>N. Les</th>
                            <th>A. Tran</th>
                            <th>N. Tran</th>
                            <th>A. Real</th>
                            <th>B. Real</th>
                            <th>A. Hentai</th>
                            <th>B. Hentai</th>
                            <th>A. 3d</th>
                            <th>B. 3d</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="sub, i in results">
                            
                            <tr v-if="i > 0 && (i % 10 == 0)">
                                <th>ID</th>
                                <th>
                                    Slug
                                    <br>
                                    <app-text subdued>Fullname</app-text>
                                </th>
                                <th>Gender-type</th>
                                <th>Artstyle-type</th>
                                <th>A. Solo</th>
                                <th>N. Solo</th>
                                <th>A. Wom</th>
                                <th>N. Wom</th>
                                <th>A. Men</th>
                                <th>N. Men</th>
                                <th>A. Str</th>
                                <th>N. Str</th>
                                <th>A. Gay</th>
                                <th>N. Gay</th>
                                <th>A. Les</th>
                                <th>N. Les</th>
                                <th>A. Tran</th>
                                <th>N. Tran</th>
                                <th>A. Real</th>
                                <th>B. Real</th>
                                <th>A. Hentai</th>
                                <th>B. Hentai</th>
                                <th>A. 3d</th>
                                <th>B. 3d</th>
                                <th>Actions</th>
                            </tr>
                            <tr :class="{
                                    'AIF-ModSubreddits__Dirty': sub._dirty,
                                }">
                                <td>{{ sub.id }}</td>
                                <td>
                                    {{ sub.slug }}
                                    <br>
                                    <app-text subdued>{{ sub.fullname }}</app-text>
                                </td>
                                <template v-if="sub.type_hint">
                                    <td>
                                        <select
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.fixed_gender_type">
                                            <option :value="null">--</option>
                                            <option value="solo-women">solo-women</option>
                                            <option value="solo-men">solo-men</option>
                                            <option value="straight">straight</option>
                                            <option value="gay">gay</option>
                                            <option value="lesbian">lesbian</option>
                                            <option value="transexual">transexual</option>
                                            <option value="unknown">unknown</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.fixed_artstyle_type">
                                            <option :value="null">--</option>
                                            <option value="real-life">real-life</option>
                                            <option value="hentai">hentai</option>
                                            <option value="3d">3d</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.always_solo"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.never_solo"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.always_involve_women"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.never_involve_women"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.always_involve_men"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.never_involve_men"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.always_straight"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.never_straight"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.always_gay"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.never_gay"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.always_lesbian"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.never_lesbian"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.always_transexual"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.never_transexual"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.allows_reallife"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.bans_reallife"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.allows_hentai"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.bans_hentai"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.allows_3d"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            @change="sub._dirty = true"
                                            v-model="sub.type_hint.bans_3d"
                                            :value="true"/>
                                    </td>
                                    <td>
                                        <app-button
                                            @click="onSave(sub)">
                                            Save
                                        </app-button>
                                    </td>
                                </template>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </app-card-section>
        </app-card>
    </app-layout-section>
</app-layout>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

export default {
    data() {
        return {
            subreddits: null,
            search: null,
        };
    },
    computed: {
        results() {
            if (!this.subreddits) {
                return [];
            }
            if (!this.search) {
                return this.subreddits;
            }
            return this.subreddits.filter((subreddit) => {
                return subreddit.title.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
            });
        },
    },
    mounted() {
        this.initialize();
    },
    methods: {
        async initialize() {
            var res = await api.get('/moderation/subreddits');
            this.subreddits = res.data.subreddits;
        },
        async onSave(subreddit) {
            var res = await api.post('/moderation/subreddits/' + subreddit.id, {
                subreddit,
            });
            
            Object.assign(subreddit, res.data.subreddit);
            subreddit._dirty = false;
            
            alert.showAlert('Subreddit updated');
        }
    },
};
</script>


<style lang="scss">
.AIF-ModSubreddits {
    &__Dirty {
        td {
            background: rgba(0, 255, 255, 0.5);
        }
    }
}
</style>