<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="Tags">
            <app-card-section>
                All tags in the system and their aliases.
            </app-card-section>
            <app-card-section>
                <app-text-field
                    placeholder="Filter"
                    :value="search"
                    @input="v => search = v"/>
            </app-card-section>
            <app-card-section>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tag</th>
                            <th>Auto-subs</th>
                            <th>Auto-title</th>
                            <th>Aliases</th>
                            <!--
                            <th></th>
                            -->
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="tag, i in results">
                            <tr v-if="i > 0 && (i % 10 == 0)">
                                <th>ID</th>
                                <th>Tag</th>
                                <th>Auto-subs</th>
                                <th>Auto-title</th>
                                <th>Aliases</th>
                                <!--
                                <th></th>
                                -->
                            </tr>
                            <tr>
                                <td>{{ tag.id }}</td>
                                <td>
                                    <tag-badge
                                        :tag="tag"/>
                                </td>
                                <td style="width: 30%">
                                    <subreddit-badge
                                        v-for="sub in tag.default_subreddits"
                                        :key="sub.id"
                                        :id="sub.id"
                                        :title="sub.title"/>
                                </td>
                                <td>
                                    <pre 
                                        v-for="autotag in tag.auto_title_tags"
                                        v-highlightjs="autotag.pattern"
                                        class="AIF-ModTags__Regex"><code class="regexp"></code></pre>
                                </td>
                                <td>
                                    <div v-for="alias in tag.aliases">
                                        {{ alias.key }}
                                    </div>
                                </td>
                                <!--
                                <td>
                                    <app-button
                                        @click="onEditTag(tag)">
                                        Edit
                                    </app-button>
                                </td>
                                -->
                            </tr>
                        </template>
                    </tbody>
                </table>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <popup-mod-edit-tag
        :tag="editingTag"
        :namespaces="namespaces"
        :open="editTagPopupOpen"
        @close="editTagPopupOpen = false"
        @complete="onEditTagComplete"/>
</app-layout>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

import SubredditBadge from '@/components/SubredditBadge';
import TagBadge from '@/components/TagBadge';
import PopupModEditTag from '@/components/PopupModEditTag';

export default {
    components: {
        SubredditBadge,
        TagBadge,
        PopupModEditTag,
    },
    data() {
        return {
            tags: null,
            namespaces: null,
            search: null,
            
            editingTag: null,
            editTagPopupOpen: false,
            
            editing: [],
        };
    },
    computed: {
        results() {
            if (!this.tags) {
                return [];
            }
            if (!this.search) {
                return this.tags.map(tag => {
                    return tag;
                });
            }
            return this.tags.filter((tag) => {
                return tag.key.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
            });
        },
    },
    mounted() {
        this.initialize();
    },
    methods: {
        async initialize() {
            var res = await api.get('/moderation/tags');
            var r = [];
            for (let tag of res.data.tags) {
                r.push({
                    ...tag,
                    _editpatterns: false,
                    patterns: this.getPatterns(tag),
                });
            }
            this.tags = r;
            
            this.namespaces = res.data.namespaces;
        },
        getPatterns(tag) {
            var patterns = [];
            for (let autotag of tag.auto_title_tags) {
                patterns.push(autotag.pattern);
            }
            return patterns.join("\n");
        },
        onEditTag(tag) {
            this.editingTag = tag;
            this.editTagPopupOpen = true;
        },
        onEditTagComplete() {
        },
    },
};
</script>

<style lang="scss">
.AIF-ModTags {
    &__Regex {
        color: white;
        .hljs-symbol {
            color: #ff00ff;
        }
    }
}
</style>