<template>
<feed-view
    title="Recommended"
    :create-session="createSession"
    :refresh-on-init="false"
    :allow-manual-refresh="true"
    refresh-label="Generate more recommendations"
    feed-icon="flask"
    score-icon="heart">
    <template slot="description">
        <p>
            This feed contains our personal recommendations for you, based on your ratings.
        </p>
        <p>
            To improve your recommendations, keep rating posts, and look through
            the New or Random feeds when you're feeling experimental.
        </p>
    </template>
    <template 
        slot="sessionControls" 
        slot-scope="scope">
        <app-card-section
            v-if="scope.session && scope.session.params">
            <p>
                Recommendation level:
            </p>
            <vue-slide-bar
                :value="Number(scope.session.params.recommendation_level)"
                @input="v => scope.setSessionParams('recommendation_level', v)"
                :style="{margin: '0 5rem'}"
                :labelStyles="{color: 'white'}"
                :processStyle="{}"
                :tooltipStyles="{backgroundColor: 'var(--brand-alt-color-dark)', borderColor: 'var(--brand-alt-color-dark)'}"
                :data="[
                    0,
                    0.1,
                    0.2,
                    0.3,
                    0.4,
                    0.5,
                    0.6,
                    0.7,
                    0.8,
                    0.9,
                    1,
                    1.5,
                    2,
                    2.5,
                    3,
                    3.5,
                    4,
                    4.5,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    20,
                    30,
                    50,
                    100,
                ]"
                :range="[
                    {label: 'Safe'},
                    {label: 'Normal'},
                    {label: 'Wild'},
                ]">
            </vue-slide-bar>
        </app-card-section>
    </template>
</feed-view>
</template>

<script>
import VueSlideBar from 'vue-slide-bar';

import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        VueSlideBar,
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getRecommendationSession();
        }
    },
}
</script>

<style lang="scss">
.vue-slide-bar-process {
    background: linear-gradient(to right, var(--brand-color), var(--brand-alt-color));
}
</style>