<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="Recommended">
            <app-card-section>
                <p>
                    This feed contains our personal recommendations for you, based on your ratings.
                </p>
                <p>
                    To improve your recommendations, keep rating posts, and look through
                    the New or Random feeds when you're feeling experimental.
                </p>
            </app-card-section>
            <app-card-section>
                <p>
                    Recommendation level:
                </p>
                <vue-slide-bar
                    :value="recommendationLevel"
                    @input="setRecommendationLevel"
                    :style="{margin: '0 5rem'}"
                    
                    :labelStyles="{color: 'white'}"
                    :processStyle="{backgroundColor: '#ff00ff'}"
                    :tooltipStyles="{backgroundColor: '#ff00ff', borderColor: '#ff00ff'}"
                    :data="[
                        0,
                        0.1,
                        0.2,
                        0.3,
                        0.4,
                        0.5,
                        0.6,
                        0.7,
                        0.8,
                        0.9,
                        1,
                        1.5,
                        2,
                        2.5,
                        3,
                        3.5,
                        4,
                        4.5,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10,
                        20,
                        30,
                        50,
                        100,
                    ]"
                    :range="[
                        {label: 'Safe'},
                        {label: 'Normal'},
                        {label: 'Wild'},
                    ]">
                </vue-slide-bar>
            </app-card-section>
            <app-card-section>
                <app-button
                    @click="refresh">
                    Refresh feed
                    (last refresh: {{ this.session.refreshedAt }})
                </app-button>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <app-layout-section>
        Filters:
        &nbsp;
        &nbsp;
        <gender-filter
            v-model="session.filters.gender_type"/>
        &nbsp;
        &nbsp;
        <media-filter
            v-model="session.filters.media_type"/>
        &nbsp;
        &nbsp;
        <artstyle-filter
            v-model="session.filters.artstyle_type"/>
    </app-layout-section>
    <app-layout-section>
        <post-list
            :posts="posts"
            @play="onPlay"
            @load-more="onLoadMore"
            :make-play-route="makePlayRoute"/>
    </app-layout-section>
</app-layout>
</template>

<script>
import VueSlideBar from 'vue-slide-bar'

import api from '@/http/api';
import feedSessions from '@/services/feedSessions';
import alert from '@/services/alert';

import PostViewer from '@/components/PostViewer';
import PostDetails from '@/components/PostDetails';
import PostCard from '@/components/PostCard';
import PostList from '@/components/PostList';
import GenderFilter from '@/components/GenderFilter';
import MediaFilter from '@/components/MediaFilter';
import ArtstyleFilter from '@/components/ArtstyleFilter';

export default {
    components: {
        VueSlideBar,
        PostViewer,
        PostDetails,
        PostCard,
        PostList,
        GenderFilter,
        MediaFilter,
        ArtstyleFilter,
    },
    data() {
        return {
            posts: [],
            
            triggerRecReload: 1,
            loading: true,
            session: null,
        };
    },
    computed: {
        recommendationLevel() {
            if (this.triggerRecReload < 1 || !this.session || !this.session.params) {
                return 0;
            }
            return Number(this.session.params.recommendation_level);
        },
    },
    watch: {
        'session.filters': {
            deep: true,
            handler() {
                if (this.loading) {
                    return;
                }
                this.refresh();
            }
        },
        'posts': {
            deep: true,
            handler() {
                this.triggerRecReload++;
            }
        },
        'session': {
            deep: true,
            handler() {
                this.triggerRecReload++;
            }
        },
        '$route': () => {
            this.initialize();
        },
    },
    mounted() {
        this.initialize();
    },
    methods: {
        setRecommendationLevel(level) {
            if (this.loading) {
                return;
            }
            this.session.params.recommendation_level = level;
            this.refresh();
        },
        async initialize() {
            this.session = await feedSessions.getRecommendationSession();
            this.index();
        },
        async index() {
            this.loading = true;
            var posts = await this.session.index();
            this.posts = posts;
            this.loading = false;
        },
        async refresh() {
            this.loading = true;
            var posts = await this.session.refresh();
            this.posts = posts;
            this.loading = false;
        },
        async onLoadMore() {
            this.loading = true;
            var posts = await this.session.nextPage();
            if (posts && posts.length > 0) {
                this.posts = this.posts.concat(posts);
            } else {
                await this.session.prevPage();
                alert.showAlert('Reached end of feed.');
            }
            this.loading = false;
        },
        makePlayRoute(post) {
            return {
                name:'Viewer',
                params: {
                    session: this.session.id,
                    page: post._pagination.page,
                    position: post._pagination.position,
                    post: post.id,
                },
            };
        },
        onPlay({ post, newTab }) {
            var route = this.makePlayRoute(post);
            if (newTab) {
                window.open(this.$router.resolve(route).href);
            } else {
                this.$router.push(route);
            }
        }
    },
}
</script>