<template>
<feed-view
    title="New posts"
    :create-session="createSession"
    :refresh-on-init="true"
    :show-viewed-filter="true"
    :allow-manual-refresh="true"
    feed-icon="certificate">
    <template slot="description">
        This feed contains all posts, with the newest first.
    </template>
</feed-view>
</template>

<script>
import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getNewPostsSession();
        }
    },
}
</script>
