<template>
<feed-view
    :title="'Posts tagged with ' + tag_key"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    feed-icon="tag">
    <template slot="description">
        This feed contains posts tagged with {{ tag_key }}.
    </template>
</feed-view>
</template>

<script>
import _ from 'lodash';
import analytics from '@/services/analytics';

import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    data() {
        return {
            tag_id: null,
            tag_key: null,
        };
    },
    watch: {
        '$route': function() {
            this.initialize();
        },
    },
    created() {
        this.initialize();
    },
    methods: {
        async initialize() {
            this.tag_id = this.$route.params.id;
            this.tag_key = this.$route.params.key;
        },
        async createSession() {
            return await feedSessions.getTagSession(this.tag_id);
        }
    },
}
</script>
