<template>
<feed-view
    title="Random posts"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    refresh-label="Randomize!"
    feed-icon="random">
    <template slot="description">
        This feed contains random posts.
    </template>
</feed-view>
</template>

<script>
import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getRandomSession();
        }
    },
}
</script>