<template>
<feed-view
    title="Single post"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    refresh-label="Search">
    <template slot="description">
        A single post feed.
    </template>
    <template 
        slot="sessionControls" 
        slot-scope="scope">
        <app-card-section
            :loaded="setScope(scope)"
            v-if="scope.session && scope.session.params">
            <app-text-field
                :value="postId"
                @input="v => postId = v"/>
        </app-card-section>
    </template>
</feed-view>
</template>

<script>
import _ from 'lodash';
import analytics from '@/services/analytics';

import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    data() {
        return {
            postId: '',
            scope: null,
        };
    },
    watch: {
        postId() {
            if (this.postId != this.scope.session.params.query) {
                this.debounceQuery(this.postId, this.scope);
            }
        },
    },
    created() {
        this.init();
    },
    methods: {
        search() {
            this.scope.setSessionParams('post_id', this.postId);
        },
        init() {
            if (this.postId != this.$route.query.id) {
                this.postId = this.$route.query.id;
            }
          //  this.search();
        },
        async createSession() {
            return await feedSessions.getSinglePostSession(this.postId);
        },
        setScope(scope) {
            this.scope = scope;
        },
        debounceQuery: _.debounce(function (value, scope) {
            analytics.recordSearch(value);
            this.$router.replace({
                ...this.$route,
                query: {
                    ...this.$route.query,
                    id: this.postId,
                }
            });
        }, 400),
    },
}
</script>
