<template>
<feed-view
    title="Experiment"
    :create-session="createSession"
    :refresh-on-init="false"
    score-label="Experimental"
    :allow-manual-refresh="true"
    feed-icon="lightbulb">
    <template slot="description">
        <p>
            Explore new tastes! This feed contains posts from subreddits you haven't rated much yet.
        </p>
    </template>
    <template 
        v-if="false"
        slot="sessionControls" 
        slot-scope="scope">
        <app-card-section
            v-if="scope.session && scope.session.params">
            <p>
                Randomness:
            </p>
            <vue-slide-bar
                :value="Number(scope.session.params.recommendation_level)"
                @input="v => scope.setSessionParams('recommendation_level', v)"
                :style="{margin: '0 10rem'}"
                :labelStyles="{color: 'white'}"
                :processStyle="{backgroundColor: '#ff00ff'}"
                :tooltipStyles="{backgroundColor: '#ff00ff', borderColor: '#ff00ff'}"
                :data="[
                    0,
                    0.1,
                    0.2,
                    0.3,
                    0.4,
                    0.5,
                    0.6,
                    0.7,
                    0.8,
                    0.9,
                    1,
                    1.5,
                    2,
                    2.5,
                    3,
                    3.5,
                    4,
                    4.5,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    20,
                    30,
                    50,
                    100,
                ]"
                :range="[
                    {label: 'Posts most unknown to me'},
                    {label: 'Normal'},
                    {label: 'Mix it up!'},
                ]">
            </vue-slide-bar>
        </app-card-section>
    </template>
</feed-view>
</template>

<script>
import VueSlideBar from 'vue-slide-bar';

import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        VueSlideBar,
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getExperimentSession();
        }
    },
}
</script>
