<template>
<feed-view
    title="Popular posts"
    :create-session="createSession"
    :refresh-on-init="false"
    :show-viewed-filter="true"
    :allow-manual-refresh="true"
    feed-icon="fire"
    score-icon="fire">
    <template slot="description">
        This feed contains posts that have been popular recently.
    </template>
</feed-view>
</template>

<script>
import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getPopularSession();
        }
    },
}
</script>
