<template>
<feed-view
    title="Testing"
    :create-session="createSession"
    :refresh-on-init="false"
    :allow-manual-refresh="true">
    <template slot="description">
        <p>
            Testing feed
        </p>
    </template>
</feed-view>
</template>

<script>
import VueSlideBar from 'vue-slide-bar';

import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        VueSlideBar,
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getTestingSession();
        }
    },
}
</script>
