<template>
<feed-view
    :title="'Posts from /r/' + subreddit_slug"
    :create-session="createSession"
    :refresh-on-init="true"
    :show-viewed-filter="true"
    :allow-manual-refresh="true"
    feed-icon="list">
    <template slot="description">
        This feed contains posts from /r/{{subreddit_slug}}, with the newest first.
    </template>
</feed-view>
</template>

<script>
import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    data() {
        return {
            subreddit_slug: null,
            subreddit_id: null,
        };
    },
    watch: {
        '$route': () => {
            this.initialize();
        },
    },
    created() {
        this.initialize();
    },
    methods: {
        async initialize() {
            this.subreddit_id = this.$route.params.id;
            this.subreddit_slug = this.$route.params.slug;
        },
        async createSession() {
            return await feedSessions.getSubredditSession(this.subreddit_id);
        }
    },
}
</script>
