<template>
<feed-view
    title="Search results"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    refresh-label="Search"
    feed-icon="search">
    <template slot="description">
        This feed contains posts matching your search terms.
    </template>
    <template 
        slot="sessionControls" 
        slot-scope="scope">
        <app-card-section
            :loaded="setScope(scope)"
            v-if="scope.session && scope.session.params">
            <app-text-field
                :value="query"
                @input="v => query = v"/>
        </app-card-section>
    </template>
</feed-view>
</template>

<script>
import _ from 'lodash';
import analytics from '@/services/analytics';

import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    data() {
        return {
            query: '',
            scope: null,
        };
    },
    watch: {
        query() {
            if (this.query != this.scope.session.params.query) {
                console.log('query changed');
                this.debounceQuery(this.query, this.scope);
            }
        },
    },
    created() {
        this.init();
    },
    methods: {
        search() {
            this.scope.setSessionParams('query', this.query);
        },
        init() {
            if (this.query != this.$route.query.q) {
                this.query = this.$route.query.q;
            }
          //  this.search();
        },
        async createSession() {
            return await feedSessions.getSearchSession(this.query);
        },
        setScope(scope) {
            this.scope = scope;
        },
        debounceQuery: _.debounce(function (value, scope) {
            analytics.recordSearch(value);
            this.$router.replace({
                ...this.$route,
                query: {
                    ...this.$route.query,
                    q: this.query,
                }
            });
        }, 400),
    },
}
</script>
