<template>
<app-page
    has-tabs
    title="Search"
    description="Find posts that tickle your fancy.">
    <template slot="tabs">
        <app-tabs
            :value="selectedTab"
            @change="changeTab"
            :items="[
                makeLink('Advanced Search', 'search', 'FeedSearchAdvanced'),
            ]"
            null-content="Results"/>
    </template>
    <app-layout
        v-if="showSupportBanner">
        <app-layout-section>
            <support-us-banner/>
        </app-layout-section>
    </app-layout>
   <router-view></router-view> 
</app-page>
</template>

<script>
import session from '@/http/session';

import SupportUsBanner from '@/components/SupportUsBanner';

export default {
    components: {
        SupportUsBanner,
    },
    computed: {
        selectedTab() {
            return this.$route.name;
        },
        showSupportBanner() {
            return (this.settings && !this.settings.hide_support_banner) && Math.random() < 0.1;
        },
    },
    data() {
        return {
            settings: null,
        };
    },
    async mounted() {
        this.settings = await session.getSettings();
    },
    methods: {
        makeLink(name, icon, route, align) {
            return {
                content: name,
                icon: icon,
                value: route,
                url: this.$router.resolve({name: route}).href,
                align: align || null,
            };
        },
        changeTab(routeName) {
            this.$router.push({name: routeName});
        }
    },
};
</script>