<template>
<app-layout>
    <app-layout-section>
        <app-card>
            <app-card-section
                title="What happens when I import?">
                Importing your likes and favorites will create private posts 
                visible only to you, and these will be added to My Stuff.
                (Favorites will be imported to My Stuff as Loved posts.)
            </app-card-section>
            <app-card-section
                title="Will imports affect my recommendations?">
                Yes, but not immediately. Because BF exports don't contain the source or any
                metadata, we can't use them to work out your preferences.
                If AIFap notices the same image or video uploaded in the future,
                we'll delete your import and replace it with the live post automatically.
                This way, we can slowly rebuild your BetterFap preferences.
            </app-card-section>
            <app-card-section
                title="How long does it take to import posts?">
                Imports get queued, so it will depend how many other users are
                trying to import at the same time. You can refresh this page to
                view the status and number of posts created by each import.
            </app-card-section>
        </app-card>
    </app-layout-section>
    <app-layout-section>
        <app-card
            title="Imports">
            <app-card-section v-if="!imports || imports.length < 1">
                You haven't made any imports yet.
            </app-card-section>
            <app-card-section 
                v-for="importItem in imports"
                :key="importItem.id"
                :title="importItem.type + ' import uploaded ' + importItem.created_at">
                <strong>Status:</strong> {{ importItem.status }}
                <strong>Posts imported:</strong> {{ importItem.posts_count }}
                <template v-if="importItem.error_message">
                    <span style="color:red">
                        <strong>Error: </strong> {{ importItem.error_message }}
                    </span>
                </template>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <app-layout-section>
        <app-card
            title="Add new import">
            <app-card-section>
                Upload a BF <code>likes.csv</code> and/or <code>favorites.csv</code> file to begin a new import.
                (Please extract the .zip you download from BF beforehand to get these files.)
            </app-card-section>
            <app-card-section
                title="likes.csv">
                <input type="file"
                    ref="fileLikes"/>
            </app-card-section>
            <app-card-section
                title="favorites.csv">
                <input type="file"
                    ref="fileFavorites"/>
            </app-card-section>
            <app-card-section>
                <app-button
                    :disabled="isUploading"
                    @click="startImport">
                    <template v-if="isUploading">
                        Uploading: {{ uploadProgress }}%
                    </template>
                    <template v-else>
                        Start import
                    </template>
                </app-button>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <app-layout-section>
        <app-card
            title="Delete imports">
            <app-card-section>
                <p>
                    If you imported the wrong file or no longer want to see your 
                    imports in AIFap, you can delete them at any time.
                </p>
            </app-card-section>
            <app-card-section>
                <app-button
                    @click="onDelete">
                    Delete all imported posts
                </app-button>
            </app-card-section>
        </app-card>
    </app-layout-section>
</app-layout>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

export default {
    async mounted() {
        var res = await api.get('/account/imports');
        this.imports = res.data.imports;
    },
    components: {
    },
    data() {
        return {
            imports: null,
            isUploading: false,
            uploadProgress: 0,
        };
    },
    computed: {
    },
    methods: {
        async onDelete() {
            var res = await api.post('/account/imports/delete', {});
            this.imports = [];
            alert.showAlert('Imports deleted.');
        },
        async startImport() {
            this.isUploading = true;
            
            var data = new FormData();
            if (this.$refs.fileLikes.files[0]) {
                data.append('file_likes', this.$refs.fileLikes.files[0]);
            }
            if (this.$refs.fileFavorites.files[0]) {
                data.append('file_favorites', this.$refs.fileFavorites.files[0]);
            }
            
            var config = {
            };
            
            try {
                var res = await api.post('/account/imports', data, {
                    onUploadProgress: (progressEvent)  => {
                        this.uploadProgress = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
                    }
                });
                
                this.imports = res.data.imports;
                alert.showAlert('Import added to queue.');
            } catch (e) {
                this.isUploading = false;
                if (e.response && e.response.status == 422) {
                    var errorBag = e.response.data.errors;
                    alert.showAlert(Object.values(errorBag)[0][0]);
                } else {
                    alert.showAlert('Couldn\'t process that import.');
                    throw e;
                }
            }
            this.isUploading = false;
        },
    },
};
</script>