<template>
<app-page 
    fixed-width
    has-tabs
    title="Data"
    description="Import and export your data.">
    <template slot="tabs">
        <app-tabs
            :value="selectedTab"
            @change="changeTab"
            :items="[
                makeLink('Import from BF', 'download', 'BfImporter'),
                makeLink('Export your data', 'file-export', 'DataExport'),
            ]"
            null-content="Results"/>
    </template>
    <router-view></router-view> 
</app-page>
</template>

<script>
export default {
    computed: {
        selectedTab() {
            return this.$route.name;
        },
    },
    methods: {
        makeLink(name, icon, route, align, partialMatch) {
            return {
                content: name,
                icon: icon,
                value: route,
                url: this.$router.resolve({name: route}).href,
                align: align || null,
                partialMatch: partialMatch || false,
            };
        },
        changeTab(routeName) {
            this.$router.push({name: routeName});
        }
    },
};
</script>