<template>
<div :class="{
        'AIF-App': 1,
        'AIF-App--colorblindMode': settings && settings.colorblind_mode
    }">
    <div class="AIF-App__BackgroundOverlay"></div>
    <div class="AIF-App__Content">
        <app-frame>
            <router-view/>
        </app-frame>
    </div>
</div>
</template>

<script>
import session from '@/http/session';

export default {
    data() {
        return {
            settings: null,
        };
    },
    mounted() {
        this._loadSettings();
        session.on('update', () => {
            this._loadSettings();
        });
    },
    methods: {
        async _loadSettings() {
            var settings = await session.getSettings();
            this.settings = settings;
            console.log('got settings', {settings, t: this});
        },
    },
}
</script>


<style lang="scss">
$fa-font-path: "~@fortawesome/fontawesome-pro/webfonts";

@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro/scss/light";
@import "~@fortawesome/fontawesome-pro/scss/solid";

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
/*
@import url('https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Open+Sans|Roboto:light,regular,medium,thin,italic,mediumitalic,bold');
*/

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');

:root {
    --brand-color: #ff00ff;
    --brand-alt-color: #00ffff;
    
    --brand-color-mid: #{darken(#ff00ff, 12%)};
    --brand-alt-color-mid: #{darken(#00ffff, 12%)};
    
    --brand-color-dark: #{darken(#ff00ff, 25%)};
    --brand-alt-color-dark: #{darken(#00ffff, 25%)};
    
    --warning-color: #ffff00;
    --warning-color-dark: #{darken(#ffff00, 25%)};
    
    --error-color: #ff0000;
    --error-color-dark: #{darken(#ff0000, 25%)};
}

* {
    box-sizing: border-box;
    
    outline-color: transparent;
    transition: outline 0.3s;
}


html { 
    font-size: 62.5%; 
    height: 100%;
} 
body { 
    font-size: 1.4rem; 
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    color: white;
    /*font-family: 'Roboto';*/
    font-family: 'Nunito';
    font-weight: 300;
    
    background: #000;
    background-image: url(./images/bg_grayscale.png);
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

a {
    color: #daa8ff;
}



pre {
    margin: 0;
}

:focus {
    outline-color: #00ffff;
}

table {
    border-collapse: collapse;
    
    td, th {
        border: 1px solid #111;
    }
    
    tr:hover td,
    tr:hover th {
        background: rgba(0,0,0, 0.3);
    }
}

.AIF-App {
    position: relative;
    z-index: 0;
    
    height: 100%;
    
    &__BackgroundOverlay {
        background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
        position: absolute;
        width: 100%;
        height: 100%;
        height: 100vh;
        z-index: -1;
    }
    &__Content {
        z-index: 1;
        height: 100%;
    }
    
    .AIF-ColorBlind__Hide {
    }
    .AIF-ColorBlind__Show {
        display: none;
    }
    
    &--colorblindMode {
        .AIF-ColorBlind__Hide {
            display: none;
        }
        .AIF-ColorBlind__Show {
            display: block;
        }
    }
}
</style>