<template>
<icon-artstyle-reallife v-if="type == 'real-life'" :inherit-color="inheritColor"/>
<icon-artstyle-hentai v-else-if="type == 'hentai'" :inherit-color="inheritColor"/>
<icon-artstyle-3-d v-else-if="type == '3d'" :inherit-color="inheritColor"/>
</template>

<script>
export default {
    props: {
        type: String,
        inheritColor: Boolean,
    },
}
</script>