<template>
<icon-solo-men v-if="type == 'solo-men'" :inherit-color="inheritColor"/>
<icon-solo-women v-else-if="type == 'solo-women'" :inherit-color="inheritColor"/>
<icon-hetero v-else-if="type == 'straight'" :inherit-color="inheritColor"/>
<icon-lesbian v-else-if="type == 'lesbian'" :inherit-color="inheritColor"/>
<icon-gay v-else-if="type == 'gay'" :inherit-color="inheritColor"/>
<icon-transexual v-else-if="type == 'transexual'" :inherit-color="inheritColor"/>
<icon-gender-unknown v-else-if="type == 'unknown'" :inherit-color="inheritColor"/>
</template>

<script>
export default {
    props: {
        type: String,
        inheritColor: Boolean,
    },
}
</script>