<template>
<span class="AIF-Icon AIF-Icon--mediaAnimated">
    <i class="fal fa-fw fa-play-circle"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--mediaAnimated {
    .fa-play-circle {
    }
}
</style>