<template>
<span class="AIF-Icon AIF-Icon--mediaVideo">
    <i class="fal fa-fw fa-video"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--mediaVideo {
    .fa-video {
    }
}
</style>