<template>
<span class="AIF-Icon AIF-Icon--artstyleHentai">
    <i class="fal fa-fw fa-paint-brush"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--artstyleHentai {
    .fa-paint-brush {
    }
}
</style>