<template>
<span class="AIF-Icon AIF-Icon--artstyleReallife">
    <i class="fal fa-fw fa-camera"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--artstyleReallife {
    .fa-camera {
    }
}
</style>