<template>
<span :class="{
        'AIF-Icon AIF-Icon--hetero': 1,
        'AIF-Icon--inheritColor': inheritColor,
    }">
    <i class="fal fa-fw fa-male"></i>
    <i class="fal fa-fw fa-female"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
};
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--hetero {
    .fa-male {
        margin-right: -0.6em;
        color: #00aaaa;
    }
    .fa-female {
        margin-left: -0.6em;
        color: #aa00aa;
    }
    
    .AIF-Icon--inheritColor {
        .fa-male {
            color: inherit;
        }    
        .fa-female {
            color: inherit;
        }    
    }
}
</style>