<template>
<span class="AIF-Icon AIF-Icon--artstyle3d">
    <i class="fal fa-fw fa-cube"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--artstyle3d {
    .fa-cube {
    }
}
</style>