<template>
<span class="AIF-Icon AIF-Icon--soloWomen">
    <i class="fal fa-fw fa-female"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--soloWomen {
    .fa-female {
        color: #aa00aa;
    }
}
</style>