<template>
<span class="AIF-Icon AIF-Icon--soloMen">
    <i class="fal fa-fw fa-male"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--soloMen {
    .fa-male {
        color: #00aaaa;
    }
}
</style>