<template>
<span class="AIF-Icon AIF-Icon--mediaAudio">
    <i class="fal fa-fw fa-volume-up"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--mediaAudio {
    .fa-volume-up {
    }
}
</style>