<template>
<div class="AIF-Icon AIF-Icon--brand">
    <img :src="icon"/>
</div>
</template>

<script>
import icon from './brand.svg';

export default {
    data() {
        return {
            icon,
        };
    },
};
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--brand {
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        height: 36px;
        margin: -0.4em 0;
        margin-top: -0.6em;
        width: 42px;
    }
}
</style>