<template>
<span class="AIF-Icon AIF-Icon--gay">
    <i class="fal fa-fw fa-male AIF-Icon__1"></i>
    <i class="fal fa-fw fa-male AIF-Icon__2"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--gay {
    .AIF-Icon__1 {
        margin-right: -0.6em;
        color: #00aaaa;
    }
    .AIF-Icon__2 {
        margin-left: -0.6em;
        color: #00aaaa;
    }
}
</style>