<template>
<span :class="{
        'AIF-Icon AIF-Icon--genderUnknown': 1,
        'AIF-Icon--inheritColor': inheritColor,
    }">
    <i class="fal fa-fw fa-question"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
};
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--genderUnknown {
    .fa-question {
        &::before {
            background:-moz-linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet); 
            background: -webkit-linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet); 
            background: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
           -webkit-text-fill-color:transparent;
           
        }
    }
    
    &.AIF-Icon--inheritColor {
        .fa-question::before {
            background: none;
            -webkit-background-clip: unset;
            -moz-background-clip: unset;
            background-clip: unset;
           -webkit-text-fill-color: unset;
        }
    }
}
</style>