<template>
<span class="AIF-Icon AIF-Icon--mediaText">
    <i class="fal fa-fw fa-font"></i>
</span>
</template>

<script>
export default {
    props: {
        inheritColor: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-Icon.AIF-Icon--mediaText {
    .fa-font {
    }
}
</style>