<template>
<icon-media-animated v-if="type == 'animated'"/>
<icon-media-audio v-else-if="type == 'audio'"/>
<icon-media-image v-else-if="type == 'image'"/>
<icon-media-text v-else-if="type == 'text'"/>
<icon-media-video v-else-if="type == 'video'"/>
</template>

<script>
export default {
    props: {
        type: String,
    },
}
</script>