<template>
<div 
    :class="{
        'AIF-AppBanner': 1,
        'AIF-AppBanner--info': info,
        'AIF-AppBanner--warning': warning,
        'AIF-AppBanner--error': error,
    }">
    <div 
        v-if="title"
        class="AIF-AppBanner__Title">
        {{ title }}
        <div class="AIF-AppBanner__Status">
            {{ info ? 'Info' : '' }}
            {{ warning ? 'Warning' : '' }}
            {{ error ? 'Error' : '' }}
        </div>
    </div>
    <div class="AIF-AppBanner__Content">
        <slot></slot>
    </div>
</div>
</template>

<script>
export default {
    props: {
        title: String,
        info: Boolean,
        warning: Boolean,
        error: Boolean,
    },
};
</script>

<style lang="scss">
.AIF-AppBanner {
    background: #333;
    background: rgba(30,30,30,0.95);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    
    position: relative;
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: -2px;
        bottom: -2px;
        right: -2px;
        left: -2px;
        border-radius: 0.5rem;
        background: linear-gradient(to right, var(--brand-color-dark), var(--brand-alt-color-dark));
    }
    
    
    &--error {
        border-top-color: var(--error-color);
        border-top-width: 3px;
        .AIF-AppBanner__Status {
            color: #990000;
        }
        
        &::before {
            background: linear-gradient(to right, var(--error-color), var(--error-color-dark))
        }
    }
    
    &--plain {
        background: none;
        border: none;
        padding: 0;
    }
    
    &--warning {
        border-top-color: #ffff00;
        border-top-width: 3px;
        .AIF-AppBanner__Status {
            color: #999900;
        }
    }
    
    &--info {
        border-top-color: var(--brand-alt-color);
        border-top-width: 3px;
        .AIF-AppBanner__Status {
            color: #009999;
        }
        
        &::before {
            background: linear-gradient(to right, var(--brand-alt-color), var(--brand-alt-color-dark))
        }
    }
    
    &__Title {
        padding: 1rem;
        padding-bottom: 0;
        
        font-weight: bold;
        display: flex;
    }
    &__Status {
        margin-left: auto;
    }
    &__Content {
        padding: 1rem;
    }
}
</style>