<template>
<div class="AIF-AppCard">
    <div v-if="title" class="AIF-AppCard__Title">
        {{ title }}
    </div>
    <div v-if="sectioned" class="AIF-AppCard__Content">
        <app-card-section>
            <slot></slot>
        </app-card-section>
    </div>
    <div v-else class="AIF-AppCard__Content">
        <slot></slot>
    </div>
</div>
</template>


<script>
import AppCardSection from './AppCardSection';

export default {
    components: {
        AppCardSection,
    },
    props: {
        title: String,
        sectioned: Boolean,
    },
}
</script>

<style lang="scss">
.AIF-AppCard {
    background: #333;
    background: rgba(30,30,30,0.95);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    
    position: relative;
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: -2px;
        bottom: -2px;
        right: -2px;
        left: -2px;
        border-radius: 0.5rem;
        background: linear-gradient(to right, var(--brand-color-dark), var(--brand-alt-color-dark));
    }
    
    &__Title {
        padding: 1rem 1rem 0;
        font-weight: bold;
    }
    &__Content {
    }
}
</style>