<template>
<div class="AIF-AppFrame">
    <main-header/>
    <alert-message
        :open="alertState.open"
        :message="alertState.message"/>
    <!--
    <alert-banner>
        AIFap will be going down for maintenance at 18:00 UTC {{ countdown }} while we 
        make some upgrades to our servers.
        The downtime is expected to last 10-20 minutes - apologies for the interruption.
    </alert-banner>
    -->
    
    <div class="AIF-AppFrame__Page">
        <slot></slot>
    </div>
    
    <!--
    <controls-overlay
        :open="controlsOverlayOpen"
        @close="onCloseControlsOverlay"/>
    <div 
        @click="onOpenControlsOverlay"
        class="AIF-AppFrame__ControlsShortcut">
        <i class="fal fa-fw fa-gamepad"></i>
    </div>
    
    -->
    
    <site-footer/>
</div>
</template>

<script>
import moment from 'moment';

import alert from '@/services/alert';
import MainHeader from '@/components/MainHeader';
import ControlsOverlay from '@/components/ControlsOverlay';
import AlertMessage from '@/components/AlertMessage';
import AlertBanner from '@/components/AlertBanner';
import SiteFooter from '@/components/SiteFooter';

export default {
    components: {
        MainHeader,
        ControlsOverlay,
        AlertMessage,
        AlertBanner,
        SiteFooter,
    },
    data() {
        return {
            controlsOverlayOpen: false,
            alertState: alert.state,
            countdown: null,
            countdownInterval: null,
        };
    },
    mounted() {
        /*
        var countdownTo = moment.utc([2019, 1, 10, 18, 0, 0]);
        this.countdownInterval = setInterval(() => {
            this.countdown = '(' + countdownTo.fromNow() +')';
        }, 5000);
        this.countdown = '(' + countdownTo.fromNow() +')';
        */
    },
    beforeDestroy() {
        clearInterval(this.countdownInterval);
    },
    methods: {
        onOpenControlsOverlay() {
            this.controlsOverlayOpen = true;
        },
        onCloseControlsOverlay() {
            this.controlsOverlayOpen = false;
        },
    },
};
</script>

<style lang="scss">
.AIF-AppFrame {
    overflow-x: hidden;
    
    &__Page {
    }
    &__ControlsShortcut {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        font-size: 4rem;
        cursor: pointer;
    }
}
</style>


