<template>
<div 
    :class="{
        'AIF-AppFrame': 1,
        'AIF-AppFrame--sidebarOpen': sidebarOpen,
        'AIF-AppFrame--sidebarMini': sidebarMini,
    }">
    <app-button
        class="AIF-AppFrame__SidebarShow"
        @click="sidebarOpen = true">
        <i class="fal fa-fw fa-bars"></i>
    </app-button>
    <app-sidebar 
            class="AIF-AppFrame__Sidebar"
            :mini="sidebarMini"
            @toggle-mini="toggleSidebarMini"
            @toggle-open="toggleSidebarOpen"/>
    <main class="AIF-AppFrame__Content">
        <alert-message
            :open="alertState.open"
            :message="alertState.message"/>
        <!--
        <alert-banner>
            AIFap will be going down for maintenance at 18:00 UTC {{ countdown }} while we 
            make some upgrades to our servers.
            The downtime is expected to last 10-20 minutes - apologies for the interruption.
        </alert-banner>
        -->
        
        <div class="AIF-AppFrame__Page">
            <slot></slot>
        </div>
        <site-footer/>
    </main>
</div>
</template>

<script>
import moment from 'moment';

import alert from '@/services/alert';
import MainHeader from '@/components/MainHeader';
import ControlsOverlay from '@/components/ControlsOverlay';
import AlertMessage from '@/components/AlertMessage';
import AlertBanner from '@/components/AlertBanner';
import SiteFooter from '@/components/SiteFooter';

export default {
    components: {
        MainHeader,
        ControlsOverlay,
        AlertMessage,
        AlertBanner,
        SiteFooter,
    },
    data() {
        return {
            controlsOverlayOpen: false,
            alertState: alert.state,
            countdown: null,
            countdownInterval: null,
            
            
            sidebarOpen: true,
            autoClose: false,
            sidebarMini: false,
            autoMini: false,
        };
    },
    watch: {
        '$route': function(route) {
            console.log('route change', {route});
            if (window.innerWidth < 768) {
                this.sidebarMini = true;
                
                if (route.name == 'Viewer') {
                    if (this.sidebarOpen) {
                        this.sidebarOpen = false;
                        this.autoClose = true;
                    }
               } else {
                   if (this.autoClose) {
                       this.sidebarOpen = true;
                   }
               }
            } else {
                if (route.name == 'Viewer') {
                    if (!this.sidebarMini) {
                        this.autoMini = true;
                        this.sidebarMini = true;
                    }
               } else {
                   if (this.autoMini) {
                       this.sidebarMini = false;
                   }
               }
            }
        },
    },
    mounted() {
        /*
        var countdownTo = moment.utc([2019, 1, 10, 18, 0, 0]);
        this.countdownInterval = setInterval(() => {
            this.countdown = '(' + countdownTo.fromNow() +')';
        }, 5000);
        this.countdown = '(' + countdownTo.fromNow() +')';
        */
    },
    beforeDestroy() {
        clearInterval(this.countdownInterval);
    },
    methods: {
        toggleSidebarMini() {
            this.sidebarMini = !this.sidebarMini;
            this.autoMini = false;
        },
        toggleSidebarOpen() {
            this.sidebarOpen = !this.sidebarOpen;
            this.autoClose = false;
        },
        onOpenControlsOverlay() {
            this.controlsOverlayOpen = true;
        },
        onCloseControlsOverlay() {
            this.controlsOverlayOpen = false;
        },
    },
};
</script>

<style lang="scss">
.AIF-AppFrame {
/*    overflow-x: hidden;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    
    &--sidebarMini.AIF-AppFrame--sidebarOpen {
        .AIF-AppFrame__Sidebar {
            width: 4rem;
            left: 0;
            opacity: 1;
        }
        .AIF-AppFrame__Content {
            padding-left: 4rem;
        }
    }
    
    &--sidebarOpen {
        .AIF-AppFrame__Sidebar {
            left: 0;
            opacity: 1;
        }
        .AIF-AppFrame__Content {
            padding-left: 16rem;
        }
        
        .AIF-AppFrame__SidebarShow {
            opacity: 0;
            left: -5rem;
        }
    }
    
    
    &__SidebarShow {
        position: fixed;
        top: 0;
        padding: 2rem 1rem;
        z-index: 10;
        
        opacity: 1;
        left: 0;
        
        transition: left 0.3s, opacity 0.3s;
        
        display: none;
        
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    
    
    
    &__Sidebar {
        left: -16rem;
        width: 16rem;
        z-index: 10;
        
        opacity: 0;
        
        transition: left 0.3s, opacity 0.2s, width 0.2s;
    }
    
    &__Content {
        margin-left: 1px;
        transition: padding 0.3s;
        
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
    }
    
    &__ControlsShortcut {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        font-size: 4rem;
        cursor: pointer;
    }
}
</style>


