<template>
<div class="AIF-AppLayoutSection">
    <app-page-container>
        <slot></slot>
    </app-page-container>
</div>
</template>


<script>
export default {
    components: {
    },
}
</script>

<style lang="scss">
.AIF-AppLayoutSection {
    + .AIF-AppLayoutSection {
        margin-top: 1rem;
        padding-top: 1rem;
    /*    border-top: 1px solid #222; */
    }
}
</style>