<template>
<div :class="{
        'AIF-AppPageContainer': 1,
        'AIF-AppPageContainer--padded': padded,
        'AIF-AppPageContainer--centered': centered,
    }">
    <slot></slot>
</div>
</template>

<script>
export default {
    props: {
        padded: Boolean,
        centered: Boolean,
    },
};
</script>

<style lang="scss">
.AIF-AppPageContainer {
    padding: 0 1rem;
    margin: 0 auto;
    
    
    &--padded {
        padding: 1rem;
    }
    
    &--centered {
        margin: 0 auto;
        max-width: 1200px;
    }
}
</style>