<template>
<div :class="{
        'AIF-Split': 1,
        'AIF-Split--collapseMobile': collapseMobile,
        'AIF-Split--columnsThree': columns == 3,
        'AIF-Split--columnsFour': columns == 4,
        'AIF-Split--fixed': fixed,
    }">
    <slot></slot>
</div>
</template>

<script>
export default {
    props: {
        collapseMobile: Boolean,
        columns: Number,
        fixed: Boolean,
    },
};
</script>

<style lang="scss">
.AIF-Split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    
    &--columnsThree {
        grid-template-columns: repeat(3, 1fr);
    }
    &--columnsFour {
        grid-template-columns: repeat(4, 1fr);
    }
    
    &--fixed {
        grid-template-columns: repeat(2, 50%);
        &--columnsThree {
            grid-template-columns: repeat(3, 33%);
        }
        &--columnsFour {
            grid-template-columns: repeat(4, 25%);
        }
    }
    
    &--collapseMobile {
        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(1, 100%);
        }
    }
    
    
}
</style>