<template>
<div :class="{
        'AIF-AppSidebar': 1,
        'AIF-AppSidebar--minimised': mini,
    }">
    <div class="AIF-AppSidebar__Border"></div>
    <div class="AIF-AppSidebar__Content">
        <a class="AIF-AppSidebar__MobileHide"
            @click="onToggleOpen">
            <i class="fal fa-fw fa-times"></i>
        </a>
        <div class="AIF-AppSidebar__Section">
            <div class="AIF-AppSidebar__Brand"
                @click="$router.push({name: 'Homepage'})">
                <icon-brand class="AIF-AppSidebar__BrandIcon"/>
                <div class="AIF-AppSidebar__MaxLabel">
                    AIFap 
                    <span class="AIF-AppSidebar__BrandHighlight">
                        beta
                    </span>
                </div>
            </div>
        </div>
        <div class="AIF-AppSidebar__Sep"></div>
        <div class="AIF-AppSidebar__Section">
            <div v-if="user" class="AIF-AppSidebar__Nav">
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'DataExport'}">
                    <i class="fal fa-fw fa-file-export"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Export your data
                    </div>
                </router-link>
                <div class="AIF-AppSidebar__NavSep"></div>
            </div>
        </div>
        <div class="AIF-AppSidebar__Sep"></div>
        <div class="AIF-AppSidebar__Section">
            <div v-if="user" class="AIF-AppSidebar__Nav">
            <!--
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'RecommendedFeeds'}">
                    <i class="fal fa-fw fa-tasks"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Getting started
                    </div>
                </router-link>
                <div class="AIF-AppSidebar__NavSep"></div>
            -->
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'RecommendedFeeds'}">
                    <i class="fal fa-fw fa-flask"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Recommended
                    </div>
                </router-link>
            <!--
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'FeedRecommendationsAggregate'}">
                    <i class="fal fa-fw fa-rss"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Subscriptions
                    </div>
                </router-link>
            -->
                <div class="AIF-AppSidebar__NavSep"></div>
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'FeedSearchAdvanced'}">
                    <i class="fal fa-fw fa-search"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Search
                    </div>
                </router-link>
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'FeedNew'}">
                    <i class="fal fa-fw fa-folders"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Browse
                    </div>
                </router-link>
                <!--
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'Labs'}">
                    <i class="fal fa-fw fa-vials"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Labs
                    </div>
                </router-link>
                -->
                <div class="AIF-AppSidebar__NavSep"></div>
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'MyStuff'}">
                    <i class="fal fa-fw fa-save"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        My stuff
                    </div>
                </router-link>
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'Lists'}">
                    <i class="fal fa-fw fa-books"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Lists
                    </div>
                </router-link>
                <div class="AIF-AppSidebar__NavSep"></div>
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'Profile'}">
                    <i class="fal fa-fw fa-user"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Profile
                    </div>
                </router-link>
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'BfImporter'}">
                    <i class="fal fa-fw fa-database"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Data
                    </div>
                </router-link>
            <!--
                <router-link 
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'LikedLoved'}">
                    <i class="fal fa-fw fa-users"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Community
                    </div>
                </router-link>
            -->
                <router-link
                    v-if="user.moderator"
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'ModSubreddits'}">
                    <i class="fal fa-fw fa-gavel"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Moderation
                    </div>
                </router-link>
                <div class="AIF-AppSidebar__NavSep"></div>
                <router-link
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'ContentIndex'}">
                    <i class="fal fa-fw fa-tags"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Content
                    </div>
                </router-link>
                <router-link
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'AboutUs'}">
                    <i class="fal fa-fw fa-info-circle"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        About
                    </div>
                </router-link>
            </div>
            <div v-if="!user" class="AIF-AppSidebar__Nav">
                <router-link
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'Login'}">
                    <i class="fal fa-fw fa-sign-in"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Sign in
                    </div>
                </router-link>
                <!--
                <router-link
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'Signup'}">
                    <i class="fal fa-fw fa-user-plus"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        Register
                    </div>
                </router-link>
                -->
                <div class="AIF-AppSidebar__NavSep"></div>
                <router-link
                    class="AIF-AppSidebar__NavItem"
                    :to="{name: 'AboutUs'}">
                    <i class="fal fa-fw fa-info-circle"></i>
                    <div class="AIF-AppSidebar__MaxLabel">
                        About
                    </div>
                </router-link>
            </div>
        </div>
        <div class="AIF-AppSidebar__Sep"></div>
        <div class="AIF-AppSidebar__Section">
            <div class="AIF-AppSidebar__Support">
                <support-us-display 
                    mini
                    :needed="500"
                    :support="337"/>
                <a href="https://patreon.com/aif" target="_blank">
                    Support us on Patreon.
               </a>
            </div>
        </div>
        <a class="AIF-AppSidebar__Switcher"
            @click="onToggleMini">
            <i class="fal fa-fw fa-angle-double-left"></i>
            <div class="AIF-AppSidebar__MaxLabel">
                Collapse
            </div>
        </a>
    </div>
</div>
</template>

<script>
import session from '@/http/session';
import GlobalSearch from '@/components/GlobalSearch';
import SupportUsDisplay from '@/components/SupportUsDisplay';

export default {
    components: {
        GlobalSearch,
        SupportUsDisplay,
    },
    props: {
        mini: Boolean,
    },
    data() {
        return {
            user: null,
            mobileNavOpen: false,
        };
    },
    async mounted() {
        this.user = await session.getUser();
        session.on('update', async () => {
            this.user = await session.getUser();
        });
    },
    methods: {
        onToggleMini() {
            this.$emit('toggle-mini');
        },
        onToggleOpen() {
            this.$emit('toggle-open');
        },
    },
}
</script>


<style lang="scss">
.AIF-AppSidebar {
    position: fixed;
    height: 100%;
    
    
    background: rgba(0,0,0,0.9);
    
    &__Border {
        position: absolute;
        width: 1px;
        height: 100%;
        right: -1px;
        background: linear-gradient(to bottom, var(--brand-color-dark), var(--brand-alt-color-dark));
    }
    
    &__Support {
        font-size: 1rem;
        
        padding: 0.5rem;
        padding-top: 0;
        margin: 0.5rem;
        margin-top: 2rem;
        border: 1px solid rgba(255,0,255, 0.3);
    }
    
    &__Content {
        background: linear-gradient(to bottom, #221c23, #0f0610);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-right: 1px solid transparent;
        
        display: flex;
        flex-direction: column;
    }
    
    &__Brand {
        height: 8rem;
        font-size: 1.6rem;
        padding: 2rem 1rem;
        
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        
        position: relative;
        
        transition: font-size 0.2s;
        
        &:hover {
            font-size: 1.8rem;
        }
        
        .AIF-Icon.AIF-Icon--brand img {
            height: 1.8em;
            margin: -0.4em 0;
            margin-top: -0.6em;
            width: 2.1em;
            
        }
    }
    
    &__BrandIcon {
        margin-right: 1rem;
        transition: transform 0.3s margin 0.3s;
        transition-timing-function: steps(1, jump-end);
    }
    
    &__BrandHighlight {
        margin-left: 0.2em;
        margin-bottom: 0.4em;
        color: #ff00ff;
        font-weight: 300;
        font-size: 0.6em;
    }
    
    &__Nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
    
    &__NavSep {
        margin: 0.75rem 0;
    }
    
    &__NavItem {
        position: relative;
        padding: 0.75rem 1rem;
        text-decoration: none;
        
        display: flex;
        
        transition: justify-content 0.3s;
        transition-timing-function: steps(1, jump-end);
        
        .fa-fw {
            margin-right: 1rem;
            transition: margin 0.3s;
            transition-timing-function: steps(1, jump-end);
        }
        
        &:hover {
            background: #0f0610;
        }
        
        &.router-link-active {
            color: white;
        }
    }
    
    &__Switcher {
        margin-top: auto;
        padding: 1rem;
        
        display: flex;
        cursor: pointer;
        
        transition: justify-content 0.3s;
        
        .fa-fw {
            margin-right: 1rem;
            transition: transform 0.3s margin 0.3s;
            transition-timing-function: steps(1, jump-end);
        }
        
        
        
        &:hover {
            background: darken(#0f0610, 1%);
        }
        
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    
    &__MobileHide {
        padding: 2rem 1rem;
        
        display: flex;
        cursor: pointer;
        
        transition: justify-content 0.3s;
        
        .fa-fw {
            margin-right: 1rem;
            transition: transform 0.3s margin 0.3s;
            transition-timing-function: steps(1, jump-end);
        }
        
        &:hover {
            background: darken(#0f0610, 1%);
        }
        
        display: none;
        
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    
    .AIF-AppSidebar__MaxLabel {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        opacity: 1;
        transition: max-width 0.3s, opacity 0.3s;
        display: flex;
    }
    
    &--minimised {
        .AIF-AppSidebar__Support {
            display: none;
        }
        
        .AIF-AppSidebar__Brand {
            font-size: 1.1rem;
            
            .AIF-AppSidebar__BrandIcon{
                margin: 0;
            }
            
            &:hover {
                font-size: 1.2rem;
            }
        }
        
        .AIF-AppSidebar__Switcher {
            justify-content: center;
            
            .fa-fw {
                margin: 0;
                transform: rotate(180deg);
            }
        }
        
        .AIF-AppSidebar__MaxLabel {
            max-width: 0;
            opacity: 0;
            pointer-events: none;
        }
        
        .AIF-AppSidebar__NavItem {
            justify-content: center;
            
            .fa-fw {
                margin: 0;
            }
        }
    }
    
    &__Sep {
        margin-top: 1px solid #ccc;
    }
}
</style>