<template>
<div class="AIF-Select">
    <label 
        v-if="label"
        class="AIF-Select__Label">
        {{ label }}
    </label>
    <input
        class="AIF-Select__Input"
        :type="type"
        :placeholder="placeholder"
        @input="onInput"
        @change="onChange"/>
</div>
</template>

<script>
export default {
    model: {
        prop: 'value',
        'event': 'change',
    },
    props: {
        value: String,
        label: String,
        placeholder: String,
        type: {
            type: String,
            default: 'text',
        },
    },
    methods: {
        onInput(e) {
            this.$emit('input', e.target.value);
        },
        onChange(e) {
            this.$emit('change', e.target.value);
        },
    },
};
</script>

<style lang="scss">
.AIF-Select {
    position: relative;
    
    &__Label {
        display: block;
        padding-bottom: 0.5rem;
    }
    &__Input {
        display: block;
        width: 100%;
        
        background: #ccc;
        border: 1px solid #eee;
        border-radius: 0.5rem;
        padding: 1rem;
    }
}
</style>
        
        