<template>
<div class="AIF-Tabs">
    <router-link
        tabindex="0"
        v-for="item in items"
        v-if="item.align != 'right'"
        :key="item.content"
        :class="{
            'AIF-Tabs__Item': 1,
            'AIF-Tabs__Item--active': item.value == value,
            'AIF-Tabs__Item--partialMatch': item.partialMatch,
        }"
        @click.prevent="switchTab(item)"
        onclick="this.blur();"
        :to="item.url">
        <i
            v-if="item.icon"
            :class="'AIF-Tabs__Icon fal fa-fw fa-' + item.icon">
        </i>
        {{ item.content }}
    </router-link>
    <div class="AIF-Tabs__Right">
        <router-link 
            tabindex="0"
            v-for="item in items"
            v-if="item.align == 'right'"
            :key="item.content"
            :class="{
                'AIF-Tabs__Item': 1,
                'AIF-Tabs__Item--active': item.value == value,
            }"
            @click.prevent="switchTab(item)"
            onclick="this.blur();"
            :to="item.url">
            <i
                v-if="item.icon"
                :class="'AIF-Tabs__Icon fal fa-fw fa-' + item.icon">
            </i>
            {{ item.content }}
        </router-link>
        <a
            tabindex="0"
            v-if="nullContent && valueNotInItems"
            class="AIF-Tabs__Item AIF-Tabs__Item--active AIF-Tabs__Item--null">
            {{ nullContent }}
        </a>
    </div>
</div>
</template>

<script>
export default {
    props: {
        items: {
            type: Array,
            default() { return []; },
        },
        value: [Object, Array, String, Number],
        nullContent: String,
    },
    computed: {
        valueNotInItems() {
            if (!this.value || !this.items || this.items.length < 1) {
                return true;
            }
            return this.items.map(item => item.value).indexOf(this.value) == -1;
        },
    },
    methods: {
        switchTab(item) {
            this.$emit('change', item.value);
        },
    },
};
</script>


<style lang="scss">
.AIF-Tabs {
    display: flex;
    flex-wrap: wrap;
    
    &__Item {
        color: #888888;
        padding: 0.5rem;
        border-bottom: 0.1rem solid transparent;
        cursor: pointer;
        
        text-decoration: none;
        transition: color 0.1s outline-color 0.3s;
        
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            opacity: 0;
            transition: width 0.1s, opacity 0.1s;
            background: linear-gradient(to right, var(--brand-color-dark), var(--brand-alt-color-dark));
        }
        
        &:hover {
            color: #cccccc;
            &::after {
                width: 100%;
                opacity: 1;
            }
        }
        
        &--active,
        &--partialMatch.router-link-active {
            color: white;
            
            &::after {
                background: linear-gradient(to right, var(--brand-color), var(--brand-alt-color));
                width: 100%;
                opacity: 1;
            }
        }
        
    }
    
    &__Right {
        display: flex;
        margin-left: auto;
    }
    
    &__Icon {
    }
}
</style>