<template>
<div class="AIF-TextField">
    <label 
        v-if="label"
        class="AIF-TextField__Label">
        {{ label }}
    </label>
    <input
        ref="input"
        tabindex
        v-shortkey.avoid
        class="AIF-TextField__Input"
        :value="value"
        :type="type"
        :placeholder="placeholder"
        @keydown="onKeyDown"
        @input="onInput"
        @change="onChange"/>
</div>
</template>

<script>
export default {
    model: {
        prop: 'value',
        'event': 'change',
    },
    props: {
        value: String,
        label: String,
        placeholder: String,
        submittable: Boolean,
        type: {
            type: String,
            default: 'text',
        },
    },
    methods: {
        onInput(e) {
            this.$emit('input', e.target.value);
        },
        onKeyDown(e) {
            if (this.submittable && e.key == 'Enter') {
                this.$emit('submit');
            }
            console.log(e);
            this.$emit('key-down', e);
        },
        onChange(e) {
            this.$emit('change', e.target.value);
        },
        
        
        focus() {
            this.$refs.input.focus();
        },
    },
};
</script>

<style lang="scss">
.AIF-TextField {
    position: relative;
    
    
    &__Label {
        display: block;
        padding-bottom: 0.5rem;
    }
    &__Input {
        display: block;
        width: 100%;
        
        background: rgba(0,0,0,0.1);
        border: 1px solid rgba(255,255,255,0.4);
        border-radius: 0.5rem;
        color: #ccc;
        padding: 1rem;
    }
}
</style>
        
        