<template>
<span :class="{
        'AIF-AppText': 1,
        'AIF-AppText--subdued': subdued,
        'AIF-AppText--strong': strong,
        'AIF-AppText--positive': positive,
        'AIF-AppText--negative': negative,
        'AIF-AppText--brand': brand,
        'AIF-AppText--brandAlt': brandAlt,
    }"><slot></slot></span>
</template>

<script>
export default {
    props: {
        subdued: Boolean,
        strong: Boolean,
        positive: Boolean,
        negative: Boolean,
        brand: Boolean,
        brandAlt: Boolean,
    },
};
</script>

<style lang="scss">
.AIF-AppText {
    &--subdued {
        color: #999;
    }
    &--strong {
        font-weight: bold;
    }
    &--positive {
        color: #00ff00;
    }
    &--negative {
        color: #ff0000;
    }
    &--brand {
        color: #ff00ff;
    }
    &--brandAlt {
        color: #00ffff;
    }
}
</style>