<template>
<app-button
    @click="onClick"
    :class="{
        'AIF-AppToggleButton': 1,
        'AIF-AppToggleButton--active': active,
    }">
    <slot></slot>
</app-button>
</template>

<script>
export default {
    props: {
        active: Boolean,
    },
    methods: {
        onClick() {
            this.$emit('click');
        },
    },
}
</script>


<style lang="scss">
.AIF-AppToggleButton {
    &.AIF-AppButton {
        padding: 0.25rem;
        background: black;
        color: white;
        filter: grayscale(1);
    }
    
    &--active {
        &.AIF-AppButton {
            border-color: #ff00ff;
            filter: none;
        }
    }
}
</style>