<template>
    <app-layout>
        <app-layout-section>
            <app-card title="Important: Current Suggestion Guidelines">
                <app-card-section>
                    <app-text strong>
                        Please read the guidance in this section to ensure
                        your suggestion isn't rejected.
                    </app-text>
                </app-card-section>
                <app-card-section>
                    Please don't submit suggestions on the following topics at this time:
                    <ul>
                        <li>Hair styles/colors.</li>
                        <li>Facial expressions.</li>
                        <li>Everyday activities (i.e. walking, eating, sitting), unless they are linked to a specific fetish or interest.</li>
                        <li>Everyday clothing.</li>
                        <li>Locations.</li>
                    </ul>
                    Our handling of these categories is still under discussion,
                    so any suggestions related to them are likely to be rejected.
                </app-card-section>
            </app-card>
        </app-layout-section>
        <app-layout-section>
            <app-card title="Create new suggestion">
                <app-card-section title="Suggestion Type">
                    <select
                        v-model="suggestion.type">
                        <option value="new-tag">
                            Suggest a new standalone tag
                        </option>
                        <option value="new-alias" disabled>
                            Suggest a new alias for an existing tag
                        </option>
                    </select>
                </app-card-section>
                <app-card-section 
                    v-if="false"
                    title="Tag alias">
                </app-card-section>
                <app-card-section title="Tag Namespace">
                    <select
                        v-model="suggestion.new_tag_ns_id">
                        <option
                            :value="null">
                            No namespace (general tag)
                        </option>
                        <option
                            v-for="ns in tag_namespaces"
                            :value="ns.id">
                            {{ ns.key }}
                        </option>
                    </select>
                    <br>
                    <br>
                    <div v-if="selectedNamespace">
                        {{ selectedNamespace.description }}
                    </div>
                    <div v-else>
                        Notice: Only 'general tags' should be outside of a namespace.
                        The bar for including 'general tags' is typically higher than that for other
                        types of tag. Examples of 'general tags' include fetishes (i.e. 'cuckold') and
                        gender-neutral qualifiers (i.e. 'amateur').
                    </div>
                </app-card-section>
                <app-card-section title="Tag key">
                    <p>
                        Specify the name or 'key' for this tag.
                        Pick something non-regional and unambiguous.
                        If in doubt, avoid slang and prefer dictionary definitions.
                    </p>
                    <p>
                        Tag keys should be written in lowercase and words should be separated
                        using underscores. Any other format will be rejected.
                    </p>
                    <app-text-field
                        v-model="suggestion.new_tag_key"
                        placeholder="i.e. 'lactation'"/>
                </app-card-section>
                <app-card-section title="Tag description">
                    <p>
                        Describe the purpose of the tag. Perhaps mention
                        similar or associated tags. Try to make your 
                        description similar in tone of voice to that used in
                        existing tags. Keep the description to around 1-3 sentences.
                    </p>
                    <app-text-field
                        v-model="suggestion.new_tag_description"
                        placeholder="i.e. 'When milk is being secreted from the mammary glands.'"/>
                </app-card-section>
                <app-card-section title="Notice">
                    <p>
                        By making a suggestion, your username will be visible
                        to other users.
                    </p>
                    <p>
                        After your suggestion is submitted, other users will be able
                        to vote on it. We will regularly review highly-upvoted suggestions.
                    </p>
                </app-card-section>
                <app-card-section>
                    <app-button
                        @click="onCreate"
                        primary>
                        Create suggestion
                    </app-button>
                </app-card-section>
            </app-card>
        </app-layout-section>
    </app-layout>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

import TagBadge from '@/components/TagBadge';
import TagSuggestionList from '@/components/TagSuggestionList';

export default {
    components: {
        TagBadge,
        TagSuggestionList,
    },
    data() {
        return {
            suggestion: {
                type: 'new-tag',
                new_tag_ns_id: null,
                new_tag_key: null,
                new_tag_description: null,
            },
            
            tag_namespaces: null,
        };
    },
    computed: {
        selectedNamespace() {
            if (!this.tag_namespaces) {
                return null;
            }
            if (!this.suggestion.new_tag_ns_id) {
                return null;
            }
            for (let ns of this.tag_namespaces) {
                if (ns.id == this.suggestion.new_tag_ns_id) {
                    return ns;
                }
            }
            return null;
        }
    },
    mounted() {
        this.initialize();
    },
    methods: {
        async initialize() {
            var res = await api.get('/info/tags/namespaces');
            this.tag_namespaces = res.data.tag_namespaces;
            
            var query = this.$route.query.tag;
            if (query) {
                var parts = query.split(':');
                var ns = null;
                if (parts.length > 1) {
                    var nsKey = parts[0];
                    for (let tagNs of this.tag_namespaces) {
                        if (tagNs.key == nsKey || tagNs.shortkey == nsKey) {
                            ns = tagNs.id;
                            query = parts[1];
                            break;
                        }
                    }
                }
                
                this.suggestion.new_tag_ns_id = ns;
                this.suggestion.new_tag_key = query;
            }
        },
        async onCreate() {
            try {
                var res = await api.post('/info/tags/suggestions', this.suggestion);
            } catch (e) {
                if (e.response && e.response.status == 422) {
                    var errorBag = e.response.data.errors;
                    alert.showAlert(Object.values(errorBag)[0][0]);
                } else {
                    throw e;
                }
            }
            
            if (res.data.success) {
                alert.showAlert('Succesfully created suggestion.');
                var tag = this.suggestion.new_tag_key;
                if (this.selectedNamespace) {
                    tag = this.selectedNamespace.key + ':' + tag;
                }
                this.$router.push({
                    name: 'AboutSuggestTagsSearch',
                    query: {
                        q: tag,
                    }
                });
            } else {
                if (res.data.message) {
                    alert.showAlert(res.data.message);
                } else {
                    alert.showAlert('Couldn\'t create that suggestion.');
                }
            }
        },
    },
}
</script>

<style lang="scss">
.AIF-AboutTags {
    &__List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
</style>