<template>
    <app-layout>
        <app-layout-section>
            <app-card
                title="Tags">
                <app-card-section>
                    <p>
                        AIFap uses tags to record additional information about posts.
                    </p>
                    <p>
                        Here you can view the full list of tags we're using at the moment.
                    </p>
                </app-card-section>
                <app-card-section>
                    <app-button
                        @click="$router.push({name:'AboutSuggestTagsTop'})">
                        Tag suggestions
                    </app-button>
                </app-card-section>
            </app-card>
        </app-layout-section>
        <app-layout-section>
            <tag-explorer
                :tags="tags"/>
        </app-layout-section>
    </app-layout>
</template>

<script>
import api from '@/http/api';

import TagBadge from '@/components/TagBadge';
import TagExplorer from '@/components/TagExplorer';

export default {
    components: {
        TagBadge,
        TagExplorer,
    },
    data() {
        return {
            tags: null,
        };
    },
    mounted() {
        this.initialize();
    },
    methods: {
        async initialize() {
            var res = await api.get('/info/tags');
            this.tags = res.data.tags;
        },
    },
}
</script>

<style lang="scss">
.AIF-AboutTags {
    &__List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
</style>