<template>
    <app-layout>
        <app-layout-section>
            <app-card title="Your suggestions">
                <app-card-section>
                    <tag-suggestion-list
                        :suggestions="suggestions.data"
                        @vote="onVote"/>
                </app-card-section>
                <app-card-section>
                    <app-button
                        :subdued="page <= 1"
                        :disabled="page <= 1"
                        @click="prev">
                        <i class="fal fa-arrow-left"></i>
                    </app-button>
                    <app-button
                        :subdued="page >= suggestions.last_page"
                        :disabled="page >= suggestions.last_page"
                        @click="next">
                        <i class="fal fa-arrow-right"></i>
                    </app-button>
                </app-card-section>
            </app-card>
        </app-layout-section>
    </app-layout>
</template>

<script>
import api from '@/http/api';

import TagSuggestionList from '@/components/TagSuggestionList';

export default {
    components: {
        TagSuggestionList,
    },
    data() {
        return {
            suggestions: null,
            page: 1,
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        next() {
            this.page++;
            this.load();
        },
        prev() {
            this.page--;
            this.load();
        },
        async load() {
            var res = await api.get('/info/tags/suggestions/mine', {
                params: {
                    page: this.page,
                },
            });
            this.suggestions = res.data.tag_suggestions;
            this.page = this.suggestions.current_page;
        },
        async onVote({ suggestion, type }) {
            var res = await api.post('/info/tags/suggestions/' + suggestion.id + '/vote', {
                type,
            });
            
            var newSuggestion = res.data.tag_suggestion;
            Object.assign(suggestion, newSuggestion);
        },
    },
}
</script>

<style lang="scss">
.AIF-AboutTags {
    &__List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
</style>