<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="Subreddits">
            <app-card-section>
                <p>
                    AIFap regularly pulls new posts from NSFW subreddits.
                </p>
                <p>
                    Here you can view the full list of the subreddits we're using at the moment.
                </p>
                <p>
                    Want to suggest a new subreddit? Fill out
                    <a href="https://goo.gl/forms/neHidtvkMr7EDVEZ2">
                        this form.
                    </a>
                </p>
            </app-card-section>
            <app-card-section>
                <dl class="AIF-AboutSubreddits__List">
                    <template v-for="subreddit in subreddits">
                        <dt>
                            <subreddit-badge
                                :id="subreddit.id"
                                :title="subreddit.title"/>
                        </dt>
                    </template>
                </dl>
            </app-card-section>
        </app-card>
    </app-layout-section>
</app-layout>
</template>

<script>
import api from '@/http/api';

import SubredditBadge from '@/components/SubredditBadge';

export default {
    components: {
        SubredditBadge,
    },
    data() {
        return {
            subreddits: null,
        };
    },
    mounted() {
        this.initialize();
    },
    methods: {
        async initialize() {
            var res = await api.get('/info/subreddits');
            this.subreddits = res.data.subreddits;
        },
    },
}
</script>

<style lang="scss">
.AIF-AboutSubreddits {
    &__List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
</style>