<template>
<app-page 
    fixed-width
    has-tabs
    title="Content"
    description="Information about how we collect and categorize our content.">
    <template slot="tabs">
        <app-tabs
            :value="selectedTab"
            @change="changeTab"
            :items="[
       //         makeLink('Indexing', 'database', 'ContentSubreddits'),
                makeLink('Subreddits', 'list', 'ContentSubreddits'),
                makeLink('Tags', 'tags', 'ContentTags'),
                makeLink('Tag Suggestions', 'user-tag', 'ContentSuggestTagsTop', null, true),
            ]"
            null-content="Results"/>
    </template>
    <router-view></router-view> 
</app-page>
</template>

<script>
export default {
    computed: {
        selectedTab() {
            return this.$route.name;
        },
    },
    methods: {
        makeLink(name, icon, route, align, partialMatch) {
            return {
                content: name,
                icon: icon,
                value: route,
                url: this.$router.resolve({name: route}).href,
                align: align || null,
                partialMatch: partialMatch || false,
            };
        },
        changeTab(routeName) {
            this.$router.push({name: routeName});
        }
    },
};
</script>