<template>
    <app-layout>
        <app-layout-section>
            <app-card title="Recently added">
                <app-card-section>
                    These suggestions have been added to the system as new
                    tags or aliases.
                </app-card-section>
                <app-card-section>
                    <tag-suggestion-list
                        :can-vote="false"
                        :suggestions="suggestions.added.data"/>
                </app-card-section>
                <app-card-section>
                    <app-button
                        :subdued="addedPage <= 1"
                        :disabled="addedPage <= 1"
                        @click="prevAdded">
                        <i class="fal fa-arrow-left"></i>
                    </app-button>
                    <app-button
                        :subdued="addedPage >= suggestions.added.last_page"
                        :disabled="addedPage >= suggestions.added.last_page"
                        @click="nextAdded">
                        <i class="fal fa-arrow-right"></i>
                    </app-button>
                </app-card-section>
            </app-card>
        </app-layout-section>
        <app-layout-section>
            <app-card title="Recently placed on-hold">
                <app-card-section>
                    These suggestions are on-hold for now, but we plan
                    to add them in the future.
                </app-card-section>
                <app-card-section>
                    <tag-suggestion-list
                        :can-vote="false"
                        :suggestions="suggestions.onhold.data"/>
                </app-card-section>
                <app-card-section>
                    <app-button
                        :subdued="onholdPage <= 1"
                        :disabled="onholdPage <= 1"
                        @click="prevOnhold">
                        <i class="fal fa-arrow-left"></i>
                    </app-button>
                    <app-button
                        :subdued="onholdPage >= suggestions.onhold.last_page"
                        :disabled="onholdPage >= suggestions.onhold.last_page"
                        @click="nextOnhold">
                        <i class="fal fa-arrow-right"></i>
                    </app-button>
                </app-card-section>
            </app-card>
        </app-layout-section>
        <app-layout-section>
            <app-card title="Recently rejected">
                <app-card-section>
                    These suggestions have been rejected and will not be added to the system.
                </app-card-section>
                <app-card-section>
                    <tag-suggestion-list
                        :can-vote="false"
                        :suggestions="suggestions.rejected.data"/>
                </app-card-section>
                <app-card-section>
                    <app-button
                        :subdued="rejectedPage <= 1"
                        :disabled="rejectedPage <= 1"
                        @click="prevRejected">
                        <i class="fal fa-arrow-left"></i>
                    </app-button>
                    <app-button
                        :subdued="rejectedPage >= suggestions.rejected.last_page"
                        :disabled="rejectedPage >= suggestions.rejected.last_page"
                        @click="nextRejected">
                        <i class="fal fa-arrow-right"></i>
                    </app-button>
                </app-card-section>
            </app-card>
        </app-layout-section>
    </app-layout>
</template>

<script>
import api from '@/http/api';

import TagBadge from '@/components/TagBadge';
import TagSuggestionList from '@/components/TagSuggestionList';

export default {
    components: {
        TagBadge,
        TagSuggestionList,
    },
    data() {
        return {
            suggestions: {
                added: null,
                onhold: null,
                rejected: null,
            },
            
            addedPage: 1,
            onholdPage: 1,
            rejectedPage: 1,
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        async load() {
            this.loadAdded();
            this.loadOnhold();
            this.loadRejected();
        },
        async loadAdded() {
            api.get('/info/tags/suggestions/recent', {
                params: {
                    status: 'added',
                    page: this.addedPage,
                }
            }).then(res => {
                this.suggestions.added = res.data.tag_suggestions;
            });
        },
        async loadOnhold() {
            api.get('/info/tags/suggestions/recent', {
                params: {
                    status: 'on-hold',
                    page: this.onholdPage,
                }
            }).then(res => {
                this.suggestions.onhold = res.data.tag_suggestions;
            });
        },
        async loadRejected() {
            api.get('/info/tags/suggestions/recent', {
                params: {
                    status: 'rejected',
                    page: this.rejectedPage,
                }
            }).then(res => {
                this.suggestions.rejected = res.data.tag_suggestions;
            });
        },
        async onVote({ suggestion, type }) {
            var res = await api.post('/info/tags/suggestions/' + suggestion.id + '/vote', {
                type,
            });
            
            var newSuggestion = res.data.tag_suggestion;
            Object.assign(suggestion, newSuggestion);
        },
        nextAdded() {
            this.addedPage++;
            this.loadAdded();
        },
        prevAdded() {
            this.addedPage--;
            this.loadAdded();
        },
        nextOnhold() {
            this.onholdPage++;
            this.loadOnhold();
        },
        prevOnhold() {
            this.onholdPage--;
            this.loadOnhold();
        },
        nextRejected() {
            this.rejectedPage++;
            this.loadRejected();
        },
        prevRejected() {
            this.rejectedPage--;
            this.loadRejected();
        },
    },
}
</script>

<style lang="scss">
.AIF-AboutTags {
    &__List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
</style>