<template>
    <app-layout>
        <app-layout-section>
            <app-card
                title="What is AIFap?">
                <app-card-section>
                    <p>
                        AIFap is a platform which indexes and recommends porn.
                        Posts are sourced from Reddit, and the recommendations are
                        powered by your own likes and dislikes.
                        The more your rate, the better our recommendations will get.
                    </p>
                    <p>
                        The project was started in the wake of the shutdown of BetterFap,
                        the original ML-powered porn platform.
                    </p>
                    <p>
                        The platform is developed by anonymous individuals interested in improving porn using machine learning.
                        We are not associated in any way with the BetterFap team.
                    </p>
                </app-card-section>
                <app-card-section
                    title="Contact">
                    You can contact us by:
                    <ul>
                        <li>
                            Emailing
                            <app-plain-link href="mailto:aifapdeveloper@gmail.com">
                                aifapdeveloper@gmail.com
                            </app-plain-link>
                        </li>
                        <li>
                            Joining our discord using this link:
                            <app-plain-link href="https://discord.gg/5f3bsDd">
                                https://discord.gg/5f3bsDd
                            </app-plain-link>
                        </li>
                    </ul>
                </app-card-section>
            </app-card>
        </app-layout-section>
        <app-layout-section>
            <support-us-banner/>
        </app-layout-section>
    </app-layout>
</template>

<script>
import SupportUsBanner from '@/components/SupportUsBanner';

export default {
    components: {
        SupportUsBanner,
    },
};
</script>