<template>
<feed-view
    :title="list.title"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    :can-remove="ownsList"
    @remove="onRemove"
    feed-icon="asterisk">
    <template slot="description">
        <p>
            <app-text subdued>
                <i class="fal fa-fw fa-asterisk"></i>
                {{ list.user.username }}'s list.
            </app-text>
        </p>
        <p v-if="list.description">
            {{ list.description }}
        </p>
        <p v-else>
            <app-text subdued>
                (No description.)
            </app-text>
        </p>
    </template>
</feed-view>
</template>

<script>
import api from '@/http/api';
import session from '@/http/session';

import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';


export default {
    components: {
        FeedView,
    },
    data() {
        return {
            list_id: null,
            list: null,
            user: null,
        };
    },
    watch: {
        '$route': () => {
            this.initialize();
        },
    },
    created() {
        this.initialize();
    },
    computed: {
        ownsList() {
            return this.user && this.list && this.list.user_id == this.user.id;
        },
    },
    methods: {
        async initialize() {
            this.list_id = this.$route.params.id;
            
            var res = await api.get('/saved_lists/' + this.list_id);
            this.list = res.data.saved_list;
            
            this.user = await session.getUser();
        },
        async createSession() {
            return await feedSessions.getSavedListSession(this.list_id);
        },
        async onRemove(post) {
            var res = await api.post(`/saved_lists/${this.list_id}/posts/${post.id}/delete`, {});
            window.location.reload();
        },
        
    },
}
</script>
