<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="My lists">
            <app-card-section>
                <p>
                    Create lists to organize your favorite posts
                    by interest or theme. 
                </p>
            </app-card-section>
            <app-card-section>
                <app-button
                    primary
                    @click="createPopupOpen = true">
                    Create new list
                </app-button>
            </app-card-section>
        </app-card>
    </app-layout-section>
    <app-layout-section>
        <list-explorer
            :lists="lists"
            @edit-list="editList"/>
    </app-layout-section>
    <popup-create-list
        :open="createPopupOpen"
        @close="createPopupOpen = false"
        @create-list="createList"/>
    <popup-edit-list
        :open="!!editingList"
        :current-title="editingList ? editingList.title : null"
        :current-description="editingList ? editingList.description : null"
        :current-is-public="editingList ? editingList.is_public : null"
        @update-list="updateList"
        @delete-list="deleteList"
        @close="editingList = null"/>
</app-layout>
</template>

<script>
import api from '@/http/api';
import alert from '@/services/alert';

import ListExplorer from '@/components/ListExplorer';
import PopupCreateList from '@/components/PopupCreateList';
import PopupEditList from '@/components/PopupEditList';


export default {
    components: {
        ListExplorer,
        PopupCreateList,
        PopupEditList,
    },
    data() {
        return {
            createPopupOpen: false,
            lists: [],
            
            editingList: null,
        };
    },
    methods: {
        async initialize() {
            var res = await api.get('/saved_lists');
            this.lists = res.data.saved_lists;
        },
        async createList(list) {
            try {
                var res = await api.post('/saved_lists', list);
                this.lists.splice(0, 0, res.data.saved_list);
                this.createPopupOpen = false;
            } catch (e) {
                if (e.response && e.response.status == 422) {
                    var errorBag = e.response.data.errors;
                    alert.showAlert(Object.values(errorBag)[0][0]);
                    return;
                } else {
                    throw e;
                }
            }
        },
        editList(list) {
            this.editingList = list;
        },
        async updateList(newList) {
            try {
                var res = await api.post('/saved_lists/' + this.editingList.id, newList);
                this.lists.splice(this.lists.indexOf(this.editingList), 1, res.data.saved_list);
                this.editingList = null;
            } catch (e) {
                if (e.response && e.response.status == 422) {
                    var errorBag = e.response.data.errors;
                    alert.showAlert(Object.values(errorBag)[0][0]);
                    return;
                } else {
                    throw e;
                }
            }
        },
        async deleteList() {
            if (!window.confirm('Are you sure you want to delete this list?')) {
                return;
            }
            try {
                var res = await api.post('/saved_lists/' + this.editingList.id + '/delete', {});
                this.lists.splice(this.lists.indexOf(this.editingList), 1);
                this.editingList = null;
            } catch (e) {
                if (e.response && e.response.status == 422) {
                    var errorBag = e.response.data.errors;
                    alert.showAlert(Object.values(errorBag)[0][0]);
                    return;
                } else {
                    throw e;
                }
            }
        },
    },
    mounted() {
        this.initialize();
    },
}
</script>
