<template>
<app-layout>
    <app-layout-section>
        <user-trust/>
    </app-layout-section>
    <!--
    <app-layout-section>
        <user-progression/>
    </app-layout-section>
    -->
</app-layout>
</template>

<script>
import UserTrust from '@/components/UserTrust';
import UserProgression from '@/components/UserProgression';

export default {
    components: {
        UserTrust,
        UserProgression,
    },
};
</script>