<template>
<app-page
    fixed-width
    has-tabs
    title="Profile"
    description="Settings and statistics associated with your account.">
    <template slot="tabs">
        <app-tabs
            :value="selectedTab"
            @change="changeTab"
            :items="[
                makeLink('Account', 'user', 'ProfileAccount'),
                makeLink('Trust', 'shield-alt', 'ProfileProgression'),
                makeLink('Supporter', 'heart-square', 'ProfileSupporter'),
                makeLink('Ratings summary', 'chart-bar', 'ProfileRatingsSummary'),
                makeLink('Security', 'lock', 'ProfileSecurity'),
                makeLink('Content Preferences', 'eye-slash', 'ProfileContentPrefs'),
                makeLink('Settings', 'cog', 'ProfileSettings'),
            ]"
            null-content="Results"/>
    </template>
   <router-view></router-view> 
</app-page>
</template>

<script>
export default {
    computed: {
        selectedTab() {
            return this.$route.name;
        },
    },
    methods: {
        makeLink(name, icon, route, align) {
            return {
                content: name,
                icon: icon,
                value: route,
                url: this.$router.resolve({name: route}).href,
                align: align || null,
            };
        },
        changeTab(routeName) {
            this.$router.push({name: routeName});
        }
    },
};
</script>
