<template>
<app-layout>
    <app-layout-section>
        <user-account/>
    </app-layout-section>
</app-layout>
</template>

<script>
import UserAccount from '@/components/UserAccount';

export default {
    components: {
        UserAccount,
    },
};
</script>