<template>
<app-layout>
    <app-layout-section>
        <user-settings/>
    </app-layout-section>
</app-layout>
</template>

<script>
import UserSettings from '@/components/UserSettings';

export default {
    components: {
        UserSettings,
    },
};
</script>