<template>
<app-layout>
    <app-layout-section>
        <user-reset-password/>
    </app-layout-section>
</app-layout>
</template>

<script>
import UserResetPassword from '@/components/UserResetPassword';

export default {
    components: {
        UserResetPassword,
    },
};
</script>