<template>
<app-layout>
    <app-layout-section>
        <user-content-prefs/>
    </app-layout-section>
</app-layout>
</template>

<script>
import UserContentPrefs from '@/components/UserContentPrefs';

export default {
    components: {
        UserContentPrefs,
    },
};
</script>