<template>
<app-layout>
    <app-layout-section>
        <user-supporter/>
    </app-layout-section>
</app-layout>
</template>

<script>
import UserSupporter from '@/components/UserSupporter';

export default {
    components: {
        UserSupporter,
    },
};
</script>