<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="AIFap Terms & Conditions">
            <app-card-section>
            TERMS
            </app-card-section>
        </app-card>
    </app-layout-section>
</app-layout>
</template>
