<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="DMCA Information">
            <app-card-section>
                <p>
                    AIFap is a link aggregator and recommendation service which
                    pulls content from Reddit.com.
                    We do not host any of the content that we link to, and all
                    content is submitted by users to Reddit.com.
                </p>
                <p>
                    Removing a post from AIFap will not remove the original
                    content from the internet. To get the content removed from
                    the internet, we suggest that 
                    copyright holders should contact the actual 
                    host of the content (typically Gftcat, Imgur, or another image/video host),
                    who will have their own DMCA process.
                    You can find a link to the actual host below the post, in the 
                    field called 'Source' or 'Media'.
                </p>
            </app-card-section>
            <app-card-section
                title="Reporting claims of copyright infringment">
                <p>
                    We take claims of copyright infringement seriously. 
                    We will respond to notices of alleged copyright infringement 
                    that comply with the Digital Millennium Copyright Act 
                    (the “DMCA”) or any other applicable intellectual property 
                    legislation or laws. Responses may include removing, 
                    blocking or disabling access to material claimed to be 
                    the subject of infringing activity.
                </p>
                <p>
                    If you believe any material accessible on AIFap 
                    infringes your copyright, you may submit a copyright 
                    infringement notification (see below, “Filing a DMCA Notice of Copyright Infringement” 
                    for instructions on filing such a notice). These requests 
                    should only be submitted by the copyright owner or an 
                    agent authorized to act on the owner’s behalf.
                </p>
                <p>
                    All copyright infringement notifications and 
                    counter-notifications must be written in English. 
                    Any attempted notifications written in foreign languages 
                    or using foreign characters may, at our discretion, 
                    be deemed non-compliant and disregarded.
                </p>
            </app-card-section>
            <app-card-section
                title="Filing a DMCA Notice of Copyright Infringement">
                <p>
                    You may notify AIFap of alleged copyright infringement 
                    by emailing us at aifapdeveloper@gmail.com
                </p>
                <p>
                    In accordance with the DMCA, your notice must include substantially the following:
                </p>
                <ul>
                    <li>Identification of the copyrighted work you 
                        believe to have been infringed or, if the claim 
                        involves multiple works, a representative list of such works.</li>
                    <li>Identification of the material you believe to be 
                        infringing in a sufficiently precise manner to allow 
                        us to locate that material. If your complaint does 
                        not contain the specific URL of the post you believe 
                        infringes your rights, we may be unable to locate 
                        and remove it. General information about the post, 
                        such as the title, is typically not adequate. Please 
                        include the URL(s) of the exact post.</li>
                    <li>Adequate information by which we can contact you (including 
                        your name, postal address, telephone number and, 
                        if available, e-mail address).</li>
                    <li>A statement that you have a good faith belief that 
                        use of the copyrighted material is not authorized 
                        by the copyright owner, its agent or the law.
                    <li>A statement that the information in the written notice 
                        is accurate, and under penalty of perjury, that you 
                        are the owner, or an agent authorized to act on behalf 
                        of the owner, of an exclusive right that is allegedly infringed.</li>
                    <li>Complete complaints require the physical or electronic 
                        signature of the copyright owner or a representative authorized 
                        to act on their behalf. To satisfy this requirement, 
                        you may type your full legal name to act as your 
                        signature at the bottom of your complaint.</li>
                </ul>
                <p>
                    If you fail to comply with all of the requirements of 
                    Section 512(c)(3) of the DMCA, your DMCA Notice may not be effective.
                </p>
                <p>
                    Please be aware that if you knowingly materially misrepresent 
                    that material or activity on AIFap is infringing your 
                    copyright, you may be held liable for damages (including 
                    costs and attorneys’ fees) under Section 512(f) of the DMCA.
                </p>
                <p>
                    The copyright owner’s name may be published on AIFap in 
                    place of disabled content. This would become part of the 
                    public record of your DMCA Notice, along with your 
                    description of the work(s) allegedly infringed. By 
                    submitting a DMCA Notice, you consent to having this 
                    information made public in this way.
                </p>
            </app-card-section>
        </app-card>
    </app-layout-section>
</app-layout>
</template>
