<template>
<app-layout>
    <app-layout-section>
        <app-card
            title="Mixer">
            <app-card-section>
                <p>
                    Mix and match interests to generate bespoke recommendations.
                </p>
            </app-card-section>
        </app-card>
    </app-layout-section>
</app-layout>
</template>

<script>
import VueSlideBar from 'vue-slide-bar';

import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        VueSlideBar,
        FeedView,
    },
    methods: {
    },
}
</script>
