<template>
<feed-view
    title="Disliked & Hated"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    :show-sort-filter="true"
    :sort-orders="[
        {label: 'Newest', value: 'default'},
        {label: 'Shuffle', value: 'shuffle'},
    ]"
    feed-icon="thumbs-down">
    <template slot="description">
        This feed contains all of the posts that you disliked or hated.
    </template>
</feed-view>
</template>

<script>
import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getRatingSession(['dislike', 'hate']);
        }
    },
}
</script>