<template>
<app-page
    has-tabs
    title="My stuff"
    description="Posts you've seen and interacted with.">
    <template slot="tabs">
        <app-tabs
            :value="selectedTab"
            @change="changeTab"
            :items="[
                makeLink('Liked/Loved', 'thumbs-up', 'LikedLoved'),
                makeLink('Loved', 'heart', 'Loved'),
                makeLink('Disliked/Hated', 'thumbs-down', 'DislikedHated'),
                makeLink('Lists', 'books', 'MyLists'),
                makeLink('Watch Later', 'bookmark', 'WatchLater'),
                makeLink('Viewed', 'eye', 'Viewed', 'right'),
                makeLink('Private posts', 'user-secret', 'PrivatePosts', 'right'),
            ]"/>
    </template>
    <router-view></router-view>
</app-page>
</template>

<script>
export default {
    computed: {
        selectedTab() {
            return this.$route.name;
        },
    },
    methods: {
        makeLink(name, icon, route, align) {
            var r =  {
                content: name,
                icon: icon,
                value: route,
                url: this.$router.resolve({name: route}).href,
                align: align || null,
            };
            console.log({r});
            return r;
        },
        changeTab(routeName) {
            this.$router.push({name: routeName});
        }
    },
}
</script>