<template>
<feed-view
    title="Private posts"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    :show-sort-filter="true"
    :sort-orders="[
        {label: 'Newest', value: 'default'},
        {label: 'Shuffle', value: 'shuffle'},
    ]"
    feed-icon="user-secret">
    <template slot="description">
        This feed contains posts that are only visible to you.
        These are typically posts that you've imported but we haven't found
        the source for yet.
    </template>
</feed-view>
</template>

<script>
import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';

export default {
    components: {
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getPrivatePostsSession();
        }
    },
}
</script>
