<template>
<feed-view
    title="Watch later"
    :create-session="createSession"
    :refresh-on-init="true"
    :allow-manual-refresh="true"
    :show-sort-filter="true"
    :sort-orders="[
        {label: 'Newest', value: 'default'},
        {label: 'Shuffle', value: 'shuffle'},
    ]"
    feed-icon="bookmark">
    <template slot="description">
        This feed all of the posts that you've saved for later.
    </template>
    <template slot="sessionControls" slot-scope="scope">
        <app-card-section>
            <app-button
                @click="onClearWatchLater().then(scope.refresh)">
                Clear watch later list
            </app-button>
        </app-card-section>
    </template>
</feed-view>
</template>

<script>
import api from '@/http/api';
import FeedView from '@/components/FeedView';
import feedSessions from '@/services/feedSessions';
import alert from '@/services/alert';

export default {
    components: {
        FeedView,
    },
    methods: {
        async createSession() {
            return await feedSessions.getWatchLaterSession();
        },
        async onClearWatchLater() {
            var res = await api.post('/account/clear_watch_later', {});
            alert.showAlert('Watch later cleared.');
        },
    },
}
</script>
